{% extends 'IvoryCKEditorBundle:Form:ckeditor_widget.html.twig' %}
{% block ckeditor_widget %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>

    {% if enable and not async %}
        {{ block('_ckeditor_javascript') }}
    {% endif %}
{% endblock %}

{% block ckeditor_javascript %}
    {% if enable and async %}
        {{ block('_ckeditor_javascript') }}
    {% endif %}
{% endblock %}

{% block _ckeditor_javascript %}
    {% if autoload %}
        <script type="text/javascript">
            var CKEDITOR_BASEPATH = "{{ ckeditor_base_path(base_path) }}";
        </script>
        <script type="text/javascript" src="{{ ckeditor_js_path(js_path) }}"></script>
        {% if jquery %}
            <script type="text/javascript" src="{{ ckeditor_js_path(jquery_path) }}"></script>
        {% endif %}
    {% endif %}
    <script type="text/javascript">
        {% if jquery %}
        $(function () {
            {% endif %}

            {% if require_js %}
            require(['ckeditor'], function() {
                {% endif %}

                {{ ckeditor_destroy(id) }}

                {% for plugin_name, plugin in plugins %}
                {{ ckeditor_plugin(plugin_name, plugin) }}
                {% endfor %}

                {% for style_name, style in styles %}
                {{ ckeditor_styles_set(style_name, style) }}
                {% endfor %}

                {% for template_name, template in templates %}
                {{ ckeditor_template(template_name, template) }}
                {% endfor %}

                {% block ckeditor_widget_extra %}{% endblock ckeditor_widget_extra %}

                {{ ckeditor_widget(id, config, {
                    auto_inline: auto_inline,
                    inline: inline,
                    input_sync: input_sync,
                    filebrowsers: filebrowsers
                }) }}

                {% if require_js %}
            });
            {% endif %}

            {% if jquery %}
        });
        {% endif %}
    </script>
{% endblock %}
