{% block sku_widget %}
    {% spaceless %}
        {%- set type = type|default('text') -%}
        {%- set uniqueID = random(9999) -%}
        <div class="input-group">
            <input type="{{ type }}"
                   class="form-control skuInput{{ uniqueID }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="input-group-append">
                <button class="btn btn-primary sku-discover" type="button" data-toggle="modal"
                        data-input="skuInput{{ uniqueID }}"
                        data-endpoint="{{ path('email_block_sku') }}" data-target="#skuModal{{ uniqueID }}">
                  <i class="fa fa-search"></i> Discover
                </button>
              </span>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="skuModal{{ uniqueID }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Product information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary saveSKU" data-identifier="{{ uniqueID }}"
                                data-modal="#skuModal{{ uniqueID }}" {{ block('widget_attributes') }} data-dismiss="modal">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}