{% block switch_widget %}
    {% spaceless %}
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="{{ attr.id }}">
            <label class="btn btn-primary btn-sm toogleOff {% if form.vars.value|number_format == 0 %}active{% endif %}">
                <input type="radio" name="options" id="toogleOff" value="0" autocomplete="no" {% if form.vars.value|number_format == 0 %}checked="checked"{% endif %}> NO
            </label>
            <label class="btn btn-primary  btn-sm toogleOn {% if form.vars.value|number_format == 1 %}active{% endif %}">
                <input type="radio" name="options" id="toogleOn" value="1"  autocomplete="yes" {% if form.vars.value|number_format == 1 %}checked="checked"{% endif %}> YES
            </label>
        </div>
        <div class="hidden">
            <div id="emailgeneratorbundle_BlockSimple2BlockTextCta_needCTa" >
                <div class="form-check">
                    <input type="radio" id="{{ form.vars.id }}_0" name="{{  form.vars.full_name }}" required="required" class="form-check-input" value="0" {% if form.vars.value|number_format == 0 %}checked="checked"{% endif %}>
                    <input type="radio" id="{{ form.vars.id }}_1" name="{{  form.vars.full_name }}" required="required" class="form-check-input" value="1" {% if form.vars.value|number_format == 1 %}checked="checked"{% endif %}>
        </div>
    {% endspaceless %}
    <script type="application/javascript">
        $( document ).ready(function() {
            $( "{{ attr.targetClass }}" ).parent().hide();
            $( "#{{ attr.id }} .toogleOff" ).click(function() {
                $("input#{{  form.vars.id }}_0").attr('checked', 'checked');
                $("input#{{  form.vars.id }}_1").removeAttr('checked');
                var $targets =  $( this).parents().find("{{ attr.targetClass }}").parent();
                $.each( $targets, function( key, value ) {
                    $(this).slideUp('slow');
                });

            });
            $( "#{{ attr.id }} .toogleOn" ).click(function() {
                $("input#{{  form.vars.id }}_0").removeAttr('checked');
                $("input#{{  form.vars.id }}_1").attr('checked', 'checked');
                var $targets =  $( this).parents().find("{{ attr.targetClass }}").parent();
                $.each( $targets, function( key, value ) {
                    $(this).slideDown('slow');
                });
            });

            {% if form.vars.value|number_format == 1 %}
            $( "#{{ attr.id }} .toogleOn" ).each(function() {
                var $targets =  $( this).parents().find("{{ attr.targetClass }}").parent();
                $.each( $targets, function( key, value ) {
                    $(this).slideDown('slow');
                });
            });
            {% endif %}
        });
    </script>
{% endblock %}