{% extends '::base.html.twig' %}

{% block mainBody %}
    <div class="jumbotron">
        <h1 class="display-3">404 Page not found</h1>
        <p class="lead">It looks like this page does not exists. Checkout for any URL
            misspelling or go to homepage</p>
        <hr class="my-4">
        <p><img src="{{ asset('images/404.jpg') }}"></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('dashboard_index') }}" role="button">return to the homepage</a>
        </p>
    </div>
{% endblock %}