{% extends '::base.html.twig' %}

{% block mainBody %}
    <div class="jumbotron mt-4">
        <h1 class="display-3">{{ status_code }} : {{ status_text }}</h1>
        <p class="lead">Ohh boy!! bug found or you made a mistake...
        <hr class="my-4">
        <p>The server returned this error " {{exception.message }}".</p>
        <hr class="my-4">
        If was unable to find the template, most probable you change template after adding the block or just it is not created
        <br>
        <p><img src="{{ asset('images/500.jpg') }}"></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('dashboard_index') }}" role="button">return to the homepage</a>
        </p>
    </div>
{% endblock %}