{% extends '::base.html.twig' %}

{% block mainBody %}
    <div class="jumbotron mt-4">
        <h1 class="display-3">403 Forbiden</h1>
                <p class="lead">It looks like you should not be here, if you think you should, contact the administrator
                    of the application</p>
                <hr class="my-4">
                <p style="text-align: center"><img style="max-width: 100%;display: block" src="{{ asset('images/403.jpg') }}"></p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{ path('dashboard_index') }}" role="button">
                        Return to the homepage
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}