<div class="card {{ backgroundColor|default('') }}">
    <h4 class="card-header"><i class="fa fa-{{ icon }}" aria-hidden="true"></i> {{ title }}</h4>
    <div class="card-body">
        <h4 class="card-title">{{ subtitle }}</h4>
        <p class="card-text">{{ text }}</p>
        <a href="{{ path(url) }}" class="btn btn-primary">Go to {{ title }} tool</a>
    </div>
</div>