{% set  keyfieldsFull = ['header', 'footer'] %}
{% set  keyfieldsBig = ['name','username','email','roles','utm','subject','description', 'preHeader'] %}
{% set  keyfieldsMedium = ['objective','jobtitle', 'template'] %}
{{ form_start(form) }}
<div class="row">
    {% if not form.vars.valid %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Ups!</strong> please check form and submit again<br>
            </div>
        </div>
    {% endif %}
</div>
<div class="row">
    {% for child in form.children %}
    {% if (child.vars.name|lower == 'password') %}
</div>
    <div class="row">
        <div class="col-4">
            {{ form_widget(child) }}
        </div>
    </div>
<div class="row">
    {% elseif (child.vars.name|lower != 'save') %}
        <div class="{% if (child.vars.name|lower in keyfieldsBig) %}col-4{% elseif (child.vars.name|lower in keyfieldsMedium) %}col-3{% elseif (child.vars.name|lower in keyfieldsFull) %}col-12{% else %}col-2{% endif %}
{% if ('hidden' in child.vars.block_prefixes) %}hidden{% endif %}">
            {{ form_row(child) }}
        </div>
    {% endif %}
    {% endfor %}
</div>
<div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ form_widget(form.save) }}
        <a href="{{ path(actions.list.path) }}" class="btn btn-info">{{ actions.list.name }}</a>
    </div>
{{ form_end(form) }}