<div class="fluid-container">
    <div class="row bs-wizard" style="border-bottom:0;">
        <div class="col bs-wizard-step
         {% if steps.complete >= 1 %}complete{% endif %}
         {% if steps.active == 1 %}active{% endif %}">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">{{ steps.title[0] }}</div>
        </div>
        <div class="col bs-wizard-step
        {% if steps.complete >= 2 %}complete{% endif %}
        {% if steps.active == 2 %}active{% endif %}
        {% if steps.active < 2 %}disabled{% endif %}">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">{{ steps.title[1] }}</div>
        </div>
        <div class="col bs-wizard-step
        {% if steps.complete >= 3 %}complete{% endif %}
        {% if steps.active == 3 %}active{% endif %}
        {% if steps.active < 3 %}disabled{% endif %}">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">{{ steps.title[2] }}</div>
        </div>
    </div>
</div>