{% if data is  empty%}
    <div class="alert alert-warning" role="alert">
        It looks like <a href="#" class="alert-link">no data no data was found</a>. Please check with a developer if you thing is not possible.
    </div>
{% else %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
        {% for key in data[0]|keys %}
            <th>{{ key }}</th>
        {% endfor %}
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
        {% for keyField, field in row %}
            {% if keyField|slice(0, 2) == 'is' %}
                <th>{{ field == true ? 'Yes': 'No' }}</th>
            {% elseif keyField|slice(0, 4) == 'date' %}
                <th>{{ field|date('d-m-y') }}</th>
            {% else %}
                <th>{{ field }}</th>
            {% endif %}
        {% endfor %}
            <th>
                {% for key, action in actions %}
                    {% if key == 'delete' %}
                        <a href="{{ path(action.path ,{'id': row.id}) }}" class="btn btn-{{ action.btn }} btn-sm"
                           data-toggle="popover" data-placement="top" data-trigger="hover" title="Are you sure?" data-content="It will delete category and all options attached forever!">
                            {{ action.name }}
                        </a>
                    {% elseif  key != 'list' %}
                        <a href="{{ path(action.path ,{'id': row.id}) }}" class="btn btn-{{ action.btn }} btn-sm">{{ action.name|raw }}</a>
                    {% endif %}
                {% endfor %}
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}