<!---------------------------MIT FOOTER START ---------------------------->


<!--------------------------- APPS and SOCIAL ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>
            <tr>
                <td class="repading" style=" font-size: 1px; line-height: 1px;" height="80">&nbsp;</td>
            </tr>

            <tr>
                <td class="repading"
                    style="font-size:18px; line-height:28px; font-family:Arial; color:#6d2d83"
                    align="center">
                    <strong>VANTAGGI DEL NOSTRO PROGRAMMA FEDELTÀ</strong></td>
            </tr>

            <tr>
                <td class="repading" style=" font-size: 1px; line-height: 1px;" height="10">&nbsp;</td>
            </tr>

            </tbody>
        </table>

    </td>
</tr>


<!--------------------------- APPS and SOCIAL ---------------------------->


<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="10" bgcolor="#ffffff">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="10" bgcolor="#ffffff">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->


<!---------------------------MEMBER BENEFITS  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:12px; line-height:16px;"><a href="https://www.marionnaud.it/loyaltyCard{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                        <img class="deviceWidth"
                             src="https://www.marionnaud.it/elab/mit/email/general/points-banner.jpg"
                             alt="Member-Loyalty-Benefits" title="Member-Loyalty-Benefits"
                             style="display:block" border="0" width="640"></a>
                </td>
            </tr>

            </tbody>
        </table>

    </td>
</tr>
<!---------------------------MEMBER BENEFITS  ---------------------------->












<!---------------------------STORE ICONS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>




            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.it/consegna_gratuita_sopra_25euro{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="85" alt="consegna_gratuita_sopra_25euro" src="https://www.marionnaud.it/elab/mit/email/general/delivery85w.gif"></a><span style="font-size: 8px; line-height: 11px; font-family: arial; color: #6e2985;"><br />Spedizione Express<br>da 25€</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.it/pagamenti-sicuri{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="85" alt="pagamenti-sicuri" src="https://www.marionnaud.it/elab/mit/email/general/lock85w.gif"></a><span style="font-size: 8px; line-height: 11px; font-family: arial; color: #6e2985;"><br />Pagamenti Sicuri</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.it/Pagamento_in_contanti{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="85" alt="Pagamento_in_contanti" src="https://www.marionnaud.it/elab/mit/email/general/payment85w.gif"></a><span style="font-size: 8px; line-height: 11px; font-family: arial; color: #6e2985;"><br />Pagamento in <br />Contanti</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.it/Reso{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="85" alt="Reso" src="https://www.marionnaud.it/elab/mit/email/general/returns85w.gif"></a><span style="font-size: 8px; line-height: 11px; font-family: arial; color: #6e2985;"><br />Resi semplici</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.it/all-stores{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="85" alt="all-stores" src="https://www.marionnaud.it/elab/mit/email/general/location85w.gif"></a><span style="font-size: 8px; line-height: 11px; font-family: arial; color: #6e2985;"><br />Le Profumerie</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.it/loyaltyCard{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="85" alt="loyaltyCard" src="https://www.marionnaud.it/elab/mit/email/general/card85w.gif"></a><span style="font-size: 8px; line-height: 11px; font-family: arial; color: #6e2985;"><br />Carta Fedeltà</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="69" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="69">
                                <a href="https://www.facebook.com/Marionnauditalia{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="69" alt="Marionnauditalia" src="https://www.marionnaud.it/elab/mit/email/general/facebook-footer69w.gif"></a><span style="font-size: 8px; line-height: 11px; font-family: arial; color: #6e2985;"><br />Seguici su<br /> FACEBOOK</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>



                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------STORE ICONS ---------------------------->
























<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>

        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->







<tr>
    <td style="font-size:1px; line-height:1px;" bgcolor="#ffffff">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#ffffff">
            <tbody>

            <tr>
                <td class="" style="font-size:1px; line-height:1px;">

                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="" align="center"
                           class="deviceWidth noborder">
                        <tbody>

                        <tr>
                            <td class="mobcenter" align="center">
                                <img alt="chat" src="https://www.marionnaud.it/elab/mit/email/general/chat.jpg">
                                <p style="line-height: 16px; color: #6e2985; font-size: 12px; font-family: arial;"><strong>DOMANDE?</strong><br>
                                    Il Servizio Clienti è disponibile dal lunedì al venerdì nei<br>
                                    seguenti orari: <strong>09:30 - 18:30.</strong><br>
                                    Numero Verde Gratuito: <strong>800.914.998</strong></p>
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="mailto:servizioclienti@marionnaud.it?subject=Richiesta informazioni" style="height:27px;v-text-anchor:middle;width:141px;" stroke="f" fillcolor="#6e2985">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="mailto:servizioclienti@marionnaud.it?subject=Richiesta%20informazioni" style="background-color:#6e2985;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:10px;font-weight:bold;line-height:27px;text-align:center;text-decoration:none;width:141px;-webkit-text-size-adjust:none;">CONTATTACI VIA EMAIL</a> <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>







                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>





<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->


<!---------------------------TERMS AND CONDITIONS ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">
                    <p> Marionnaud Parfumeries Italia S.r.l. Via Riccardo Lombardi 19/4 20153 Milano.<br/>
                        REA Milano 1650024 Cod. Fisc. e Partita IVA 13425220152 <br/><br/></p>





                    <!--------------------------- THIS IS THE TERMS AND CONDITIONS AREA ---------------------------->
                    <p>{{ parameters.termsAndConditions|raw }}</p>
                    <!--------------------------- THIS IS THE TERMS AND CONDITIONS AREA ---------------------------->








                    <p> <strong>**CONSEGNA EXPRESS GRATUITA DA 25&euro;</strong><br>
                        Il costo &egrave; gratuito per tutti gli ordini con importo totale superiore a 25&euro; (al netto di eventuali promozioni, sconti e/o buoni regalo). Gli ordini effettuati entro le ore 16:30 (dal luned&igrave; al gioved&igrave;) saranno consegnati entro le 12:00 del giorno successivo. Il servizio &egrave; disponibile in determinare aree geografiche, verifica se &egrave; gi&agrave; disponibile nella zona di tuo interesse: <a href="https://www.marionnaud.it/consegna_gratuita_sopra_25euro{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #702785; text-decoration: none;" target="_blank">clicca qui</a>.<br>
                        <br>
                        Ricevi questa Newsletter perché hai acconsentito a ricevere comunicazioni via email da parte di Marionnaud Parfumeries. Il trattamento dei tuoi dati é conforme a quanto previsto dal Codice in materia di protezione dei dati personali (Decreto legislativo 30 giugno 2003, n. 196).<br>

                    </p>

                    <p style="line-height: 14px; font-family: arial; font-size: 10px">
                        <br>
                        Hai dimenticato la tua Carta Fedeltà? Nessun problema, usa questo codice a barre in profumeria per avere ugualmente i punti sui tuoi acquisti!<br><br><br />
                        <IMG src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif"><br>
                        <br>
                        <br>
                        <a style="color: #000000" href="https://www.marionnaud.it/policyPrivacy{{ parameters.utm|default('?NO_UTM_SET_UP') }}">Policy sulla Privacy</a>
                        <br><br /><br />
                        <%@ include view='aswUnsubMIT' %></p>


                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>
        </table>

    </td>
</tr>
<!---------------------------TERMS AND CONDITIONS ---------------------------->

</table>


</td>
</tr>
</tbody>
</table><!--------------------------- MASTER WRAPPER ENDING---------------------------->


</body>
</html>
