

<!---------------------------MCZ FOOTER START ---------------------------->




<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="80" bgcolor="#ffffff">&nbsp;</td>
            </tr>


        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->


<!---------------------------MEMBER BENEFITS  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:12px; line-height:16px;">
                    <a href="https://www.marionnaud.cz/vernostni_program{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                        <img class="deviceWidth"
                             src="https://www.marionnaud.cz/elab/crm/member-benefits/member-benefits-MCZ.jpg"
                             alt="Member-Loyalty-Benefits" title="Member-Loyalty-Benefits"
                             style="display:block" border="0" width="640"></a>
                </td>
            </tr>

            <tr>
                <td style="font-size:1px; line-height:1px;" height="50" bgcolor="#ffffff">&nbsp;</td>
            </tr>

            </tbody>
        </table>

    </td>
</tr>
<!---------------------------MEMBER BENEFITS  ---------------------------->












<!---------------------------STORE ICONS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>




            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">
                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="10" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>
                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.cz/zasilky{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="DOPRAVA NAD 999 Kč ZDARMA" src="https://www.marionnaud.ro/elab/mcz/Hybris/HybrisGeneral/delivery.jpg" style="border: none;"  border=”0″></a><span style="font-size: 9px; line-height: 11px; font-family: arial; color: #6e2985;"><br /><br />DOPRAVA NAD 999 Kč ZDARMA</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.cz/vraceni_zbozi{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="	Vrácení zboží" src="https://www.marionnaud.ro/elab/mcz/Hybris/HybrisGeneral/returns.jpg" style="border: none;"  border=”0″></a><span style="font-size: 9px; line-height: 11px; font-family: arial; color: #6e2985; text-transform: uppercase;"><br /><br />Vrácení zboží<br />
&nbsp;</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.cz/darkove_baleni{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="gaseste magazinul" src="https://www.marionnaud.ro/elab/mcz/Hybris/HybrisGeneral/wrap.jpg" style="border: none;"  border=”0″></a><span style="font-size: 9px; line-height: 11px; font-family: arial; color: #6e2985; text-transform: uppercase;"><br /><br />Balení dárků <br>zdarma</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.cz/darkova_karta{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="Balení dárků zdarma" src="https://www.marionnaud.ro/elab/mcz/Hybris/HybrisGeneral/gift.jpg" style="border: none;"  border=”0″></a><span style="font-size: 9px; line-height: 11px; font-family: arial; color: #6e2985; text-transform: uppercase;"><br /><br />Dárková karta<br />
&nbsp;</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.cz/all-stores{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img alt="PARFUMERIE MARIONNAUD" src="https://www.marionnaud.ro/elab/mcz/Hybris/HybrisGeneral/stores.jpg" style="border: none;"  border=”0″></a>
                                <span style="font-size: 9px; line-height: 11px; font-family: arial; color: #6e2985;"><br /><br />PARFUMERIE <br>MARIONNAUD</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="85" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="85">
                                <a href="https://www.marionnaud.cz/kontakt{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img alt="Kontaky Marionnaud" src="https://www.marionnaud.ro/elab/mcz/Hybris/HybrisGeneral/contact.jpg" style="border: none;"  border=”0″></a>

                                <span style="font-size: 9px; line-height: 11px; font-family: arial; color: #6e2985; text-transform: uppercase;"><br /><br />Kontakt<br />
&nbsp;</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="69" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="69">
                                <a href="https://www.marionnaud.cz/vernostni_program{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img alt="Věrnostní program" src="https://www.marionnaud.ro/elab/mcz/Hybris/HybrisGeneral/card.jpg" style="border: none;"  border=”0″></a>
                                <span style="font-size: 9px; line-height: 11px; font-family: arial; color: #6e2985; text-transform: uppercase;"><br /><br />Věrnostní <br>program</span>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>



                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------STORE ICONS ---------------------------->
























<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>

        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->











<!---------------------------TERMS AND CONDITIONS ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">


                    <p><%@ include view='aswUnsubMCZ' %> </p>
                    <p><br>
                        Nemáte svou věrnostní kartu? Použijte tento čárový kód a&nbsp;získejte své body za&nbsp;nákup.<br><br />
                        <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"><br><br /></p>



                    <p>	Jestli máte jakýkoliv dotaz, obraťte se na náš Zákaznický servis, rádi Vám pomůžeme. Informace ohledně věrnostního programu a kamenných parfumeriích získáte na bezplatné Zákaznické lince 800 100 968 nebo na e-mailu <a href="mailto:info@marionnaud.cz" style="text-decoration: none; color:#6f2a85;">info@marionnaud.cz</a><br>
                        Dotazy ohledně objednávek na e-shopu vyřešíme na tel.: <span style="color:#6f2a85;"> <strong>733 673 345</strong></span> nebo na e-mailu: <a href="mailto:eshop@marionnaud.cz" style="text-decoration: none; color:#6f2a85;">eshop@marionnaud.cz </a></p>








                    {{ parameters.termsAndConditions|raw }}




                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>
        </table>

    </td>
</tr>
<!---------------------------TERMS AND CONDITIONS ---------------------------->







<!---------------------------BOTTOM ROW LINKS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>


            <tr>

                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">


                    <table width="288" border="0" cellpadding="0" cellspacing="0"  style="font-size:12px; line-height:15px;" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center">
                                <p><a href="https://www.marionnaud.cz/ochrana-osobnich-udaju{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #702781; text-transform: uppercase;" target="_blank">OCHRANA OSOBNÍCH <br>ÚDAJŮ</a><br /><br /></p></td>
                        </tr>
                        </tbody></table>

                    <table width="288" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:15px;" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center">
                                <p><a href="https://www.marionnaud.cz/obchodni-podminky{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #702781; text-transform: uppercase;" target="_blank">Všeobecné podmínky <br>k věrnostní kartě</a></p></td>

                        </tr>
                        </tbody></table>




                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------BOTTOM ROW LINKS ---------------------------->





</table>


</td>
</tr>
</tbody>
</table><!--------------------------- MASTER WRAPPER ENDING---------------------------->


</body>
</html>