<!--------------------------- MARIONNAUD FOOTER START ---------------------------->


<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr><td style="font-size:1px; line-height:1px;" height="9" bgcolor="#000000;">&nbsp;</td></tr>


            <tr>
                <td style="font-size:1px; line-height:1px;" bgcolor="#f9f8f8">

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.ch/fr/shopping{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.ch/elab/mar/Email/2018MAR1299/Marionnaud-Free-Delivery.jpg" alt="Free Delivery"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px;" align="center"><strong style="text-transform: uppercase;">Consegna in 24 ore e spedizione gratuita a partire da CHF 120.-</strong></td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.ch/fr/versand{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.ch/elab/mar/Email/2018MAR1299/Marionnaud-click-and-collect.png" alt="Free Returns"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>Ordina online e scelga il negozio a lei più vicino per il ritiro</strong><br />&nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.ch/fr/magasins{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.ch/elab/mar/Email/2018MAR1299/Marionnaud-store-finder.jpg" alt="Free Returns"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>Le<br>Profumerie</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                </td>
            </tr>


            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td></tr>
            <tr>
                <td class="repading" bgcolor="#000000" style="font-size:12px; line-height:20px; text-transform: uppercase; color: #ffffff; letter-spacing: 3px;"  align="center" valign="middle"><a href="https://www.marionnaud.ch/fr/treuekarte{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #FFFFFF; text-decoration:none;">
                        <strong>I vantaggi della carta fedeltà</strong></a></td>
            </tr>
            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="5">
                </td></tr>

            <tr>
                <td style="font-size:1px; line-height:1px; text-transform: uppercase; color: #ffffff;" align="center" valign="middle" bgcolor="#000000"><a href="https://www.marionnaud.ch/fr/treuekarte{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #FFFFFF; text-decoration:none;"><img  src="https://www.marionnaud.ch/elab/mar/Email/2018MAR1299/My-Marionnayd.jpg" alt="Free Returns" style="display:block;" border="0" width="26"></a>
                </td>
            </tr>
            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="5">
                </td></tr>


            <tr>
                <td class="repading" bgcolor="#000000" style="font-size:12px; line-height:20px; text-transform: uppercase; color: #ffffff;"  align="center" valign="middle">


                    Carte Marionnaud: <a href="https://www.marionnaud.ch/login{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff; text-decoration: none; "><%= targetData.card_Num %></a><br />Solde de points: <%= targetData.point_Bal_Val %>


                </td>
            </tr>


            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td>    </tr>



            <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>

            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooterlinks" style="color: #000000; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">
                        <a href="https://www.marionnaud.ch/fr/impressum{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">Impressum</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.marionnaud.ch/fr/disclaimer{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">Termini di utilizzo</a>
                    </p>

                </td>
            </tr>


            <tr><td style="font-size:1px; line-height:1px;" height="20" bgcolor="#f8f8f8">&nbsp;</td></tr>





            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px;">
                        <strong>Hotline</strong>: <a href="#" style="color: #000000; text-decoration: none;"> 0848 80 41 42 - Dal lunedì al venerdì, dalle 8:00 alle 18:30<br />
                            <strong>E-Mail:</strong> <a href="mailto:info@marionnaud.ch" style="color: #000000; text-decoration: none;">info@marionnaud.ch</a> <br /><br />Copyright © Marionnaud Switzerland AG 2018</p> </td>
            </tr>



            <tr>
                <td class="repading" bgcolor="#f8f8f8" align="center">

                    <table width="85%" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth ">
                        <tr>
                            <td>
                                <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    Vi siete dimenticati la carta fedeltà? Utilizzate il codice a barre qui sotto in negozio. </p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"></p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    {{ parameters.termsAndConditions|raw }}
                                </p>
                            </td>
                        </tr>


                        <tr><td style="font-size:1px; line-height:1px;" height="10" bgcolor="#f8f8f8">&nbsp;</td></tr>
                        <tr>
                            <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">
                                <!-- SHORT UNSUB CODE -->
                                <%@ include view='aswUnsubMCH_IT' %>
                                <!-- SHORT UNSUB CODE -->
                            </td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>


                    </table>

                </td>
            </tr>

            </tbody>
        </table>


    </td>
</tr>

</table>

<!--------------------------- MASTER WRAPPER ENDING---------------------------->

</td>
</tr>
</tbody>
</table>

</body>
</html>