<!---------------------------MRO FOOTER START ---------------------------->


<!--------------------------- APPS and SOCIAL ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>
            <tr>
                <td class="repading" style=" font-size: 1px; line-height: 1px;" height="30">&nbsp;</td>
            </tr>

            <tr>
                <td class="repading"
                    style="font-size:22px; line-height:28px; font-family:Arial; color:#6d2d83"
                    align="center">
                    <strong>DESCARCA APLICATIA MOBILA</strong></td>
            </tr>

            <tr>
                <td class="repading" style=" font-size: 1px; line-height: 1px;" height="10">&nbsp;</td>
            </tr>

            </tbody>
        </table>

    </td>
</tr>

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"
               class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>


            <tr>
                <td style="font-size:1px; line-height:1px;" width="280" align="left">

                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder hideONmobile">
                        <tbody>
                        <tr>
                            <td align="center" width="120">
                                <a href="https://itunes.apple.com/ro/app/marionnaud/id1021924260{{ parameters.utm|default('?NO_UTM_SET_UP') }}&mt=8">
                                    <img src="https://www.marionnaud.ro/elab/mro/Email/2017MRO2142/phone-screen.jpg"
                                         alt="App" class="product_image" style="display:block"
                                         title="App" border="0" width="120"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>

                        </tbody>
                    </table>


                    <table width="10" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td width="10" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder deviceWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="120" style="line-height: 50px;"><a
                                        href="https://itunes.apple.com/ro/app/marionnaud/id1021924260{{ parameters.utm|default('?NO_UTM_SET_UP') }}&mt=8">
                                    <br/>

                                    <img src="https://www.marionnaud.ro/elab/mro/Email/2017MRO2142/app-store-download-btn.png"
                                         alt="app-store-download-btn" class="product_image"
                                         style="display:block" title="app-store-download-btn" border="0"
                                         width="120"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>


                <td width="30" style="font-size: 1px; line-height: 1px;" align="left">&nbsp;</td>


                <td style="font-size:1px; line-height:1px;" width="280" align="left">

                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder deviceWidth">
                        <tbody>
                        <tr>
                            <td style="line-height: 50px;" align="center" width="120"><a
                                        href="https://play.google.com/store/apps/details?id=ro.marionnaud.customer&hl=ro"><br/>
                                    <img src="https://www.marionnaud.ro/elab/mro/Email/2017MRO2142/play-store-download-btn.png"
                                         alt="app-store-download-btn" class="product_image"
                                         style="display:block" title="app-store-download-btn" border="0"
                                         width="120"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="10" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td width="10" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder hideONmobile">
                        <tbody>
                        <tr>
                            <td align="center" width="120">
                                <a href="https://play.google.com/store/apps/details?id=ro.marionnaud.customer&mt=8">
                                    <img src="https://www.marionnaud.ro/elab/mar/Email/2017MAR0202/mro/pencils.jpg"
                                         alt="App" class="product_image" style="display:block"
                                         title="App" border="0" width="120"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>

                        </tbody>
                    </table>


                </td>


            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!--------------------------- APPS and SOCIAL ---------------------------->


<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="10" bgcolor="#ffffff">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="10" bgcolor="#ffffff">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->


<!---------------------------MEMBER BENEFITS  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:12px; line-height:16px;"><a href="HEADER_CTA_URL{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                        <img class="deviceWidth"
                             src="https://www.marionnaud.ro/elab/mro/Email/2017MRO2401/Member-Loyalty-Benefits.jpg"
                             alt="Member-Loyalty-Benefits" title="Member-Loyalty-Benefits"
                             style="display:block" border="0" width="640"></a>
                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="50">&nbsp;</td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------MEMBER BENEFITS  ---------------------------->


<!---------------------------STORE ICONS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="320" border="0" cellspacing="0" cellpadding="0" align="left"
               class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">

                    <table width="28" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="28" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="90" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder devicethirdWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="85"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.ro/informatii-despre-livrare{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img
                                            src="https://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_Delivery-Services-MRO-80x85px_1.jpg"
                                            width="85" alt="Delivery-Services"/></a><br/>TRANSPORT
                                GRATUIT<br>
                                PESTE 175 LEI
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="90" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder devicethirdWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="85"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.ro/card-de-loialitate{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img
                                            alt="LoyalityCard-Services"
                                            src="https://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_LoyalityCard-Services-MRO-80x85px_1.jpg"/></a><br/>
                                CARD DE FIDELITATE<br/>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="90" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder devicethirdWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="85"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.ro/vanzator-autorizat{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img alt="AutorisedDealer"
                                         src="https://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_AutorisedDealer-MRO-80x85px_1.jpg"/></a><br/>
                                VÂNZĂTOR AUTORIZAT
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                </td>
            </tr>
            </tbody>
        </table>


        <table width="310" border="0" cellspacing="0" cellpadding="0" align="left"
               class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>


            <tr>
                <td style="font-size:1px; line-height:1px;" width="320" align="left">


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="94" border="0" cellpadding="0" cellspacing="0" align="left"
                           class="noborder devicethirdWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="85"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.ro/gaseste-filiala{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img alt="Footer_storeFinder"
                                         src="https://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_storeFinder-MRO-80x85px_1.jpg"/></a><br/>GĂSEȘTE
                                MAGAZINUL
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="94" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder devicethirdWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="85"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.ro/contact{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img alt="Chat-Services"
                                         src="https://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_Chat-Services-MRO-80x85px_1.jpg"/></a><br/>
                                CONTACT
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="94" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder devicethirdWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="85"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.ro/{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="Footer_whatsapp"
                                                                                   src="https://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_whatsapp-Services-MRO-80x85px_1.jpg"/></a><br/>
                                WHATSAPP<br/>
                                0733 330 771
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!---------------------------STORE ICONS ---------------------------->


<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->


<!---------------------------TERMS AND CONDITIONS ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">


                    <strong>Informaţii:</strong>: 0733 330 771 - De Luni până Vineri, între 9:00-17:30<br>
                    <strong>E-Mail:</strong> <a href="mailto:fidelitate@marionnaud.ro"
                                                style="color: #646768; text-decoration: none">fidelitate@marionnaud.ro</a><br><br />
                    <%@ include view='aswUnsubMRO' %><br><br />
                    © 2011-{{ "now"|date("Y") }} Marionnaud. Toate drepturile rezervate.<br>
                    <a href="https://www.marionnaud.ro/termenii-si-conditiilee{{ parameters.utm|default('?NO_UTM_SET_UP') }}"
                       style="color: #646768" target="_blank">Termeni şi condiţii</a> | <a
                            href="https://www.marionnaud.ro/toate-magazinele{{ parameters.utm|default('?NO_UTM_SET_UP') }}"
                            style="color: #646768" target="_blank">Hartă site</a>
                    | <a
                            href="https://www.marionnaud.ro/politicadeconfidentialitate{{ parameters.utm|default('?NO_UTM_SET_UP') }}"
                            style="color: #646768" target="_blank">Politica/ declaratie de confidentialitate</a>

                    <p>Ai uitat de cardul de fidelitate? Foloseste acest cod in magazinele Marionnaud si
                        acumulezi puncte de loialitate!<br><br />
                        <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"></p>

                    <p>{{ parameters.termsAndConditions|raw }}</p>

                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>
        </table>

    </td>
</tr>
<!---------------------------TERMS AND CONDITIONS ---------------------------->


</table>
</td></tr></tbody></table></body></html>