

<!----------------------------------------------------FOOTER STARTS HERE ----------------------------------------------------->

<!---------------------------MEMBER BENEFITS  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>
            <tr><td  style="font-size:1px; line-height:1px;" height="50">&nbsp;</td></tr>

            <tr><td style="font-size:12px; line-height:16px;">
                    <img  class="deviceWidth" src="http://www.marionnaud.at/elab/mat/Email/crm-welcome/mat-loyalty.jpg" alt="1€ = 1 PUNKT" title="1€ = 1 PUNKT" style="display:block" border="0" width="640">
                </td>
            </tr>
            <tr><td  style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------MEMBER BENEFITS  ---------------------------->





<!---------------------------STORE ICONS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>




            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">

                    <table width="81" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="81">
                                <a href="http://www.marionnaud.at/Zahlung{{ parameters.utm|default('?NO_UTM_SET_UP') }}" ><img src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/MAT-footerIcons-85px-wide/MAT-Security.jpg" width="81" alt="Zahlung"/></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="81" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="81">
                                <a href="http://www.marionnaud.at/Versand{{ parameters.utm|default('?NO_UTM_SET_UP') }}" ><img alt="gratis liferung" src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/MAT-footerIcons-85px-wide/MAT-delivery.jpg"   /></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="81" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="81">
                                <a href="http://www.marionnaud.at/Proben{{ parameters.utm|default('?NO_UTM_SET_UP') }}" >
                                    <img alt="proben zu jeder bestellung" src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/MAT-footerIcons-85px-wide/MAT-samples.jpg"   /></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="81" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="81">
                                <a href="http://www.marionnaud.at/Geschenkverpackung{{ parameters.utm|default('?NO_UTM_SET_UP') }}" >
                                    <img alt="gratis geschenkverpacking " src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/MAT-footerIcons-85px-wide/MAT-packing.jpg"   /></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="81" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="81">
                                <a href="http://www.marionnaud.at/filialen{{ parameters.utm|default('?NO_UTM_SET_UP') }}" >
                                    <img alt="locations" src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/MAT-footerIcons-85px-wide/MAT-locator.jpg"   /></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="81" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="81">
                                <a href="http://www.facebook.com/Marionnaud.Austria{{ parameters.utm|default('?NO_UTM_SET_UP') }}" ><img alt="facebook" src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/MAT-footerIcons-85px-wide/MAT-facebook.jpg"   /></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="81" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="81">
                                <a href="http://www.marionnaud.at/contactUs{{ parameters.utm|default('?NO_UTM_SET_UP') }}" ><img alt="service" src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/MAT-footerIcons-85px-wide/MAT-service.jpg"   /></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>



                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------STORE ICONS ---------------------------->




















<!---------------------------ADDRESSES and BARDCODE---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">
                    <p>
                        Marionnaud Parfumeries Autriche GmbH, A Member of CK Hutchison Holdings<br />
                        Lamezanstraße 9, A-1230 Wien | Tel.: 0810 / 810 001 | E-Mail: <a href="mailto:office@Marionnaud.at" style="color: #702785">office@marionnaud.at </a></p>

                    <p>MyMarionnaud Karte vergessen? Diesen Barcode in der Filiale verwenden und Beauty Punkte sammeln!<br><br>
                        <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"></p>

                </td>
            </tr>
            <tr><td  style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>     </tr>
        </table>

    </td>
</tr>
<!---------------------------ADDRESSES and BARDCODE---------------------------->










<!---------------------------BOTTOM ROW LINKS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>


            <tr>

                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">


                    <table width="270" border="0" cellpadding="0" cellspacing="0"  style="font-size:12px; line-height:15px;" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center">
                                <p><a href="http://www.marionnaud.at/Impressum{{ parameters.utm|default('?NO_UTM_SET_UP') }}"  style="color: #702785">IMPRESSUM </a><br />
                                    &nbsp;</p></td>
                        </tr>
                        </tbody></table>

                    <table width="270" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:15px;" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center">
                                <p><a href="https://www.marionnaud.at/datenschutz{{ parameters.utm|default('?NO_UTM_SET_UP') }}"  style="color: #702785">DATENSCHUTZERKLÄRUNG </a><br />
                                    &nbsp;</p></td>

                        </tr>
                        </tbody></table>




                </td>
            </tr>


            <tr>

                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">


                    <p style="text-align: center; line-height: 14px; font-family: arial; color: #702785; font-size: 12px;" >
                        <%@ include view='aswUnsubMAT' %></p>


                </td>
            </tr>

            </tbody>
        </table>

    </td>
</tr>
<!---------------------------BOTTOM ROW LINKS ---------------------------->











<!---------------------------TERMS AND CONDITIONS ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">

            <tr><td  style="font-size:1px; line-height:1px;" height="10">&nbsp;</td>
            </tr>


            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">
                    <p>{{ parameters.termsAndConditions|raw }}</p>
                </td>
            </tr>
            <tr><td  style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
        </table>

    </td>
</tr>
<!---------------------------TERMS AND CONDITIONS ---------------------------->





</table>



</td>
</tr>
</tbody>
</table><!--------------------------- MASTER WRAPPER ENDING---------------------------->



</body>
</html>

