{% set  keyfieldsBig = ['name','username','email','roles','utm','subject','description', 'preHeader'] %}
{% set  keyfieldsMedium = ['objective','jobtitle', 'template'] %}
{{ form_start(form) }}
<div class="row">
    <div class="col-12">
        {% if not form.vars.valid %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong>Ups!</strong> please check form and submit again<br>
                </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="mb-2">
            {{ form_label(form.user) }}
            {{ form_errors(form.user) }}
            {{ form_widget(form.user) }}
        </div>
        <div>
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.businessUnit) }}
            {{ form_errors(form.businessUnit) }}
            {{ form_widget(form.businessUnit) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="mb-2">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.fontFamily) }}
            {{ form_errors(form.fontFamily) }}
            {{ form_widget(form.fontFamily) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_widget(form.saveAndReturn) }}
        {{ form_widget(form.saveAndGoToBuild) }}
        {{ form_widget(form.saveAndGoToEdit) }}

    </div>
</div>
<div class="row">
    <div class="col-12">
       <small>* Required fields</small>
    </div>
</div>
{{ form_javascript(form) }}
{{ form_end(form) }}
