{% if data is  empty %}
    <div class="alert alert-warning" role="alert">
        It looks like no data no data was found. Please check with a developer if you thing is not possible.
    </div>
{% else %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            {% for key in data[0]|keys %}
                <th>{{ key }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {% for keyField, field in row %}
                {% if keyField ==  'dateDelivered' %}
                    {% if date(field) < date('+3days') %}
                        <tr class="table-danger">
                    {% elseif date(field) < date('+6days') %}
                        <tr class="table-warning">
                    {% else %}
                        <tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for keyField, field in row %}
                {% if keyField|slice(0, 2) == 'is' %}
                    <td>{{ field == true ? 'Yes': 'No' }}</td>
                {% elseif keyField|slice(0, 4) == 'date' %}
                    <td>{{ field|date('d-m-y H:i:s') }}</td>
                {% else %}
                    <td>{{ field }}</td>
                {% endif %}
            {% endfor %}
            <td>
                {% if 'edit' in actions|keys %}
                    <a href="{{ path(actions.edit.path, {'id': row.id}) }}" class="btn btn-{{ actions.edit.btn }} btn-sm"  style="margin:0.1em;">
                        <i class="fa fa-envelope"></i>
                        {{ actions.edit.name }}
                    </a>
                {% endif %}
                {% if 'block_list' in actions|keys %}
                    <a href="{{ path(actions.block_list.path, {'id': row.id}) }}" class="btn btn-{{ actions.block_list.btn }} btn-sm" style="margin:0.1em;">
                        <i class="fa fa-list-ol"></i>
                        {{ actions.block_list.name }}
                    </a>
                {% endif %}
                {% if 'block_edit_individual_list' in actions|keys %}
                    <a href="{{ path(actions.block_edit_individual_list.path, {'id': row.id}) }}" class="btn btn-{{ actions.block_edit_individual_list.btn }} btn-sm" style="margin:0.1em;">
                        <i class="fa fa-list-alt"></i>
                        {{ actions.block_edit_individual_list.name }}
                    </a>
                {% endif %}

                <div class="dropdown" style="display: inline-block;margin: 0.1em;">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton{{ row.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ row.id }}">
                        {% if 'archive' in actions|keys %}
                            <a class="dropdown-item text-{{ actions.archive.btn }}" href="{{ path(actions.archive.path, {'id': row.id}) }}"><i class="fa fa-file-archive-o"></i> {{ actions.archive.name }}</a>
                        {% endif %}
                        {% if 'duplicate' in actions|keys %}
                            <a href="{{ path(actions.duplicate.path, {'id': row.id}) }}" class="dropdown-item text-{{ actions.duplicate.btn }}"><i class="fa fa-clone"></i> {{ actions.duplicate.name }}</a>
                        {% endif %}
                        <a class="dropdown-item text-danger" data-toggle="modal" data-target="#modalDelete{{ row.id }}"><i class="fa fa-trash"></i> Delete page</a>
                    </div>
                </div>

                {% include 'AppBundle:common:_modal.html.twig' with {'modalId': 'modalDelete'~ row.id, 'title': 'Are you sure?',
                'body': '<a href="'~ path('email_delete' ,{'id': row.id}) ~'" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete email</a>' } %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}