{% extends 'backend.html.twig' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><i class="fa fa-html5"></i> Archived Pages</li>
{% endblock %}
    {% block mainLinks %}
    {% endblock %}
{% block mainBody %}
    <h1>Archived Pages list</h1>
    {% include 'PDPGeneratorBundle:page:_table.html.twig' with {'data': data,'actions': actions} %}

{% endblock %}