{% extends 'backend.html.twig' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><i class="fa fa-html5"></i> Pages</li>
{% endblock %}
    {% block mainLinks %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="{{ path('page_new') }}"> New Page</a>
            </li>
        </ul>
    {% endblock %}
{% block mainBody %}
    <h1>Pages list</h1>
    {% include 'PDPGeneratorBundle:Page:_table.html.twig' with {'data': data,'actions': actions} %}

{% endblock %}