{% extends 'backend.html.twig' %}
{% set title = 'New Page' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="{{ path(actions.list.path) }}"> <i class="fa fa-html5"></i> Pages</a></li>
    <li class="breadcrumb-item"><i class="fa fa-html5"></i> {{ title }}</li>
{% endblock %}
    {% block mainLinks %}
    {% endblock %}
{% block mainTitle %} {{ title }}{% endblock %}
{% block mainBody %}
    {% include 'PDPGeneratorBundle:Page:_form.html.twig' with {'isEdit': false} %}
{% endblock %}
