{% extends 'base.html.twig' %}

{% block body %}
    <h1>Email</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ email.id }}</td>
            </tr>
            <tr>
                <th>Businessunit</th>
                <td>{{ email.businessUnit }}</td>
            </tr>
            <tr>
                <th>Jobtitle</th>
                <td>{{ email.jobTitle }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ email.user }}</td>
            </tr>
            <tr>
                <th>Daterequest</th>
                <td>{% if email.dateRequest %}{{ email.dateRequest|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedelivered</th>
                <td>{% if email.dateDelivered %}{{ email.dateDelivered|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dategolive</th>
                <td>{% if email.dateGoLive %}{{ email.dateGoLive|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Objective</th>
                <td>{{ email.objective }}</td>
            </tr>
            <tr>
                <th>Utm</th>
                <td>{{ email.utm }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ email.description }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ email.subject }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('email_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('email_edit', { 'id': email.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
