





<!---------------------------MCH-DE FOOTER START ---------------------------->





<!---------------------------MEMBER BENEFITS  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td>
            </tr>


            <tr>
                <td style="font-size:12px; line-height:16px;"><a href="https://www.marionnaud.ch/fr/versand{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                        <img class="deviceWidth"
                             src="https://www.marionnaud.ch/elab/mch/email/2018MCH1382/click-and-collect-FR.jpg" alt="Click and Collect"
                             style="display:block" border="0" width="640"></a>
                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
            </tr>


            <tr>
                <td style="font-size:12px; line-height:16px;"><a href="https://www.marionnaud.ch/fr/treuekarte{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                        <img class="deviceWidth"
                             src="https://www.marionnaud.ch/elab/mch/email/2017MCH2723/benefits-FR.jpg"
                             alt="Member-Loyalty-Benefits" title="Member-Loyalty-Benefits"
                             style="display:block" border="0" width="640"></a>
                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
            </tr>

            </tbody>
        </table>

    </td>
</tr>
<!---------------------------MEMBER BENEFITS  ---------------------------->












<!---------------------------STORE ICONS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>




            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">

                    <table width="88" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="88">
                                <a href="https://www.marionnaud.ch/fr/shopping{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="88" alt="SICHERE ZAHLUNG" src="https://www.marionnaud.ch/elab/mch/email/general/footer-icons/updatedmarch17/lock_fr.jpg"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="45" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="45" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="88" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="88">
                                <a href="https://www.marionnaud.ch/fr/shopping{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="88" alt="Gratis Versand" src="https://www.marionnaud.ch/elab/mch/email/general/footer-icons/updatedmarch17/Delivery_fr.jpg"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="45" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="45" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="88" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="88">
                                <a href="https://www.marionnaud.ch/fr/faq{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="88" src="https://www.marionnaud.ch/elab/mch/email/general/footer-icons/updatedmarch17/RetoursFaciles.jpg"   alt="returns"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="45" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="45" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="88" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="88">
                                <a href="https://www.marionnaud.ch/fr/treuekarte{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="88" alt="Treuekarte" class="c8" src="https://www.marionnaud.ch/elab/mch/email/general/footer-icons/updatedmarch17/CartaDeFidelite.jpg"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="45" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="45" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="88" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="88">
                                <a href="https://www.marionnaud.ch/fr/store-finder{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img width="88" alt="Magazin und Ihr Institut" class="c8" src="https://www.marionnaud.ch/elab/mch/email/general/footer-icons/updatedmarch17/VotreMagasinEtInstitut.jpg"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------STORE ICONS ---------------------------->
























<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>

        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->










<!---------------------------TERMS AND CONDITIONS ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">
                    {{ parameters.termsAndConditions|raw }}
                    <br>
                    <!--Wir haben unsere Datenschutzrichtlinie <a href="https://www.marionnaud.ch/de/treuekarte">https://www.marionnaud.ch/de/treuekarte</a> entsprechend den Anforderungen der neuen Datenschutzgesetzgebung aktualisiert. Bitte lesen Sie sich die Datenschutzrichtlinie aufmerksam durch, um sich einen Überblick davon zu verschaffen, wie wir Ihre persönlichen Daten erfassen und verarbeiten.<br><br> -->
                    <!-- Ends T&CS -->
                    <strong>Hotline:</strong> 0848 80 41 42 - Du lundi au vendredi, de 8h00 à 18h30 <strong>E-Mail:</strong> <a class="c10" href="mailto:info@marionnaud.ch" style="color: #000000; text-decoration:none;">info@marionnaud.ch</a><br>
                    Avez-vous oublié votre carte? Utilisez ce code-barres en magasin pour obtenir vos points!<br><br />
                    <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent(''+ targetData.card_Num +'').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode" ><br><br />
                    <%@ include view='aswUnsubMCH_FR'             %><br>
                    Copyright © Marionnaud Switzerland AG 2018<br>
                    <br>
                    <a class="c11" href="https://www.marionnaud.ch/fr/agb{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000;">Nos CGV</a> | <a class="c11" href="https://www.marionnaud.ch/fr/disclaimer{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000;">conditions d'utilisation</a> | <a class="c11" href="https://www.marionnaud.ch/fr/impressum{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000;">Impressum</a> | <a class="c11" href="https://www.marionnaud.ch/fr/sitemap{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000;">Sitemap</a> |
                    <a class="c11" href="https://www.marionnaud.ch/fr/privacy-policy{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000;">Avis de confidentialité</a>


                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>
        </table>

    </td>
</tr>
<!---------------------------TERMS AND CONDITIONS ---------------------------->


</table>


</td>
</tr>
</tbody>
</table><!--------------------------- MASTER WRAPPER ENDING---------------------------->


</body>
</html>