{% set  uploadFields = ['file', 'file2', 'file3'] %}
{% set  CkEditorFields = ['text', 'text2', 'text3'] %}
<div class="hidden block-form" id="block-{{ block.id }}" data-block-id="{{ block.id }}">
    {% if (form is null) %}
        <p>further action required</p>
    {% else %}
        {{ form_start(form) }}
        <div class="row">
            {% if not form.vars.valid %}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        <strong>Ups!</strong> please check form and submit again<br>
                    </div>
                </div>
            {% endif %}
        </div>
        {% for child in form.children %}
            {% if (child.vars.name|lower in uploadFields) %}
            {% if (block.image is defined  and block.image is not empty and child.vars.name|lower == 'file') %}
                <h6 class="h6">Image already uploaded</h6>
                <a type="button" data-toggle="modal" data-target="#blockModal{{ block.id }}">
                    {% if (is_elab) %}
                        <img src="{{ ftpURL }}/{{ block.image }}?v={{ random(99999) }}" class="img-fluid" alt="image {{ block.id }}">
                    {% else %}
                        <img src="/images/{{ emailId }}/{{ block.image }}" class="img-fluid" alt="image {{ block.id }}">
                    {% endif %}
                </a>
                <div class="modal fade" id="blockModal{{ block.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="blockModalLabel{{ block.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            {% if (is_elab) %}
                                <img src="{{ ftpURL }}/{{ block.image }}?v={{ random(99999) }}" class="img-fluid" alt="image {{ block.id }}">
                            {% else %}
                                <img src="/images/{{ emailId }}/{{ block.image }}" class="img-fluid"
                                     alt="image {{ block.id }}">
                            {% endif %}

                        </div>
                    </div>
                </div>
                {{ form_row(child, {'required' :  false}) }}
            {% endif %}
            {% if (block.image2 is defined  and block.image2 is not empty and child.vars.name|lower == 'file2') %}
                <h6 class="h6">Image already uploaded</h6>
                <a type="button" data-toggle="modal" data-target="#blockModal{{ block.id }}">
                    {% if (is_elab) %}
                        <img src="{{ ftpURL }}/{{ block.image2 }}?v={{ random(99999) }}" class="img-fluid" alt="image 2 {{ block.id }}">
                    {% else %}
                        <img src="/images/{{ emailId }}/{{ block.image2 }}" class="img-fluid" alt="image 2 {{ block.id }}">
                    {% endif %}
                </a>
                <div class="modal fade" id="blockModal{{ block.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="blockModalLabel{{ block.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            {% if (is_elab) %}
                                <img src="{{ ftpURL }}/{{ block.image2 }}?v={{ random(99999) }}" class="img-fluid" alt="image 2 {{ block.id }}">
                            {% else %}
                                <img src="/images/{{ emailId }}/{{ block.image2 }}" class="img-fluid" alt="image 2 {{ block.id }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
                {{ form_row(child, {'required' :  false}) }}
            {% endif %}
            {% if (block.image3 is defined  and block.image3 is not empty and child.vars.name|lower == 'file3') %}
                <h6 class="h6">Image already uploaded</h6>
                <a type="button" data-toggle="modal" data-target="#blockModal{{ block.id }}">
                    {% if (is_elab) %}
                        <img src="{{ ftpURL }}/{{ block.image3 }}?v={{ random(99999) }}" class="img-fluid" alt="image 3 {{ block.id }}">
                    {% else %}
                        <img src="/images/{{ emailId }}/{{ block.image3 }}" class="img-fluid" alt="image 3 {{ block.id }}">
                    {% endif %}
                </a>
                <div class="modal fade" id="blockModal{{ block.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="blockModalLabel{{ block.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            {% if (is_elab) %}
                                <img src="{{ ftpURL }}/{{ block.image3 }}?v={{ random(99999) }}" class="img-fluid" alt="image 3 {{ block.id }}">
                            {% else %}
                                <img src="/images/{{ emailId }}/{{ block.image3 }}" class="img-fluid" alt="image 3 {{ block.id }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
                {{ form_row(child, {'required' :  false}) }}
            {% endif %}
            {% endif %}
    {% if (child.vars.name  in CkEditorFields) %}
        {{ form_row(child, {'id' :  child.vars.attr.id|default(child.vars.id) }) }}
        <script type="text/javascript">
            var CKEDITOR_BASEPATH = "/bundles/ivoryckeditor/";
        </script>
        <script type="text/javascript" src="/bundles/ivoryckeditor/ckeditor.js"></script>
        <script type="text/javascript">
            if (CKEDITOR.instances["{{ child.vars.attr.id|default(child.vars.id) }}"]) {
                CKEDITOR.instances["{{ child.vars.attr.id|default(child.vars.id) }}"].destroy(true);
                delete CKEDITOR.instances["{{ child.vars.attr.id|default(child.vars.id) }}"];
            }
            CKEDITOR.plugins.addExternal("lineheight", "/ckeditor/plugins/lineheight/", "plugin.js");
            CKEDITOR.replace("{{ child.vars.attr.id|default(child.vars.id) }}", {
                "extraPlugins":"lineheight",
                "autoParagraph": false,
                "enterMode" : CKEDITOR.ENTER_BR,
                "shiftEnterMode": CKEDITOR.ENTER_P,
            "allowedContent": true,
                "language": "en-gb",
                "toolbar": [["Source", "-", "SelectAll", "-", "JustifyLeft", "JustifyCenter", "JustifyRight", "JustifyBlock", "-", "Font"], ["Bold", "Italic", "Underline", "Strike", "-", "RemoveFormat", "FontSize", "lineheight", "TextColor", "BGColor"], ["NumberedList", "BulletedList", "-", "Outdent", "Indent", "-", "Blockquote"], ["Link", "Unlink"]],
                "forcePasteAsPlainText": true
            });
            CKEDITOR.add;
        </script>
    {% endif %}
        {{ form_row(child) }}
        {% endfor %}
        {{ form_end(form) }}
    {% endif %}
</div>
