{% extends 'backend.html.twig' %}
{% block help %}
    <li class="nav-item">
        <a href="{{ asset('/documentation/email_generator/Email_edit_content_page.pdf') }}"
           target="_blank" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Do you need help?">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    </li>
{% endblock %}
{% set title = 'Email: '~ email.jobTitle ~' | Edit Content' %}
    {% block mainTitle %} {{ title }}{% endblock %}
    {% block mainSubtitle %}(CDN folder id: {{ email.id }}){% endblock %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="{{ path('email_index') }}"><i class="fa fa-envelope"></i> Emails</a></li>
    <li class="breadcrumb-item"><a href="{{ path('email_edit', {'id': email.id}) }}"><i class="fa fa-envelope"></i>
            Edit information <small>{{ email.jobTitle }}</small></a></li>
    <li class="breadcrumb-item"><a href="{{ path('email_block_list', {'id': email.id}) }}"><i class="fa fa-envelope"></i>
            Edit Layout <small>{{ email.jobTitle }}</small></a></li>
    <li class="breadcrumb-item"><i class="fa fa-list-alt"></i> Edit Content</li>
{% endblock %}
    {% block mainLinks %}{% endblock %}
{% block mainBody %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right-gray">
            <h3 class="h3">Email Blocks</h3>
            <ul class="list-group">
                {% for key, block in email.blocks %}
                    <li class="list-group-item ui-sortable-handle {% if (block.product1 is defined) and (block.product1 is null) %}list-group-item-warning{% endif %}">
                        <img src="/images/email_generator/{{ block.code }}.jpg" class="img-fluid"
                             style="max-width: calc(100% - 40px);">
                        <span class="pull-right" data-toggle="tooltip" data-placement="top" {% if (block.isEmpty == true) %}title="Content not complete"{% else %}title="Content added"{% endif %} >
                            <button data-block="block-{{ block.id }}"
                                    class="btn btn-sm btn-warning ml-1 mb-2 btn-block edit-block-form">
                                <i class="fa fa-edit"></i>
                            </button>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3 class="h3">Block Content</h3>
            <ul class="list-group">
                {% for key, block in email.blocks %}
                    {{ render(controller('EmailGeneratorBundle:Block:editIndividualBlock', { 'email': email.id,'block': block.id })) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item mt-4 mr-4">
            <a target="_blank" href="{{ path('email_preview', {'email': email.id, 'jobNumber': email.jobTitle}) }}"
               class="nav-link btn btn-outline-info">
                <i class="fa fa-eye"></i> Preview email
            </a>
        </li>
        <li class="nav-item mt-4 mr-4">
            <a href="{{ path('email_send-email', {'email': email.id}) }}"
               class="nav-link btn btn-outline-info">
                <i class="fa fa-at"></i> Send test email
            </a>
        </li>
        <li class="nav-item mt-4  mr-4">
            <a href="{{ path('email_download', {'email': email.id}) }}" class="nav-link btn btn-outline-info"><i
                        class="fa fa-download"></i> Download email
            </a>
        </li>
        {#<li class="nav-item mt-4 mr-4">#}
            {#<a href="#" class="nav-link btn btn-warning"#}
               {#data-toggle="popover" data-trigger="hover" data-placement="top" title="Hands up!"#}
               {#data-content="When you mark as finished CRM team will get a notification, so they will take a look">#}
                {#<i class="fa fa-flag-checkered"></i> Mark as finished#}
            {#</a>#}
        {#</li>#}
    </ul>
    {#<div class="row">#}
    {#<div class="col">#}
    {#<ul class="list-group">#}
    {#<li class="list-group-item">{{ "now"|date("d/m/Y") }} | No report to CRM team has been sent.</li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
 {% block scripts %}
     {{ parent() }}
     <script type="text/javascript" src="{{ asset("ckeditor/plugins/lineheight/plugin.js?v="~random(999)) }}"></script>
     <script type="text/javascript" src="{{ asset("ckeditor/plugins/lineheight/lang/en.js?v="~random(999)) }}"></script>
 {% endblock %}
