{% extends 'backend.html.twig' %}
{% block help %}
<li class="nav-item">
    <a href="{{ asset('/documentation/email_generator/Email_edit_layout_page.pdf') }}"
       target="_blank" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Do you need help?">
        <i class="fa fa-info-circle" aria-hidden="true"></i> Help
    </a>
</li>
{% endblock %}
{% set title = 'Email: '~ email.jobTitle ~' | Edit Layout' %}
    {% block mainTitle %} {{ title }}{% endblock %}
    {% block mainSubtitle %}(CDN folder id: {{ email.id }}){% endblock %}

{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="{{ path('email_index') }}"><i class="fa fa-envelope"></i> Emails</a></li>
    <li class="breadcrumb-item"><a href="{{ path('email_edit', {'id': email.id}) }}"><i class="fa fa-envelope"></i>
            {{ email.jobTitle }}</a></li>
    <li class="breadcrumb-item"><i class="fa fa-list-ol"></i> Edit Layout</li>
{% endblock %}
    {% block mainLinks %}
    {% endblock %}
{% block mainBody %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right-gray">
            <h3 class="h3">Available Blocks</h3>
            <ul class="list-group" id="blocks-avaiable">
                {% for key, block in availableBlocks %}
                    <li class="list-group-item category-selection">
                        {{ block }}
                        <span class="pull-right">
                            <img src="{{ asset('images/email_generator/'~key~'.jpg') }}" class="img-fluid max-thumb"
                                 alt="thumbnail image {{ block }}">
                            <button class="btn btn-success btn-sm block-add"
                                    data-block="{{ key }}"
                                    data-img="{{ asset('images/email_generator/'~key~'.jpg') }}"><i
                                        class="fa fa-plus"></i>&nbsp;&nbsp;Add Block</button>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3 class="h3">Selected Blocks<small>(Drag and drop to re-order)</small></h3>
            <ul class="list-group" id="blocks-selected"
                data-url="{{ path('email_block_edit_list', {'id':email.id}) }}">
                {% for key, block in email.blocks %}
                    <li class="list-group-item ui-sortable-handle" data-block="{{ block.code }}"
                        data-id="{{ block.id }}"
                        data-delete="{{ path('email_block_delete', {'email': email.id, 'block': block.id}) }}">
                        <img src="/images/email_generator/{{ block.code }}.jpg" class="img-fluid"
                             style="max-width: calc(100% - 40px);"><span class="pull-right"><button
                                    class="btn btn-sm btn-danger block-remove ml-1 mb-2 btn-block"><i
                                        class="fa fa-close"></i></button></span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item mt-4 mr-2">
            <button class="nav-link btn btn-success" id="blocks-submit"
                    data-url="{{ path('email_block_edit_list', {'id':email.id}) }}"><i class="fa fa-edit"></i>  Update Layout
            </button>
        </li>

        <li class="nav-item mt-4">
            <a class="nav-link btn btn-info {% if email.blocks is empty %}hidden{% endif %}" id="blocks-go-block-page"
               href="{{ path('email_block_edit_individual_list', {'id':email.id}) }}">  <i class="fa fa-list-alt"></i> Go to Edit Content
            </a>
        </li>

    </ul>
{% endblock %}