{% if app.user == null %}
    <a href="{{ path('security_login') }}" class="btn btn-info">Please log in to see content</a>
{% else %}
    <!DOCTYPE html>
    <html lang="en" style="position: relative">

    <head>
        <link rel=“icon” href=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-32x32.png”
              sizes=“32x32”/>
        <link rel=“icon” href=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-192x192.png”
              sizes=“192x192"/>
        <link rel=“apple-touch-icon-precomposed”
              href=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-180x180.png”/>
        <meta name=“msapplication-TileImage”
              content=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-270x270.png”/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Dashboard{% endblock %} | Elab wizard</title>
        {% block stylesheets %}
            <link href="{{ asset("css/final.css?v="~random(999)) }}" rel="stylesheet">
        {% endblock %}
        <script src="{{ asset("js/final.js?v="~random(999)) }}"></script>
        {% block extraScripts %}{% endblock %}



    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="{{ path('dashboard_index') }}">eLab Apps</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item  {% if app.request.get('_route') == 'dashboard_index' %}active{% endif %}"
                    data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ path('dashboard_index') }}">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                {% if ('ROLE_ADMIN'  in app.user.roles) or  ('ROLE_SUPERADMIN'  in app.user.roles) %}

                <li class="nav-item  {% if app.request.get('_route') == 'user_index' %}active{% endif %}"
                    data-toggle="tooltip" data-placement="right" title="Users">
                    <a class="nav-link" href="{{ path('user_index') }}">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Users</span>
                    </a>
                </li>

                <li class="nav-item  {% if app.request.get('_route') == 'business-unit_index' %}active{% endif %}"
                    data-toggle="tooltip" data-placement="right" title="Business Units">
                    <a class="nav-link" href="{{ path('business-unit_index') }}">
                        <i class="fa fa-fw fa-building-o"></i>
                        <span class="nav-link-text">Business Units</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item {% if app.request.get('_route') == 'email_index' %}active{% endif %}{% if app.request.get('_route') == 'email_new' %}active{% endif %}"
                    data-toggle="tooltip" data-placement="right" title="Email Generator">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
                       href="#collapseEmailGenerator"
                       data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-envelope-o"></i>
                        <span class="nav-link-text">Email Generator</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseEmailGenerator">
                        <li class="{% if app.request.get('_route') == 'email_index' %}active{% endif %}">
                            <a href="{{ path('email_index') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                Emails</a>
                        </li>
                        <li class="{% if app.request.get('_route') == 'email_new' %}active{% endif %}">
                            <a href="{{ path('email_new') }}"><i class="fa fa-envelope" aria-hidden="true"></i> New
                                Email</a>
                        </li>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li class="{% if app.request.get('_route') == 'email_archive_index' %}active{% endif %}">
                                <a href="{{ path('email_archive_index') }}"><i class="fa fa-archive"
                                                                               aria-hidden="true"></i> Archived
                                    Emails</a>
                            </li>
                        {% endif %}
                        {% if 'ROLE_SUPERADMIN' in app.user.roles %}
                            <li class="{% if app.request.get('_route') == 'email_template_index' %}active{% endif %}">
                                <a href="{{ path('email_template_index') }}"><i class="fa fa-newspaper-o"
                                                                              aria-hidden="true"></i> Email Templates</a>
                            </li>
                            <li class="{% if app.request.get('_route') == 'email_layout_index' %}active{% endif %}">
                                <a href="{{ path('email_layout_index') }}"><i class="fa fa-object-group"
                                                                               aria-hidden="true"></i> Email Layouts (Head & footers)</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/documentation/email_generator/Email_generator_user_guide.pdf" target="_blank"><i class="fa fa-book" aria-hidden="true"></i>
                                Documentation
                            </a>
                        </li>
                    </ul>
                </li>

                {% if 'ROLE_SUPERADMIN' in app.user.roles %}

                    <li class="nav-item {% if app.request.get('_route') == 'page_index' %}active{% endif %}{% if app.request.get('_route') == 'page_new' %}active{% endif %}"
                        data-toggle="tooltip" data-placement="right" title="Page Generator">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
                           href="#collapsePageGenerator"
                           data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-html5"></i>
                            <span class="nav-link-text">Page Generator</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapsePageGenerator">
                            <li class="{% if app.request.get('_route') == 'page_index' %}active{% endif %}">
                                <a href="{{ path('page_index') }}"><i class="fa fa-html5" aria-hidden="true"></i>
                                    Pages</a>
                            </li>
                            <li class="{% if app.request.get('_route') == 'page_archive_index' %}active{% endif %}">
                                <a href="{{ path('page_archive_index') }}"><i class="fa fa-archive"
                                                                              aria-hidden="true"></i> Archived Pages</a>
                            </li>
                            <li class="{% if app.request.get('_route') == 'page_new' %}active{% endif %}">
                                <a href="{{ path('page_new') }}"><i class="fa fa-file-code-o" aria-hidden="true"></i> New Page</a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                    {% block help %}
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="No documentation found on this page!">
                                <i class="fa fa-info-circle" aria-hidden="true"></i> Help
                            </a>
                        </li>
                    {% endblock %}
                <li class="nav-item">
                    {% if 'ROLE_SUPERADMIN' in app.user.roles %}
                    <a href="{{ path('user_edit', {'id':app.user.id }) }}" class="nav-link">
                        <i class="fa fa-fw fa-user"></i> {{ app.user.name|capitalize|default(app.user.username|capitalize) }}
                    </a>
                    {% else %}
                        <a href="#" class="nav-link">
                            <i class="fa fa-fw fa-user"></i> {{ app.user.name|capitalize|default(app.user.username|capitalize) }}
                        </a>
                    {% endif %}

                </li>
                <li class="nav-item">
                    <a href="{{ path('security_logout') }}" class="nav-link">
                        <i class="fa fa-fw fa-sign-out"></i>Logout({{ app.user.username|capitalize }})
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        {% block main %}
            <main class="container-fluid main">
                <h1 class="mainTitle">{% block mainTitle %}{% endblock %}
                    <small>{% block mainSubtitle %}{% endblock %}</small>
                </h1>
                {% block errors %}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} fade show" role="alert">
                                {{ message|raw }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                {% block breadcrumb %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard_index') }}"> <i
                                        class="fa fa-tachometer"></i> Dashboard</a></li>
                        {% block breadcrumbItems %} {% endblock %}
                    </ol>
                {% endblock %}
                <div class="mainLinks">
                    {% block mainLinks %}{% endblock %}
                </div>
                <div class="mainBody">
                    {% block mainBody %}{% endblock %}
                </div>
            </main>
        {% endblock %}
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © eLab Apps {{ "now"|date("Y") }}</small> |
                    <small>Version {{ version }}</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>

        {% block scripts %}
            <script>
            $('#toggleNavPosition').click(function () {
            $('body').toggleClass('fixed-nav');
            $('nav').toggleClass('fixed-top static-top');
            });

            </script>
            <!-- Toggle between dark and light navbar-->
            <script>
            $('#toggleNavColor').click(function () {
            $('nav').toggleClass('navbar-dark navbar-light');
            $('nav').toggleClass('bg-dark bg-light');
            $('body').toggleClass('bg-dark bg-light');
            });

            </script>
        {% endblock %}

    </div>
    </body>
    </html>
{% endif %}