<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel=“icon” type="image/x-icon"
          href=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-32x32.png” sizes=“32x32”/>
    <link rel=“icon” type="image/x-icon"
          href=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-192x192.png” sizes=“192x192"/>
    <link rel=“apple-touch-icon-precomposed” type="image/x-icon"
          href=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-180x180.png”/>
    <meta name=“msapplication-TileImage”
          content=“http://www.elabeurope.co.uk/wp-content/uploads/2016/09/cropped-favicon-270x270.png”/>
    <title>{% block title %}Login{% endblock %} | Elab wizard</title>
    {% block stylesheets %}
        <link href="{{ asset("css/final.css") }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="{% block bodyClass %}login{% endblock %}">
{% block main %}
    <main class="loginContainer">
        <div class="mainBody">
            {% block mainBody %}{% endblock %}
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{{ asset("js/final.js") }}"></script>
{% endblock %}
</body>
</html>