<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" width="640" align="center">
            <tbody>
            <tr>
                <td width="5"></td>
                <td style="background-color:#ffffff; color:#000000; font-family:{{ block.fontFamily|default('Arial, san-serif') }}; font-size:14px; line-height:20px;">
                    <span style="font-size:27px; color:#000000; text-transform: uppercase;"><strong>{{ block.product1Brand }}</strong></span><br>
                    <span style="font-size:14px; color:#000000; line-height: 16px;"><strong>{{ block.product1Name }}<br></strong>
                        {{ block.text|raw }}
											</span>
                    <br><br>
                    {% if block.product1PromoPrice is not empty %}<span style="text-decoration: line-through;">{{ block.product1Price }}</span><br>{% endif %}
                    <span style="font-size:45px; font-family:Times, serif; line-height: 40px;">
											<strong>
                                                {% if block.product1PromoPrice is not empty %}
                                                {{ block.product1PromoPrice }}
                                                {% else %}
                                                    {{ block.product1Price }}
                                                {% endif %}
                                            </strong> </span><br><br>
                    <br>
                    <div><!--[if mso]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word"
                                href="{{ parameters.domain }}{{ block.product1 }}{{ parameters.utm }}"
                                style="height:26px;v-text- anchor:middle;width:150px;"
                                stroke="f" fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                            <w:anchorlock/>
                            <center>
                        <![endif]-->
                        <a href="{{ parameters.domain }}{{ block.product1 }}{{ parameters.utm }}"
                           style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:bold;line-height:20px;text-align:center;text-decoration:none;width:250px;height: 30px; -webkit-text-size-adjust:none;text-transform:uppercase; padding-top:10px;">
                            {{ block.ctaText|default('#ffffff') }}</a>
                        <!--[if mso]>
                        </center>
                        </v:rect>
                        <![endif]--></div>
                    <br>
                </td>
                <td style="background-color:#ffffff; color:{{ block.ctaTextColour|default('#000000') }}; font-family:{{ block.fontFamily|default('Arial, san-serif') }}; font-size:14px; line-height:20px;">
                    <a href="{{ parameters.domain }}{{ block.product1 }}{{ parameters.utm }}">
                        <img src="{{ parameters.domain }}{{ block.product1Image }}"
                             alt="{{ block.product1Brand }} {{ block.product1Name }}"></a> <br><br>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>