<tr>
    <td align="center">
        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="max-width:640px;" width="640">
            <tbody>
            <tr>
                <td width="640">
                    {% if block.ctaUrl %}
                        <a href="{{ block.ctaUrl }}{{ parameters.utm }}" title="{{ block.ctaUrlTitle }}">
                            <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1 }}" >
                        </a>
                    {% else %}
                        <img alt="Hero banner" src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1 }}" >
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>