<tr bgcolor="{{ block.backgroundColourBlock }}">
    <td style="font-size:12px; line-height:19px;font-family:{{ block.fontFamily|default('Arial') }};color:{{ block.ctaTextColour|default('#000000') }};">
        {{ block.text|raw }}
    </td>
</tr>