<tr>
    <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
            <tbody>
            <tr>
                <!-- PRODUCT TWO START -->
                <td bgcolor="{{ block.backgroundColourBlock }}" width="350">
                    <table align="{{ (block.alignBlock is not empty) ? block.alignBlock : 'center' }}" bgcolor="{{ block.backgroundColourBlock }}" border="0" cellpadding="0" cellspacing="0" width="80%">
                        <tbody>
                        <tr>
                            <td>
                                <p style="font-family: {{ block.fontFamily }}; font-size:16px; line-height:22px; text-align: center; color:{{ block.ctaTextColour|default('#ffffff')}};">
                                    {{ block.text|raw }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.ctaUrl }}{{ parameters.utm }}" style="height:35px;v-text-anchor:middle;width:190px;" stroke="f" fillcolor="{{ block.ctaTextColour }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ block.ctaUrl }}{{ parameters.utm }}" style="background-color:{{ block.ctaBackgroundColour|default('#000000') }};color:{{ block.ctaTextColour|default('#ffffff')}};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;width:190px;-webkit-text-size-adjust:none;"  title="{{ block.ctaUrlTitle }}">{{ block.ctaText }}</a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <!-- PRODUCT TWO END -->
                <!-- PRODUCT ONE START -->
                <td>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                        <tr>
                            <td width="20%">
                                {% if block.ctaUrl %}
                                    <a href="{{ block.ctaUrl }}{{ parameters.utm }}" style="display: table-cell;height: 0;line-height: 0; title="{{ block.ctaUrlTitle }}">
                                    <img alt="{{ block.imageAlt1 }}" src="{{ parameters.imagespath|default('/') }}{{ block.image }}" title="{{ block.ctaUrlTitle }}"  width="320" height="320">
                                    </a>
                                {% else %}
                                    <img alt="{{ block.text|striptags }}" src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1 }}" title="{{ block.ctaUrlTitle }}"  width="320" height="320">
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <!-- PRODUCT ONE END -->
            </tr>
            </tbody>
        </table>
    </td>
</tr>