<tr>
    <td align="center">
        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="max-width:640px; color: #702771;" width="640">
            <tbody>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center" style="text-align: center;">
                    <a href="http://www.marionnaud.ro/{{ block.product1 }}{{ parameters.utm }}" title="{{ block.product1Brand }} {{ block.product1Name }}"><img src="http://www.marionnaud.ro{{{ block.product1Image }}" alt="{{ block.product1Brand }} {{ block.product1Name }}" style="max-width: 100%;"></a>
                </td>
                <td align="center" style="text-align: center;">
                    <a href="http://www.marionnaud.ro/{{ block.product2 }}{{ parameters.utm }}" title="{{ block.product2Brand }} {{ block.product2Name }}"><img src="http://www.marionnaud.ro{{{ block.product2Image }}" alt="{{ block.product2Brand }} {{ block.product2Name }}" style="max-width: 100%;"></a>
                </td>
                <td align="center" style="text-align: center;">
                    <a href="http://www.marionnaud.ro/{{ block.product3 }}{{ parameters.utm }}" title="{{ block.product3Brand }} {{ block.product3Name }}"><img src="http://www.marionnaud.ro{{{ block.product3Image }}" alt="{{ block.product3Brand }} {{ block.product3Name }}" style="max-width: 100%;"></a>
                </td>
            </tr>
            <tr>
                <td align="center" style="text-align: center;" width="200">
									<span style="color:{{ block.ctaBackgroundColour }}; font-family:{{ block.fontFamily|default('Arial') }}; font-weight:normal; text-align:center; font-size:20px;">
                                        {{ block.product1Brand }}<br>{{ block.product1Name }}
                                    </span>
                </td>
                <td align="center" style="text-align: center;" width="200">
									<span style="color:{{ block.ctaBackgroundColour }}; font-family:{{ block.fontFamily|default('Arial') }}; font-weight:normal; text-align:center; font-size:20px;">
                                        {{ block.product2Brand }}<br>{{ block.product2Name }}
                                    </span>
                </td>
                <td align="center" style="text-align: center;" width="200">
									<span style="color:{{ block.ctaBackgroundColour }}; font-family:{{ block.fontFamily|default('Arial') }}; font-weight:normal; text-align:center; font-size:20px;">
                                        {{ block.product3Brand }}<br>{{ block.product3Name }}
                                    </span>
                </td>
            </tr>
            <tr>
                <td align="center" style="text-align: center;">
                    <span style="color:{{ block.ctaBackgroundColour }}; font-family:{{ block.fontFamily|default('Arial') }}; font-weight:normal; text-align:center; font-size:25px;">Preț: {{ block.product1Price }}</span>
                </td>
                <td align="center" style="text-align: center;">
                    <span style="color:{{ block.ctaBackgroundColour }}; font-family:{{ block.fontFamily|default('Arial') }}; font-weight:normal; text-align:center; font-size:25px;">Preț: {{ block.product2Price }}</span>
                </td>
                <td align="center" style="text-align: center;">
                    <span style="color:{{ block.ctaBackgroundColour }}; font-family:{{ block.fontFamily|default('Arial') }}; font-weight:normal; text-align:center; font-size:25px;">Preț: {{ block.product3Price }}</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center" style="text-align: center;">
                    <div>
                        <!--[if mso]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.marionnaud.ro/{{ block.product1 }}{{ parameters.utm }}" style="height:40px;v-text-anchor:middle;width:160px;" strokecolor="{{ block.ctaBackgroundColour }}" fillcolor="{{ block.ctaBackgroundColour }}">
                            <w:anchorlock/>
                            <center style="color:#ffffff;font-family:{{ block.fontFamily|default('Arial') }};font-size:13px;font-weight:bold;"></center>
                        </v:rect>
                        <![endif]--><a href="http://www.marionnaud.ro/{{ block.product1 }}{{ parameters.utm }}" style="background-color:{{ block.ctaBackgroundColour }};border: none;color:{{ block.ctaTextColour }};display:inline-block;font-family:{{ block.fontFamily|default('Arial') }};font-size:14px;line-height:40px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all;" title="{{ block.product1Brand }} {{ block.product1Name }}"><strong>{{ block.ctaText }}</strong></a>
                    </div>
                </td>
                <td align="center" style="text-align: center;">
                    <div>
                        <!--[if mso]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.marionnaud.ro/{{ block.product1 }}{{ parameters.utm }}" style="height:40px;v-text-anchor:middle;width:160px;" strokecolor="{{ block.ctaBackgroundColour }}" fillcolor="{{ block.ctaBackgroundColour }}">
                            <w:anchorlock/>
                            <center style="color:#ffffff;font-family:{{ block.fontFamily|default('Arial') }};font-size:13px;font-weight:bold;">{{ block.ctaText }}</center>
                        </v:rect>
                        <![endif]--><a href="http://www.marionnaud.ro/{{ block.product2 }}{{ parameters.utm }}" style="background-color:{{ block.ctaBackgroundColour }};border: none;color:{{ block.ctaTextColour }};display:inline-block;font-family:{{ block.fontFamily|default('Arial') }};font-size:14px;line-height:40px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all;" title="{{ block.product2Brand }} {{ block.product2Name }}"><strong>{{ block.ctaText }}</strong></a>
                    </div>
                </td>
                <td align="center" style="text-align: center;">
                    <div>
                        <!--[if mso]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.marionnaud.ro/{{ block.product1 }}{{ parameters.utm }}" style="height:40px;v-text-anchor:middle;width:160px;" strokecolor="{{ block.ctaBackgroundColour }}" fillcolor="{{ block.ctaBackgroundColour }}">
                            <w:anchorlock/>
                            <center style="color:#ffffff;font-family:{{ block.fontFamily|default('Arial') }};font-size:13px;font-weight:bold;">{{ block.ctaText }}</center>
                        </v:rect>
                        <![endif]--><a href="http://www.marionnaud.ro/{{ block.product3 }}{{ parameters.utm }}" style="background-color:{{ block.ctaBackgroundColour }};border: none;color:{{ block.ctaTextColour }};display:inline-block;font-family:{{ block.fontFamily|default('Arial') }};font-size:14px;line-height:40px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all;" title="{{ block.product3Brand }} {{ block.product3Name }}"><strong>{{ block.ctaText }}</strong></a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </td>
</tr>