<tr>
    <td align="center">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:640px" width="640">
            <tbody>
            <tr>
                <td width="5%">&nbsp;</td>

                <td width="90%">
                    <p style="color:{{ block.ctaTextColour|default('#6B3284') }}; line-height: 26px; font-family:{{ block.fontFamily|default('Arial') }}; font-weight:600; text-align:center; font-size:{{ block.fontSize|default('18') }}px">
                        {{ block.title }}
                    </p>
                    <hr>
                </td>
                <td width="5%">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>