<!--------------------------- MARIONNAUD FOOTER START ---------------------------->


<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr><td style="font-size:1px; line-height:1px;" height="9" bgcolor="#000000;">&nbsp;</td></tr>


            <tr>
                <td style="font-size:1px; line-height:1px;" bgcolor="#f9f8f8">

                    <table width="25%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.at/Versand{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.at/elab/mar/Email/2018MAR1299/Marionnaud-Free-Delivery.jpg" alt="Free Delivery"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px;" align="center"><strong style="text-transform: uppercase;">Gratis Lieferung</strong><br />
                                ab € 25 + <br>gratis Rückversand</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="24%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.at/Proben{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.at/elab/mar/Email/2018MAR1299/Marionnaud-Free-Returns.png" alt="Free Returns"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>Proben zu jeder <br>Bestellung</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="24%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.at/filialen{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.at/elab/mar/Email/2018MAR1299/Marionnaud-store-finder.jpg" alt="Free Returns"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>Unsere Parfümerien</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>


                    <table width="25%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.at/mymarionnaud{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.at/elab/mar/Email/2018MAR1299/my-marionnaud.png" alt="My Marionnaud"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>MyMarionnaud</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>


                </td>
            </tr>




            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td></tr>

            <tr>
                <td style="font-size:1px; line-height:1px; text-transform: uppercase; color: #ffffff;" align="center" valign="middle" bgcolor="#000000"><img  src="https://www.marionnaud.at/elab/mar/Email/2018MAR1299/My-Marionnayd.jpg" alt="Free Returns" style="display:block;" border="0" width="26">
                </td>
            </tr>
            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="5">
                </td></tr>


            <tr>
                <td class="repading" bgcolor="#000000" style="font-size:12px; line-height:20px; text-transform: uppercase; color: #ffffff;"  align="center" valign="middle">
                    Meine Kartennummer: <a href="https://www.marionnaud.at/login{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff; text-decoration: none; "><%= targetData.card_Num %></a><br />Mein Beauty Punktestand: <%= targetData.point_Bal_Val %>
                    <br><br />
                    <a href="https://www.marionnaud.at/my-account/myMarionnaud/personalPromotions{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff; text-decoration:underline;">Zum MyMarionnaud Konto</a>

                </td>
            </tr>

            <tr>
                <td class="repading" bgcolor="#000000" style="font-size:12px; line-height:20px;color: #ffffff;"  align="center" valign="middle">
                    BEAUTY PUNKTE SAMMELN<br>
                    € 1 Einkaufswert = 1 Beauty Punkt <br>
                    150 Beauty Punkte = € 7,50 Beauty Bonus

                </td>
            </tr>

            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td>    </tr>



            <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>

            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooterlinks" style="color: #000000; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">
                        <a href="https://www.marionnaud.at/Impressum{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">Impressum</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.marionnaud.at/termsConditions{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">AGBs</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.marionnaud.at/contactUs{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">Kundenservice</a>
                    </p>
                </td>
            </tr>






            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px;">
                        <strong>Hotline</strong>: <a href="#" style="color: #000000; text-decoration: none;">0810 / 810 001 (max. € 0,1/Minute),  Montag-Freitag 09:00-18:00 Uhr<br />
                            <strong>E-Mail:</strong> <a href="mailto:office@marionnaud.at" style="color: #000000; text-decoration: none;">office@marionnaud.at</a>
                    </p>


                </td>
            </tr>


            <tr>
                <td class="repading" bgcolor="#f8f8f8" align="center">

                    <table width="85%" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth ">
                        <tr>
                            <td>
                                <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    MyMarionnaud Karte vergessen? Diesen Barcode in der Filiale verwenden und Beauty Punkte sammeln!</p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"></p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    {{ parameters.termsAndConditions|raw }}
                                </p>
                            </td>
                        </tr>


                        <tr>
                            <td class="repading" style="font-size:11px; line-height:18px; color: #000000;" bgcolor="#f8f8f8" align="center">
                                <!-- SHORT UNSUB CODE -->
                                <%@ include view='aswUnsubMAT' %>
                                <!-- SHORT UNSUB CODE -->




                            </td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>


                    </table>

                </td>
            </tr>

            </tbody>
        </table>


    </td>
</tr>

</table>

<!--------------------------- MASTER WRAPPER ENDING---------------------------->

</td>
</tr>
</tbody>
</table>

</body>
</html>