<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">


    <style>
        div, p, a, li, td {-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;    }

        body { width: 100%;  background-color: #ffffff;  margin: 0; padding: 0;-webkit-font-smoothing: antialiased; font-family: Arial, Helvetica, sans-serif;   }

        /* Outlook link fix */
        #outlook a { padding: 0;  }

        /* Hotmail background & line height fixes */
        .ExternalClass { width: 100% !important;  }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {  line-height: 100%; }


        table td {   border-collapse: collapse;  mso-table-lspace: 0pt;mso-table-rspace: 0pt;  }


        /* Image borders & formatting */
        img {  outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
        a img {border: none;}


        /* Re-style iPhone automatic links (eg. phone numbers) */
        .applelinks a {color: #000001; text-decoration: none; }
        .appleBody a {color: #000001;text-decoration: none;  }
        .appleFooter a {color: #000001; text-decoration: none;  }

        /* Hotmail symbol fix for mobile devices */
        .ExternalClass img[class^=Emoji] {width: 10px !important;  height: 10px !important;  display: inline !important;}


        .hideONdesktop {display: none !important; mso-hide: all; /* Outlook clients*/   font-size: 0;   max-height: 0; line-height: 0;}
        .hideONmobile {display: block !important;   }
        .hideONmobileNav {display:inline-table;  }

        .mobileFooterlinks a { color: #000000 !important;}
        .mobileFooterlinks { color: #000000 !important;}

        /* ---------------- MOBILE CODE ---------------- */
        @media only screen and (max-width: 480px) {

            .hideONdesktop {display: block !important; mso-hide: all !important; /* Outlook clients*/   visibility: visible !important; max-height: 100px !important; width: 100% !important; line-height: 16px !important;  overflow: visible !important; }

            .hideONmobile { display: none !important;  mso-hide: all !important; /* Outlook clients*/   }
            .hideONmobileNav {   display: none !important; mso-hide: none; /* Outlook clients*/  }

            .mobcenter { text-align: center; }
            .mobcenter img {  display: block;  margin: 0 auto;  }

            .noborder { border: none !important;  }
            .lastproductof3 {  width: 180px !important;    }

            table.deviceHalfWidth { width: 47.5%;  }
            table.deviceQuarterWidth { width: 25%;   }
            table.devicethirdWidth {  width: 33%;   }
            table.deviceWidth3rowproduct3 {width: 93%;  }

            img.deviceWidth { width;  300px !important; }

            body[yahoo] .deviceWidth {  width: 100% !important; padding: 0 !important; }
            body[yahoo] table[class="hide"], body[yahoo] img[class="hide"], body[yahoo] td[class="hide"] {
                display: none !important;  }
            *[class].float {   float: left !important;    }
            body[yahoo] td.repading {  padding-left: 15px;padding-right: 15px;    }
            body[yahoo] td.doublerepading {   padding-left: 30px; padding-right: 30px;}

            .mobileFooterlinks { font-size: 8px;}
            .mobileFooteraddresstext { font-size: 9px;}

            .mobcenter {text-align: center;}
        }
    </style>
</head>


<body yahoo="fix" bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0"
      style="-webkit-font-smoothing:antialiased;width:100% !important;background-color:#ffffff; background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;-webkit-text-size-adjust:none;">


<!-- Gmail hack -->
<div style="display:none; white-space:nowrap; font:10px arial; color:#ffffff; line-height:0; width:640px !important; min-width:640px !important; max-width:600px !important;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
<!-- /Gmail hack -->


<!--------------------------- MASTER WRAPPER ---------------------------->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>

    <tr>
        <td bgcolor="#ffffff">


            <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                   bgcolor="#ffffff">




                <!---------------------------Preview text and View online link ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;">

                        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                               bgcolor="#FFFFFF">
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:10px; line-height:14px; color: #060606; letter-spacing: 1px;" align="center">
                                    {{ parameters.preHeader }} | <strong><%@ include view='aswMirrorPageMAT' %></strong></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <!---------------------------Preview text and View online link ---------------------------->


                <!---------------------------Marionnaud Logo  ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;" align="center">

                        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                               bgcolor="#FFFFFF">
                            <tbody>
                            <tr>
                                <td align="center" style="font-size:12px; line-height:16px;"><a href="http://www.marionnaud.at/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="http://www.marionnaud.at/elab/mar/Email/2018MAR1299/MAR-PARIS-SECONDARY-LOGO-PURPLE-RGB.jpg" alt="Marionnaud Paris"
                                                style="display:block" border="0" width="283"></a>
                                </td>
                            </tr>

                            <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>

                            </tbody>
                        </table>

                    </td>
                </tr>
                <!---------------------------Marionnaud Logo  ---------------------------->


                <!--------------------------- Social Media  ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;" align="center" class="doublerepading">

                        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                               bgcolor="#FFFFFF">
                            <tbody>
                            <tr>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26">
                                    <a href="http://www.marionnaud.at/m-life/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.marionnaud.at/elab/mat/Email/2018/2018MAT3120/mlife-logo.jpg" alt="Google Plus"
                                                style="display:block" border="0" width="40"></a>
                                </td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">&nbsp;</td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">
                                    <a href="https://www.youtube.com/channel/UC3mxWOJCgrkYCDCDZDeyx3A{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.marionnaud.at/elab/mat/Email/2018/2018MAT3120/youtube-logo.jpg" alt="twitter"
                                                style="display:block" border="0" width="40"></a>
                                </td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">&nbsp;</td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">
                                    <a href="http://www.facebook.com/Marionnaud.Austria{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.marionnaud.at/elab/mat/Email/2018/2018MAT3120/facebook-logo.jpg" alt="facebook"
                                                style="display:block" border="0" width="40"></a>
                                </td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">&nbsp;</td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">
                                    <a href="https://www.instagram.com/marionnaud_at/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.marionnaud.at/elab/mat/Email/2018/2018MAT3120/instagram-logo.jpg" alt="Instagram"
                                                style="display:block" border="0" width="40"></a>
                                </td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">&nbsp;</td>

                                <td align="center" style="font-size:1px; line-height:1px;" width="26">
                                    <a href="http://www.marionnaud.at/m-life/neuheiten-trends/tada-die-marionnaud-app-ist-da/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.marionnaud.at/elab/mat/Email/2018/2018MAT3120/app-logo.jpg" alt="youtube"
                                                style="display:block" border="0" width="40"></a>
                                </td>


                            </tr>



                            </tbody>
                        </table>

                    </td>
                </tr>
                <!--------------------------- Social Media  ---------------------------->



                <tr> <td style="font-size:1px; line-height:1px;" height="15">&nbsp;</td></tr>


                <!--=========================NAVIGATION ==========================-->
                <tr>
                    <td style="font-size:1px; line-height:1px;">
                        <table align="center" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" class="deviceWidth" width="640">
                            <tbody>
                            <!-- DESTKTOP NAVIGATION -->
                            <tr>
                                <td align="left" height="48" style="font-size:11px; line-height:48px;">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="devicethirdWidth" width="20%"height="48">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="font-family: arial; color: #ffffff; font-size: 12px;" valign="middle" height="48"><a href="https://www.marionnaud.at/marionnaud/unsere-neuheiten/lc/neu{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none; text-transform: uppercase;"><span style="color: #ffffff;font-size: 12px;letter-spacing: 1px; line-height:48px;">New in</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="hideONmobileNav" width="20%" height="48">
                                        <tbody>
                                        <tr>
                                            <td height="48" align="center" style="font-family: arial; color: #ffffff; font-size: 12px; letter-spacing: 1px;" valign="middle" ><a href="https://www.facebook.com/pg/Marionnaud.Austria/events{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none; text-transform: uppercase;"><span style="color: #ffffff;font-size: 12px;letter-spacing: 1px; line-height:48px;">EVENTS</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="devicethirdWidth" width="20%" height="48">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="font-family: arial; color: #ffffff; font-size: 12px; letter-spacing: 1px;" valign="middle" height="48"><a href="https://www.marionnaud.at/marionnaud/angebote/lc/5555{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none; text-transform: uppercase;"><span style="color: #ffffff;font-size: 12px;letter-spacing: 1px; line-height:48px;">Angebote</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="devicethirdWidth" width="20%" height="48">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="font-family: arial; color: #ffffff; font-size: 12px; letter-spacing: 1px;" valign="middle" height="48" ><a href="https://www.marionnaud.at/marionnaud/nur-bei-uns/lc/400000000{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none; text-transform: uppercase;"><span style="color: #ffffff;font-size: 12px;letter-spacing: 1px; line-height:48px;">Nur bei M</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="hideONmobileNav" width="17%" height="48">
                                        <tbody>
                                        <tr>
                                            <td align="center" style="font-family: arial; color: #ffffff; font-size: 12px; letter-spacing: 1px;" height="48" valign="middle" ><a href="https://www.marionnaud.at/marionnaud/angebote/outlet/c/Outlet{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none; text-transform: uppercase;"><span style="color: #ffffff;font-size: 12px;letter-spacing: 1px; line-height:48px;">Outlet</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr><!--========================= NAVIGATION ==========================-->


                <!---------------------------Free Delivery text area ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;">

                        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                               bgcolor="#f8f8f8">
                            <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td> </tr>

                            <tr><td style="font-size:10px; line-height:14px; color: #060606; letter-spacing: 2px; text-transform: uppercase;" align="center">
                                    <a href="https://www.marionnaud.at/Versand{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="text-decoration: none; color:#060606;"> Gratis Lieferung ab € 25</a></td>
                            </tr>
                            <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td> </tr>
                        </table>

                    </td>
                </tr>
                <!---------------------------Free Delivery text area ---------------------------->