<tr>
    <td align="center">
        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="max-width:640px;"
               width="640">
            <tbody>
            <tr>
                <td width="640">
                    <a href="http://www.marionnaud.ro/marionnaud/marci/1887/brand/di-palomo?utm_source=NL&amp;utm_medium=email&amp;utm_content=o&amp;utm_campaign=MRO_0917_EC_DiPalomo_2554"><img
                                alt="Halloween"
                                src="http://www.marionnaud.ro/elab/mro/Email/2017MRO2554/header-image.jpg"
                                style="display:block" title="Halloween"></a>
                </td>
            </tr>
            <tr>
                <td width="640">
                    <div><!--[if mso]>

                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-
microsoft-com:office:word" href="{{ block.ctaUrl }}{{ parameters.utm }}" style="height:26px;v-text-
anchor:middle;width:150px;" stroke="f" fillcolor="#000000">

                            <w:anchorlock/>
                            <center>
                        <![endif]-->
                        <a href="{{ block.ctaUrl }}{{ parameters.utm }}" title="{{ block.ctaUrlTitle }}"

                           style="background-color:#000000;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;

text-transform: uppercase;">CUMPARA ACUM</a>
                        <!--[if mso]>
                        </center>
                        </v:rect>
                        <![endif]--></div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>