{% extends 'login.html.twig' %}
{%  block mainBody %}
    <div class="">
        <div class="jumbotron background-white">

                <div class="text-center header">
                    <img src="{{ asset('images/eLab_logo_thumb.jpg') }}" alt="elab logo"> Administration Tool | Registration
                </div>
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                <button type="submit">Register!</button>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}