


<!---------------------------MSK FOOTER START ---------------------------->






<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="50" bgcolor="#ffffff">&nbsp;</td>
            </tr>

        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->


<!---------------------------MEMBER BENEFITS  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:12px; line-height:16px;"><a href="https://www.marionnaud.sk/vernostny-program{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                        <img class="deviceWidth"
                             src="https://www.marionnaud.sk/elab/crm/member-benefits/2017CRM1622---Email---Member-Benefits-footer-update---FV-MSK.jpg"
                             alt="Member-Loyalty-Benefits" title="Member-Loyalty-Benefits"
                             style="display:block" border="0" width="640"></a>
                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="50">&nbsp;</td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------MEMBER BENEFITS  ---------------------------->


<!---------------------------STORE ICONS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="325" border="0" cellspacing="0" cellpadding="0" align="left"
               class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">

                    <table width="10" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="28" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table> <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                                    class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.sk/dorucovanie-zasielok{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="DOPRAVA NAD 39 ZADARMO" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-delivery.png" ></a><br/>DOPRAVA NAD 39 ZADARMO
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table> <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                                    class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785; text-transform: uppercase;"
                                valign="top">
                                <a href="https://www.marionnaud.sk/vratenie-vymena-tovaru{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="VRÁTENIE TOVARU" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-returns.png" ></a><br/>Vrátenie tovaru
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table> <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                                    class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.sk/{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="VZORKY K NÁKUPU ZDARMO" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-samples.png" ></a><br/>VZORKY K NÁKUPU ZDARMO
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table> <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                                    class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.sk/darcekove-balenie{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="DARČEKOVÉ BALENIE ZADARMO" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-giftwrap.png" ></a><br/>DARČEKOVÉ BALENIE ZADARMO
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>






                </td>
            </tr>
            </tbody>
        </table>






        <table width="310" border="0" cellspacing="0" cellpadding="0" align="left"
               class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">

                    <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.sk/darcekova-karta{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="DARČEKOVÉ KARTY" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-kc.png" ></a><br/>DARČEKOVÉ KARTY
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table> <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                                    class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.sk/vsetkyparfumerie{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="PARFUMÉRIE MARIONNAUD" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-stores.png" ></a><br/>PARFUMÉRIE MARIONNAUD
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table> <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                                    class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.sk/kontakt{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="POMOC S VÝBEROM" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-kontakt.png" ></a><br/>POMOC S VÝBEROM
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table> <table width="71" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                                    class="noborder deviceQuarterWidth">
                        <tbody>
                        <tr>
                            <td align="center" width="65"
                                style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:10px; line-height: 12px; color: #702785"
                                valign="top">
                                <a href="https://www.marionnaud.sk/vernostny-program{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="Doprava ZDARMO" src="https://www.marionnaud.sk/elab//msk/Email/general/2018-loyalty.png" ></a><br/>VERNOSTNÝ PROGRAM
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="hideONmobile noborder">
                        <tbody>
                        <tr>
                            <td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>






                </td>
            </tr>
            </tbody>
        </table>


    </td>
</tr>
<!---------------------------STORE ICONS ---------------------------->


<!----- SPACE WITH NO LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="20" bgcolor="#ffffff">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<!----- SPACE WITH NO LINE ----->


<!---------------------------TERMS AND CONDITIONS ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">


                    <p><%@ include             view='aswUnsubMSK' %> </p>
                    <p><font color="#808080" face="Arial"><br></font><br>
                        Nemáte svoju vernostnú kartu? Použite tento čiarový kód a získajte svoje body za nákup.<br>
                        <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"><br>
                        Ak máte akúkoľvek otázku, obráťte sa na náš Zákaznícky servis, radi Vám pomôžeme. Informácie ohľadom vernostného programu a kamenných parfumérií získate na e-maile:
                        <a href="mailto:info@marionnaud.sk">info@marionnaud.sk</a><br>
                        <br>
                        Otázky ohľadom objednávok na e-shope vyriešime na:<br>
                        <strong>Tel .:</strong> 0901 902 663 a<br>
                        <strong>E-maile:</strong> <a href="mailto:eshop@marionnaud.sk">eshop@marionnaud.sk</a></p>

                    {{ parameters.termsAndConditions|raw }}

                </td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>
        </table>

    </td>
</tr>
<!---------------------------TERMS AND CONDITIONS ---------------------------->



<!---------------------------BOTTOM ROW LINKS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>


            <tr>

                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">


                    <table width="288" border="0" cellpadding="0" cellspacing="0"  style="font-size:12px; line-height:15px;" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center">
                                <p><a href="https://www.marionnaud.sk/ochrana-osobnych-udajov{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #702781; text-transform: uppercase;" target="_blank">
                                        Ochrana<br/>osobných údajov</a></p></td>
                        </tr>
                        </tbody></table>

                    <table width="288" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; line-height:15px;" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center">
                                <p><a href="https://www.marionnaud.sk/vernostny-program{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #702781; text-transform: uppercase;" target="_blank">
                                        Všeobecné podmienky <br>
                                        k vernostnej karte</a></p></td>

                        </tr>
                        </tbody></table>




                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------BOTTOM ROW LINKS ---------------------------->




<!---------------------------MSK FOOTER END ---------------------------->












</table>


</td>
</tr>
</tbody>
</table><!--------------------------- MASTER WRAPPER ENDING---------------------------->


</body>