// Aside Section
aside {
  color: #FFFFFF;
  position: absolute;
  top:0;
  left: 0;
  width: $aside-width;
  height: 100%;
  padding: $big-padding;
  background-color: $black;

  dl, ol, ul {
    margin: 0;
    list-style-type: none;
    padding:0;
  }

  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: whitesmoke;
    }
  }

  //Profile
  .asideProfile {
    .asideProfileImage {
      margin-bottom: $standard-margin-bottom;
    }
    .asideProfileUser {
      margin-left: $standard-margin-bottom;
    }
  }

  //Nav
  .asideNavList {
    li {
      margin-bottom: ($standard-margin-bottom /2);
    }
  }
}
