body {
  &.login {
    background-color: $brand-blue-colour;
    color: black;
    .loginContainer {
      display: table;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .mainBody {
      display: table-cell;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      > div {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
      }
    }
    .header {
      font-size: 25px;
      font-weight: bold;
      > img {
        margin: 10px;
      }
    }
  }
}

// Global styling for this template

html {
  min-height: 100%;
}

body {
  overflow-x: hidden;

  &.fixed-nav {
    .mainBody {
    padding-bottom: $big-padding;
  }
}

}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

body.fixed-nav {
  padding-top: $navbar-base-height;
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

button {
  cursor: pointer;
}