.max-thumb {
  max-height: 35px;
  max-width: 180px;
}

.border-right-gray {
  border-right: 2px solid $gray-700;
  @media (max-width: $breakpoint-md) {
    border-right: none;
  }
}
small.caption {
  vertical-align: middle;
  display: contents;
  line-height: 31px;
  color: $gray-600;
  margin-left: 5px;
}