form {
  input {
    &[type="checkbox"] {
      margin-left: $small-margin;
    }
    &[type="color"] {
      height: 40px;
    }
  }
 .invalid-feedback {
   display: block;
 }
  .input-group-append {
    margin-left: -3px;
    .sku-discover {
      cursor: pointer;
      box-shadow: none;
      &:active,
      &:hover {
        outline: none;
      }
    }
  }
}