// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Variables
$aside-width: 20%;
$main-width: (100% - $aside-width);
$big-padding: 40px;
$standard-margin-bottom: 20px;
$small-margin: 5px;

// Coulours
$brand-blue-colour: #05C3DE;	//Pantone 311 C
$brand-yellow-colour: #FEDD00;	//Pantone Yellow C
$brand-pink-colour: #EC86D0;	//Pantone 237 C
$brand-orange-colour: #FFA300;	//Pantone 137 C
$brand-green-colour: #49C5B1;	//Pantone 3258 C
$brand-purple-colour: #C98BDB;	//Pantone 2572 C
$brand-light-pink-colour: #F6DFE0;	//Pantone 9286C C
$brand-light-orange-colour: #F4E5C0;	//Pantone 9160 C
$brand-light-green-colour: #E5EFDA;	//Pantone 9544 C
$brand-light-purple-colour: #DED8EB;	//Pantone 9360 C

// Other Colours
$black: #000000;

// Color Variables
// Bootstrap Color Defaults
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 56px;
// Change below variable to change the width of the sidenav
$sidenav-base-width: 250px;
// Change below variable to change the width of the sidenav when collapsed
$sidenav-collapsed-width: 55px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 56px;