//All imports
@import "variables";
@import "bodyClass";
@import "aside";
@import "topNav";
@import "project";
@import "form";
@import "steps";
@import "giftFinder";
@import "emailGenerator";
@import "navbar_colors";
@import "navbar_fixed";
@import "navbar_global";
@import "navbar_toggle";
@import "footer";

// Brand guidelines
body {
  font-family: Calibri, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, sans-serif;
  font-weight: bold;
}
.background-green {
  background-color: $brand-light-green-colour;
}

.background-white {
  background-color: #ffffff;
}
@mixin rotate {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.jQWCP-wWidget {
  width: 265px !important;
  height: 200px !important;
}