{% if data is  empty %}
    <div class="alert alert-warning" role="alert">
        It looks like no data no data was found. Please check with a developer if you thing is not possible.
    </div>
{% else %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            {% for key in data[0]|keys %}
                <th>{{ key }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            {% for keyField, field in row %}
                {% if keyField|slice(0, 2) == 'is' %}
                    <td>{{ field == true ? 'Yes': 'No' }}</td>
                {% elseif keyField|slice(0, 4) == 'date' %}
                    <td>{{ field|date('d-m-y') }}</td>
                {% else %}
                    <td>{{ field }}</td>
                {% endif %}
            {% endfor %}
            <td>
                {% if 'edit' in actions|keys %}
                    <a href="{{ path(actions.edit.path, {'template': row.id}) }}" class="btn btn-{{ actions.edit.btn }} btn-sm" style="margin: 0.1em;">
                        {{ actions.edit.name|raw }}
                    </a>
                {% endif %}
                <a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target="#modalDelete{{ row.id }}"><i class="fa fa-trash"></i> Delete template</a>


                {% include 'AppBundle:common:_modal.html.twig' with {'modalId': 'modalDelete'~ row.id, 'title': 'Are you sure?',
                'body': '<a href="'~ path('email_delete' ,{'id': row.id}) ~'" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete template</a>' } %}

            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}