{% extends 'backend.html.twig' %}
{% block help %}
    <li class="nav-item">
        <a href="{{ asset('/documentation/email_generator/Email_list_page.pdf') }}"
           target="_blank" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Do you need help?">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    </li>
{% endblock %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"> <i class="fa fa-newspaper-o"></i> templates</li>
{% endblock %}
    {% block mainLinks %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="{{ path('email_template_new') }}"> New template</a>
            </li>
        </ul>
    {% endblock %}
{% block mainBody %}
    <h1>templates list</h1>
    {% include 'EmailGeneratorBundle:Template:_table.html.twig' with {'data': data,'actions': actions} %}

{% endblock %}