
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">



    <style>
        div, p, a, li, td {
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        /* Outlook link fix */
        #outlook a {
            padding: 0;
        }
        /* Hotmail background & line height fixes */
        .ExternalClass {
            width: 100% !important;
        }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }
        table td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        /* Image borders & formatting */
        img {
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }
        a img {
            border: none;
        }

        /* Re-style iPhone automatic links (eg. phone numbers) */
        .applelinks a {
            color: #000001;
            text-decoration: none;
        }
        .appleBody a {
            color: #000001;
            text-decoration: none;
        }
        .appleFooter a {
            color: #000001;
            text-decoration: none;
        }
        /* Hotmail symbol fix for mobile devices */
        .ExternalClass img[class^=Emoji] {
            width: 10px !important;
            height: 10px !important;
            display: inline !important;
        }
        /* Opacity Hover effect */
        td:hover[id=hover] {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.8;
            opacity: 0.8;
        }
        body {
        }
        .ReadMsgBody {
            width: 100%;
            background-color: #ffffff;
        }
        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Arial, Helvetica, sans-serif;
        }


        .hideONdesktop {
            display:none !important;
            mso-hide:all; /* Outlook clients*/
            font-size: 0;
            max-height: 0;
            line-height: 0;
        }

        .hideONmobile {
            display:block !important;
        }






        @media only screen and (max-width: 480px) {
            .hideONdesktop {
                display:block !important;
                mso-hide:all !important; /* Outlook clients*/
                visibility:visible !important;
                max-height: 100px!important;
                width: 100%!important;
                line-height: 16px!important;
                overflow:visible!important;
            }

            .hideONmobile { display:none !important; mso-hide:none; /* Outlook clients*/}
            .mobcenter { text-align:center;}
            .mobcenter img{ display:block; margin:0 auto;}
            .noborder { border:none !important;}

            .lastproductof3 { width: 180px !important;}

            table.deviceHalfWidth {width:47.5%;}
            table.deviceQuarterWidth {width:25%;}
            table.devicethirdWidth {width:33%;}
            table.deviceWidth3rowproduct3 {width:93%;}

            body[yahoo] .deviceWidthExternal {
                width: 100% !important;
                padding: 5px !important;
            }
            body[yahoo] .deviceWidth {
                width: 100% !important;
                padding: 0 !important;
            }

            img.deviceWidth { width;300px !important;}

            body[yahoo] table[class="hide"], body[yahoo] img[class="hide"], body[yahoo] td[class="hide"] {
                display: none !important;
            }
            *[class].float {
                float: left !important;
            }

            body[yahoo] td.repading {
                padding-left: 15px;
                padding-right: 15px;
            }
            body[yahoo] img.repadingLogo {
                padding-right: 15px;
                padding-bottom: 20px;
            }
            body[yahoo] img.PaddingBtm {
                height: 15px !important;
            }
            body[yahoo] .wrapper-center {
                width: 280px;
                padding-left: 15px;
            }
            body[yahoo] img.CenteredPics {
                display: block;
                -ms-interpolation-mode: bicubic;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

        }
    </style>
</head>





<body yahoo="fix" bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased;width:100% !important;background-color:#ffffff; background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;-webkit-text-size-adjust:none;">


<!-- Gmail hack -->
<div style="display:none; white-space:nowrap; font:10px arial; color:#ffffff; line-height:0; width:640px !important; min-width:640px !important; max-width:600px !important;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
<!-- /Gmail hack -->


<!--------------------------- MASTER WRAPPER ---------------------------->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
    <tbody>

    <tr>
        <td bgcolor="{{ parameters.backgroundColour| default('#FF7490') }}"><!-------------- CHANGE BG COLOUR HERE -------------->




            <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" bgcolor="#ffffff">



                <!---------------------------ROW 1 - VIEW AS WEBPAGE ---------------------------->
                <tr>
                    <td bgcolor="#ffffff">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" >
                            <tbody>
                            <tr><td>



                                    <table width="360" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceWidth" >
                                        <tbody>
                                        <tr>
                                            <td width="10" style="font-size: 1px; line-height: 1px">&nbsp;</td>
                                            <td class="repading mobcenter" width="340" align="left" valign="middle" style="color: #525152; font-size: 11px; line-height: 13px; font-family: Arial, Helvetica, sans-serif; padding-top: 5px;">
                                                {{ parameters.preHeader }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                    <table width="230" border="0" cellspacing="0" cellpadding="0" align="right" class="deviceWidth" >
                                        <tbody>
                                        <tr><td class="repading mobcenter" width="39%" align="right" valign="middle" style="color: #525152; font-size: 11px; line-height: 13px; font-family: Arial, Helvetica, sans-serif; padding-top: 5px;"><%@ include view='aswMirrorPageMAT' %></td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <!---------------------------ROW 1 - VIEW AS WEBPAGE ---------------------------->







                <!---------------------------ROW 2 - LOGO, SOCIAL AND MY MRD ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;" bgcolor="#FFFFFF">

                        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" >
                            <tbody>
                            <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>

                            <tr><td>
                                    <table width="30%" cellpadding="0" cellspacing="0" border="0" align="left" class="deviceWidth mobcenter">
                                        <tbody><tr>
                                            <td class="repading" align="left"><a href="http://www.marionnaud.at/{{ parameters.utm|default('?NO_UTM_SET_UP') }}" title="Marionnaud"><img class="mobcenter" src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/logo.jpg"  alt="Marionnaud" title="Marionnaud" style="display:block" border="0"></a></td></tr>
                                        <tr><td style="font-size:1px; line-height:1px;"  height="30">&nbsp;</td></tr>
                                        </tbody></table>

                                    <table width="60%" border="0" cellpadding="0" cellspacing="0" class="deviceWidth" align="right">
                                        <tbody><tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" class="deviceWidth" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td class="repading mobcenter" style="color: #702785; font-size: 12px; line-height:13px;" align="right">
                                                            <!--------------------------- SOCAIAL START ---------------------------->
                                                            <table class="deviceWidth" align="right" border="0" cellspacing="0" width="200">
                                                                <tbody>
                                                                <tr>
                                                                    <td align=“center”>
                                                                        <a href=" http://www.marionnaud.at/m-life/{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="M-Life" src="http://www.marionnaud.ro/elab/crm/social/mlife-2018.png" /></a></td>
                                                                    <td>
                                                                        <img src="https://www.marionnaud.at/elab/msk/Hybris/HybrisEmail/small_line_white.png" /></td>
                                                                    <td align=“center”>
                                                                        <a href="https://www.instagram.com/marionnaud_at/{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="instagram" src="http://www.marionnaud.ro/elab/crm/social/insta-2018.png" /></a></td>
                                                                    <td>
                                                                        <img src="https://www.marionnaud.at/elab/msk/Hybris/HybrisEmail/small_line_white.png" /></td>
                                                                    <td align=“center”>
                                                                        <a href="http://www.facebook.com/Marionnaud.Austria{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="facebook" src="http://www.marionnaud.ro/elab/crm/social/facebook-2018.png" /></a></td>
                                                                    <td>
                                                                        <img src="https://www.marionnaud.at/elab/msk/Hybris/HybrisEmail/small_line_white.png" /></td>
                                                                    <td align=“center”>
                                                                        <a href="https://www.youtube.com/channel/UC3mxWOJCgrkYCDCDZDeyx3A{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="You Tube" src="http://www.marionnaud.ro/elab/crm/social/youtube-2018.png" /></a></td>
                                                                    <td>
                                                                        <img src="https://www.marionnaud.at/elab/msk/Hybris/HybrisEmail/small_line_white.png" /></td>
                                                                    <td align=“center”>
                                                                        <a href="http://www.marionnaud.at/m-life/neuheiten-trends/tada-die-marionnaud-app-ist-da/{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="App" src="http://www.marionnaud.ro/elab/crm/social/app-2018.png" /></a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>    </td>
                                                    </tr>
                                                    <!--------------------------- SOCAIAL END ---------------------------->

                                                    <tr><td style="color: #808080; font-size: 12px; line-height:13px;" align="right" class="hideONmobile">&nbsp;<br />
                                                            <span style="color: #702785; font-size: 12px">Meine Kartennummer:<br></span> <%= targetData.card_Num %></span><br />
                                                            <span style="color: #808080"><span style="color: #702785; font-size: 12px">Mein Beauty Punktestand:<br/></span> <%= targetData.point_Bal_Val %></span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="font-size:1px; line-height:1px;" height="30"></td></tr>
                                                    <!--END SPACER ROW-->
                                                    </tbody>
                                                </table>
                                            </td></tr></tbody></table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <!---------------------------ROW 2 - LOGO, SOCIAL AND MY MRD ---------------------------->









                <!--------------------------- MAT FREE DELIVERY ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;">

                        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
                            <tbody>

                            <tr><td style="font-size:12px; line-height:16px;"><a href="http://www.marionnaud.at{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img  class="deviceWidth" src="https://www.marionnaud.at/elab/mat/Email/EmailMaster/free-delivery-gif.gif" alt="Gratis Liferung ab €25" title="Marionnaud" style="display:block" border="0" width="640"></a>
                                </td>
                            </tr>
                            <tr><td  style="font-size:1px; line-height:1px;" height="15">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <!--------------------------- MAT FREE DELIVERY ---------------------------->
                <!---------------------------ROW 3 - NAVIGATION ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;" bgcolor="#702785">

                        <table width="640" background="#702785" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth repading" bgcolor="#702785">
                            <tbody>

                            <!-- DESTKTOP NAVIGATION -->
                            <tr><td class="repading" style="font-size:11px; line-height:30px;" align="center">

                                    <table  class="deviceQuarterWidth" align="left" border="0" cellspacing="0" cellpadding="0" width="13.9%" bgcolor="#702785" height="30">
                                        <tbody>
                                        <tr>
                                            <td align="center"  height="30" style="font-family: arial; color: #ffffff; font-size: 10px; line-height: 10px;"><a href="https://www.marionnaud.at/marionnaud/duft/lc/100000000{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none"><span style="color: #ffffff;">DUFT</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table  class="deviceQuarterWidth" align="left" border="0" cellspacing="0" cellpadding="0" width="13.9%" bgcolor="#702785" height="30">
                                        <tbody>
                                        <tr>
                                            <td align="center"  height="30" style="font-family: arial; color: #ffffff; font-size: 10px; line-height: 10px;"><a href="https://www.marionnaud.at/marionnaud/pflege/lc/200000000{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none;"> <span style="color: #ffffff;">PFLEGE</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table  class="deviceQuarterWidth" align="left" border="0" cellspacing="0" cellpadding="0" width="13.9%" bgcolor="#702785" height="30">
                                        <tbody>
                                        <tr>
                                            <td align="center"  height="30" style="font-family: arial; color: #ffffff; font-size: 10px; line-height: 10px;"><a href="https://www.marionnaud.at/marionnaud/make-up/lc/300000000{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none;"><span style="color: #ffffff;">MAKE UP</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table  class="deviceQuarterWidth" align="left" border="0" cellspacing="0" cellpadding="0" width="13.9%" bgcolor="#702785" height="30">
                                        <tbody>
                                        <tr>
                                            <td align="center"  height="30" style="font-family: arial; color: #ffffff; font-size: 10px; line-height: 10px;"><a href="https://www.marionnaud.at/marionnaud/fur-den-mann/lc/500000000{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none;">  <span style="color: #ffffff;">MÄNNER</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table  class="deviceQuarterWidth" align="left" border="0" cellspacing="0" cellpadding="0" width="13.9%" bgcolor="#702785" height="30">
                                        <tbody>
                                        <tr>
                                            <td align="center"  height="30" style="font-family: arial; color: #ffffff; font-size: 10px; line-height: 10px;"><a href="https://www.marionnaud.at/marionnaud/nur-bei-uns/lc/400000000{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none;">  <span style="color: #ffffff;">NUR BEI UNS</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table  class="deviceQuarterWidth" align="left" border="0" cellspacing="0" cellpadding="0" width="13.9%" bgcolor="#702785" height="30">
                                        <tbody>
                                        <tr>
                                            <td align="center" height="30" style="font-family: arial; color: #ffffff; font-size: 10px; line-height: 10px;"><a href="https://www.marionnaud.at/marionnaud/unsere-neuheiten/lc/neu{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none;"> <span style="color: #ffffff;">NEUHEITEN</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <table  class="deviceQuarterWidth" align="left" border="0" cellspacing="0" cellpadding="0" width="13.9%" bgcolor="#702785" height="30">
                                        <tbody>
                                        <tr>
                                            <td align="center" height="30" style="font-family: arial; color: #ffffff; font-size: 10px; line-height: 10px;"><a href="https://www.marionnaud.at/m-life{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff !important; text-decoration: none;"> <span style="color: #ffffff;">MLIFE BLOG</span></a></td>
                                        </tr>
                                        </tbody>
                                    </table>




                                </td>
                            </tr>
                            <!-- DESTKTOP NAVIGATION ENDS-->
                            </tbody></table>
                    </td>
                </tr>