<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
    </title>
</head>

<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="text-align: center" width="640">
    <tbody>
    <tr>
        <td>
            <!-- CONTAINER TABLE -->


            <table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
                <tbody>
                <!-- PRE-HEADER -->


                <tr>
                    <td>
                        <table align="center" border="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td align="left" style="font-family: 'Arial', Verdana, sanserif; color: #808080; font-size: 9px" width="46%">Incearca produsele noastre exclusive Di Palomo si bucura-te de cadou!</td>

                                <td>&nbsp;</td>

                                <td align="right" style="font-family: 'Arial', Verdana, sanserif; color: #808080; font-size: 9px" width="46%"><%@ include view='aswMirrorPageMRO' %>
                                </td>
                            </tr>


                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- PRE-HEADER END -->
        </td>
    </tr>
    <!-- PRE-HEADER END -->

    <!-- HEADER -->
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td align="left" rowspan="3" valign="top" width="233">
                        <a href="http://www.marionnaud.ro/{{  parameters.utm }}" target="_blank"><img alt="Marionnaud Paris logo" height="76" src="http://www.marionnaud.ro/elab/mro/Email/header/logo.jpg" width="221"></a>
                    </td>

                    <td width="407">&nbsp;</td>
                </tr>


                <tr>
                    <td align="right">
                        <a href="https://www.instagram.com/marionnaudro/?hl=en{{  parameters.utm }}" target="_blank"><img alt="instagram" src="http://www.marionnaud.ro/elab/mro/Email/header/Socials_insta.jpg"></a> <a href="http://www.facebook.com/MarionnaudRomania/{{  parameters.utm }}" target="_blank"><img alt="" src="http://www.marionnaud.ro/elab/mro/Email/header/small_line_purple.png"></a> <a href="http://www.facebook.com/MarionnaudRomania/{{  parameters.utm }}" target="_blank"><img alt="facebook" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/facebook.jpg"></a>
                    </td>
                </tr>


                <tr>
                    <td align="right" style="color: #702785; font-size: 12px">&lt; %= recipient.firstName % &gt;<br>
                        Card Marionnaud: <%= targetData.card_Num %><br>
                        Puncte: <%= targetData.point_Bal_Val %><br></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <!-- SPACER -->
    <tr>
        <td>&nbsp;</td>
    </tr>
    <!-- END SPACER -->

    <!-- END HEADER -->

    <!-- NAV BAR -->
    <tr>
        <td>
            <table align="center" bgcolor="#702785" border="0" cellpadding="0" cellspacing="0" width="640">
                <tbody>
                <tr valign="center">
                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud/promotii/lc/F{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">PROMOTII</strong></a>
                    </td>

                    <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png">
                    </td>

                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud/parfumuri/lc/A{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">PARFUMURI</strong></a>
                    </td>

                    <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png">
                    </td>

                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud/cosmetice/lc/B{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">COSMETICE</strong></a>
                    </td>

                    <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png">
                    </td>

                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud/machiaj/lc/C{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">MACHIAJ</strong></a>
                    </td>

                    <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png">
                    </td>

                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud/barbati/lc/E{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">BARBATI</strong></a>
                    </td>

                    <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png">
                    </td>

                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud/exclusiv/lc/X{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">EXCLUSIV</strong></a>
                    </td>

                    <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png">
                    </td>

                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud/marci/b/brandList{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">MARCI</strong></a>
                    </td>

                    <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png">
                    </td>

                    <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                        <a class="menu" href="http://www.marionnaud.ro/marionnaud-life{{  parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">BLOG</strong></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <!-- END NAV BAR -->

    <!--free delivery-->
    <tr>
        <td align="center" valign="top">
            <a href="http://www.marionnaud.ro{{  parameters.utm }}"><img alt="Livrare gratuita pentry achisitii minime de 190 lei" src="http://www.marionnaud.ro/elab/mro/Email/header/van-anim_190.gif" style="display:block" title="Livrare gratuita pentry achisitii minime de 190 lei"></a>
        </td>
    </tr>
    <!-- end free delivery-->