<!--------------------------- MARIONNAUD FOOTER START ---------------------------->


<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr><td style="font-size:1px; line-height:1px;" height="9" bgcolor="#000000;">&nbsp;</td></tr>


            <tr>
                <td style="font-size:1px; line-height:1px;" bgcolor="#f9f8f8">

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.ro/informatii-despre-livrare{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.ro/elab/mar/Email/2018MAR1299/Marionnaud-Free-Delivery.jpg" alt="Free Delivery"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px;" align="center"><strong style="text-transform: uppercase;">TRANSPORT GRATUIT<br />
                                    PESTE 175 LEI</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.ro/vanzator-autorizat{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.ro/elab/mar/Email/2018MAR1299/Marionnaud-Free-Returns.jpg" alt="Free Returns"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>VÂNZĂTOR AUTORIZAT</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.ro/gaseste-filiala{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.ro/elab/mar/Email/2018MAR1299/Marionnaud-store-finder.jpg" alt="Free Returns"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>GĂSEȘTE MAGAZINUL</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>





                </td>
            </tr>




            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td></tr>

            <tr>
                <td style="font-size:1px; line-height:1px; text-transform: uppercase; color: #ffffff;" align="center" valign="middle" bgcolor="#000000"><img  src="https://www.marionnaud.ro/elab/mar/Email/2018MAR1299/My-Marionnayd.jpg" alt="Free Returns" style="display:block;" border="0" width="26">
                </td>
            </tr>
            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="5">
                </td></tr>


            <tr>
                <td class="repading" bgcolor="#000000" style="font-size:12px; line-height:20px; text-transform: uppercase; color: #ffffff;"  align="center" valign="middle">
                    CARD: <a href="https://www.marionnaud.ro/login{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff; text-decoration: none; "><%= targetData.card_Num %></a><br />punctele mele: <%= targetData.point_Bal_Val %>
                    <br>
                </td>
            </tr>




            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td>    </tr>



            <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>

            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooterlinks" style="color: #000000; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">
                        <a href="https://www.marionnaud.ro/contact{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">contact</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.marionnaud.ro/termenii-si-conditiile{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">TERMENII SI CONDITIILE</a>
                    </p>

                </td>
            </tr>


            <tr><td style="font-size:1px; line-height:1px;" height="20" bgcolor="#f8f8f8">&nbsp;</td></tr>





            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px;">
                        <strong>Informaţii:</strong> 0733 330 771 - De Luni până Vineri, între 9:00-17:30<br />
                        <strong>E-Mail:</strong> <a href="mailto:fidelitate@marionnaud.ro" style="color: #000000; text-decoration: none;">fidelitate@marionnaud.ro</a> <br /><br />
                        © 2011-2019 Marionnaud. Toate drepturile rezervate.</p>


                </td>
            </tr>


            <tr>
                <td class="repading" bgcolor="#f8f8f8" align="center">

                    <table width="85%" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth ">
                        <tr>
                            <td>
                                <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    Ai uitat de cardul de fidelitate?<br>Foloseste acest cod in magazinele Marionnaud si acumulezi puncte de loialitate!</p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent(''+ targetData.card_Num +'').replace(/%2F/gi,'/')%>/barcode.gif   " alt="barcode"></p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    {{ parameters.termsAndConditions|raw }}
                                </p>
                            </td>
                        </tr>


                        <tr><td style="font-size:1px; line-height:1px;" height="10" bgcolor="#f8f8f8">&nbsp;</td></tr>
                        <tr>
                            <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">
                                <!-- SHORT UNSUB CODE -->
                                <%@ include view='aswUnsubMRO' %>
                                <!-- SHORT UNSUB CODE -->
                            </td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>


                    </table>

                </td>
            </tr>

            </tbody>
        </table>


    </td>
</tr>

</table>

<!--------------------------- MASTER WRAPPER ENDING---------------------------->

</td>
</tr>
</tbody>
</table>

</body>
</html>