<!-- SERVICE ICONS -->
<tr>
    <td align=“center”>&nbsp;</td>
</tr>
<tr>
    <td style="border-top: #ffffff 1px dotted">&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
            <tbody>
            <tr>
                <td>&nbsp;</td>
                <td align="center">
                    <a href="http://www.marionnaud.ro/informatii-despre-livrare{{ parameters.utm }}"><img alt="Costuri de transport" src="http://www.marionnaud.ro/elab/vip/email/vip-services-delivery-.jpg"></a>
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    <a href="http://www.marionnaud.ro/card-de-loialitate{{ parameters.utm }}"><img alt="Card de Loialitate" src="http://www.marionnaud.ro/elab/vip/email/vip-services-loyalty.jpg"></a>
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    <a href="http://www.marionnaud.ro/vanzator-autorizat{{ parameters.utm }}"><img alt="Vânzător autorizat" src="http://www.marionnaud.ro/elab/vip/email/vip-services-authority.jpg"></a>
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    <a href="http://www.marionnaud.ro/gaseste-filiala{{ parameters.utm }}"><img alt="Gaseste magazinul" src="http://www.marionnaud.ro/elab/vip/email/vip-services-location.jpg"></a>
                </td>
                <td>&nbsp;</td>
                <td align="center">
                    <a href="http://www.marionnaud.ro/contact{{ parameters.utm }}"><img alt="Contact Marionnaud" src="http://www.marionnaud.ro/elab/vip/email/vip-services-contact.jpg"></a>
                </td>
                <td>&nbsp;</td>
                <td align="center"><img alt="WhatsApp Marionnaud" src="http://www.marionnaud.ro/elab/vip/email/vip-services-whatsapp.jpg"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #ffffff" valign="top" width="100">TRANSPORT GRATUIT<br>
                    PESTE 190 LEI</td>
                <td>&nbsp;</td>
                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #ffffff" valign="top" width="100">CARD DE FIDELITATE</td>
                <td>&nbsp;</td>
                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #ffffff;" valign="top" width="100">VÂNZĂTOR AUTORIZAT</td>
                <td>&nbsp;</td>
                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #ffffff" valign="top" width="100">GĂSEȘTE MAGAZINUL</td>
                <td>&nbsp;</td>
                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #ffffff" valign="top" width="100">CONTACT</td>
                <td>&nbsp;</td>
                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #ffffff" valign="top" width="100">WHATSAPP<br>
                    0733 330 771</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </td>
</tr><!-- END SERVICE ICONS -->
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td style="border-top: #ffffff 1px dotted">&nbsp;</td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr>
<tr>
    <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color:#ffffff">
        <strong>Informaţii:</strong>: 0214110694- De Luni până Vineri, între 9:00-17:30<br>
        <strong>E-Mail:</strong> <a href="mailto:office@marionnaud.ro" style="color: #646768; text-decoration: none">office@marionnaud.ro</a><br>
        <%@ include view='aswUnsubMRO' %><br>
        © 2011-{{ "now"|date("Y") }} Marionnaud. Toate drepturile rezervate.<br>
        <a href="http://www.marionnaud.ro/termenii-si-conditiilee{{ parameters.utm }}" style="color: #646768" target="_blank">Termeni şi condiţii</a> | <a href="http://www.marionnaud.ro/toate-magazinele{{ parameters.utm }}" style="color: #646768" target="_blank">Hartă site</a><br>
        <br>
        * Reducerea de 20% este valabila cu o zi inainte, o zi dupa si in ziua aniversara si se aplica in toate parfumeriile Marionnaud si pe <a href="http://www.marionnaud.ro" style="color: #646768; text-decoration: none">www.marionnaud.ro{{ parameters.utm }}</a>, ulterior asocierii cardului de fidelitate la contul online. ** Cadoul este disponibil in magazinele fizice Marionnaud si se poate ridica in termen de 30 de zile de la primirea acestui email.<br>
        <br>
        <p>Ai uitat de cardul de fidelitate? Foloseste acest cod in magazinele Marionnaud si acumulezi puncte de loialitate!<br>
            <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%=encodeURIComponent(''+targetData.card_Num +'').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode">
        </p>
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
</tr><!-- END FOOTER -->
</tbody>
</table>
</td>
</tr>
</tbody>
</table><!-- END CONTAINER TABLE -->
<!-- END WRAPPER TABLE -->
</body>
</html>