<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title></title>
</head>
<body bgcolor="#000000" style="width: 100%; margin: 0; padding: 0;">
<!-- CENTRE MOBILE -->
<table align="center" bgcolor="#000000" border="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td align="center">
            <table align="center" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" style="text-align: center" width="640">
                <tbody>
                <tr>
                    <td>
                        <!-- CONTAINER TABLE -->
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
                            <tbody>
                            <!-- PRE-HEADER -->
                            <tr>
                                <td>
                                    <table align="center" border="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td width="3%">&nbsp;</td>
                                            <td align="left" style="font-family: 'Arial', Verdana, sanserif; color: #ffffff; font-size: 9px" width="45%">preheader here <%= recipient.firstName %></td>
                                            <td width="6%">&nbsp;</td>
                                            <td align="right" style="font-family: 'Arial', Verdana, sanserif; color: #ffffff; font-size: 9px" width="45%"><%@ include view='aswMirrorPageMRO' %></td>
                                            <td width="3%">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table><!-- PRE-HEADER END -->
                    </td>
                </tr><!-- PRE-HEADER END --><!-- HEADER -->
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td rowspan="3">&nbsp;</td>
                                <td align="right" rowspan="3" valign="top" width="260">
                                    <a href="http://www.marionnaud.ro/vip{{ parameters.utm }}" target="_blank"><img alt="Marionnaud VIP logo" src="http://www.marionnaud.ro/elab/vip/email/marionnaudvip.jpg"></a>
                                </td>
                                <td width="380">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <a href="https://www.instagram.com/marionnaudro/?hl=en{{ parameters.utm }}" target="_blank"><img alt="instagram" src="http://www.marionnaud.ro/elab/vip/email/social-insta.jpg"></a> <img alt="" src="http://www.marionnaud.ro/elab/vip/email/vert-dotted-line-blk.jpg"> <a href="http://www.facebook.com/MarionnaudRomania/{{ parameters.utm }}" target="_blank"><img alt="facebook" src="http://www.marionnaud.ro/elab/vip/email/social-facebook.jpg"></a><br>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="color: white; font-size: 12px">My Marionnaud<br>
                                    Puncte: <%= targetData.point_Bal_Val %><br></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr><!-- SPACER -->
                <tr>
                    <td style="font-family: 'Arial', Verdana, sanserif; color: #ffffff; font-size: 12px;line-height:25px;">&nbsp;</td>
                </tr><!-- END SPACER -->
                <!-- END HEADER -->
                <!-- NAV BAR -->
                <tr>
                    <td>
                        <table align="center" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" style="font-family: 'Arial', Verdana, sanserif;" width="640">
                            <tbody>
                            <tr valign="center">
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud/promotii/lc/F{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">PROMOTII</strong></a>
                                </td>
                                <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png"></td>
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud/parfumuri/lc/A{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">PARFUMURI</strong></a>
                                </td>
                                <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png"></td>
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud/cosmetice/lc/B{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">COSMETICE</strong></a>
                                </td>
                                <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png"></td>
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud/machiaj/lc/C{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">MACHIAJ</strong></a>
                                </td>
                                <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png"></td>
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud/barbati/lc/E{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">BARBATI</strong></a>
                                </td>
                                <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png"></td>
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud/exclusiv/lc/X{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">EXCLUSIV</strong></a>
                                </td>
                                <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png"></td>
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud/marci/b/brandList{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">MARCI</strong></a>
                                </td>
                                <td><img alt="" src="http://www.marionnaud.ro/elab/mro/HybrisEmail/images/small_line_white.png"></td>
                                <td align=“center” style="background-repeat: no-repeat; color: #fff; font-size: 12px">
                                    <a class="menu" href="http://www.marionnaud.ro/marionnaud-life{{ parameters.utm }}" style="color: #fff; text-decoration: none" target="_blank"><strong style="font-weight:normal; color:#fff">BLOG</strong></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- END NAV BAR -->