<!--------------------------- MARIONNAUD FOOTER START ---------------------------->


<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>

            <tr><td style="font-size:1px; line-height:1px;" height="9" bgcolor="#000000;">&nbsp;</td></tr>


            <tr>
                <td style="font-size:1px; line-height:1px;" bgcolor="#f9f8f8">

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.it/consegna_express{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.it/elab/mar/Email/2018MAR1299/Marionnaud-Free-Delivery.jpg" alt="Spedizione Express"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px;" align="center"><strong style="text-transform: uppercase;">CONSEGNA VELOCE</strong><br /></td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.it/Reso{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.it/elab/mar/Email/2018MAR1299/Marionnaud-Free-Returns.jpg" alt="Resi semplici"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>Resi semplici</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>

                    <table width="33%" border="0" cellspacing="0" cellpadding="0" align="left" class="deviceHalfWidthidth">
                        <tbody>

                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" align="center">
                                <a href="https://www.marionnaud.it/all-stores{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                    <img src="https://www.marionnaud.it/elab/mar/Email/2018MAR1299/Marionnaud-store-finder.jpg" alt="Le Profumerie"
                                         style="display:block" border="0" width="75"></a>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td></tr>
                        <tr><td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase;" align="center"><strong>Le Profumerie</strong><br />
                                &nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                        </tbody>
                    </table>






                </td>
            </tr>




            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td></tr>

            <tr>
                <td style="font-size:1px; line-height:1px; text-transform: uppercase; color: #ffffff;" align="center" valign="middle" bgcolor="#000000"><img  src="https://www.marionnaud.it/elab/mar/Email/2018MAR1299/My-Marionnayd.jpg" alt="Free Returns" style="display:block;" border="0" width="26">
                </td>
            </tr>
            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="5">
                </td></tr>


            <tr>
                <td class="repading" bgcolor="#000000" style="font-size:12px; line-height:20px; text-transform: uppercase; color: #ffffff;"  align="center" valign="middle">
                    Saldo punti: <a href="https://www.marionnaud.it/login{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #ffffff; text-decoration: none; "><%= targetData.card_Num %></a><br />I miei punti: <%= targetData.point_Bal_Val %>
                    <br>

                </td>
            </tr>



            <tr>
                <td class="repading" bgcolor="#000000" align="center" valign="middle" height="20">
                </td>    </tr>



            <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>

            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooterlinks" style="color: #000000; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;">
                        <a href="https://www.marionnaud.it/Contattaci{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">CONTATTI</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.marionnaud.it/Note_Legali{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">Note Legali</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.marionnaud.it/termini-e-condizioni{{ parameters.utm|default('?NO_UTM_SET_UP') }}" style="color: #000000; text-decoration: none;">Termini e Condizioni</a>

                    </p>

                </td>
            </tr>


            <tr><td style="font-size:1px; line-height:1px;" height="10" bgcolor="#f8f8f8">&nbsp;</td></tr>





            <tr>
                <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">

                    <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px;">
                        Servizio Clienti è disponibile dal lunedì al venerdì nei seguenti orari: 09:30 - 18:30.<br>
                        <strong>Numero Verde Gratuito:</strong> 800.914.998<br />
                        <strong>E-mail:</strong> <a href="mailto:servizioclienti@marionnaud.it" style="color: #000000; text-decoration: none;">servizioclienti@marionnaud.it</a> <br /><br />
                        Marionnaud Parfumeries Italia S.r.l. Via Riccardo Lombardi 19/4 20153 Milano.<br>
                        REA Milano 1650024 Cod. Fisc. e Partita IVA 13425220152</td>
            </tr>



            <tr>
                <td class="repading" bgcolor="#f8f8f8" align="center">

                    <table width="90%" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth ">
                        <tr>
                            <td>
                                <p class="mobileFooteraddresstext" style="color: #000000; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    Hai dimenticato la tua Carta Fedeltà? Nessun problema, usa questo codice a barre in profumeria per avere ugualmente i punti sui tuoi acquisti!</p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"></p>

                                <p class="mobileFooteraddresstext" style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;" align="center">
                                    **CONSEGNA VELOCE GRATUITA DA 35€<br />
                                    Il costo è gratuito per tutti gli ordini con importo totale superiore a 35€ (al netto di eventuali promozioni, sconti e/o buoni regalo). Gli ordini effettuati entro le ore 16:30 (dal lunedì al giovedì) saranno consegnati entro le 18:00 del giorno successivo. Il servizio è disponibile in determinate aree geografiche, verifica se è già disponibile nella zona di tuo interesse: <a href="https://www.marionnaud.it/consegna_express" style="color: #b2b2b2;">clicca qui</a>.
                                    <br /><br />
                                    Ricevi questa Newsletter perché hai acconsentito a ricevere comunicazioni via email da parte di Marionnaud Parfumeries. Il trattamento dei tuoi dati è conforme a quanto previsto dal Codice in materia di protezione dei dati personali (Decreto legislativo 30 giugno 2003, n. 196).
                                    <br><br>
                                    {{ parameters.termsAndConditions|raw }}
                                </p>

                            </td>
                        </tr>


                        <tr><td style="font-size:1px; line-height:1px;" height="10" bgcolor="#f8f8f8">&nbsp;</td></tr>
                        <tr>
                            <td class="repading" style="font-size:11px; line-height:18px;" bgcolor="#f8f8f8" align="center">
                                <!-- SHORT UNSUB CODE -->
                                <%@ include view='aswUnsubMIT' %>
                                <!-- SHORT UNSUB CODE -->
                            </td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="30" bgcolor="#f8f8f8">&nbsp;</td></tr>


                    </table>

                </td>
            </tr>




            </tbody>
        </table>


    </td>
</tr>

</table>

<!--------------------------- MASTER WRAPPER ENDING---------------------------->

</td>
</tr>
</tbody>
</table>

</body>
</html>
