<!--------------------------- Full width header  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" align="center">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>
            <tr>
                <td align="center" style="font-size:12px; line-height:16px;"><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" title="{{ block.ctaUrlTitle }}">
                        <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                             alt="{{ block.imageAlt1 }}"
                             style="display:block" border="0" width="640" class="deviceWidth"></a>
                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!--------------------------- Full width header  ---------------------------->
