<!--------------------------- GWP SECTION ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">
        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#ffffff">
            <tbody>
            <tr>
                <td class="" style="font-size:1px; line-height:1px;">

                    <table width="320" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder" >
                        <tbody>
                        <tr>
                            <td align="center">
                                <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}">
                                    <img class="" src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                         alt="{{ block.imageAlt1 }}" style="display:block" title="{{ block.ctaUrlTitle }}" border="0" width="320" ></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="310" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>

                        <tr>
                            <td style="font-size:1px; line-height:1px;" width="10">&nbsp;</td>

                            <td>
                                <table width="270" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
                                    <tbody>



                                    <tr> <td style="font-size:14px; line-height:24px; color: #484848" class="mobcenter repading">
                                            <img src="https://www.marionnaud.at/elab/mar/Email/2018MAR1299/GWP.jpg" alt="Marionnaud" style="display:inline" title="Marionnaud" border="0" width="38" >
                                            <span style="font-size:32px; line-height:v34px; color: #484848; font-family: times; letter-spacing: 1px; color: #000000;"> <em>{{ block.title }}</em></span>

                                            <br /><br />
                                            {{ block.text|raw }}

                                        </td></tr>


                                    <tr> <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>


                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:18px; color:#ffffff;">
                                            {% if(block.needCTa) %}
                                            <div align="left" class="mobcenter"><!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" title="{{ block.ctaUrlTitle }}" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                                    <w:anchorlock/>
                                                    <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</center>
                                                </v:rect>
                                                <![endif]--><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                               style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;" title="{{ block.ctaUrlTitle }}">
                                                    {{ block.ctaText|default('SHOP NOW') }}
                                                </a></div>
                                            {% endif %}

                                        </td>
                                    </tr>
                                    <tr> <td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            </tbody>
        </table>
    </td>
</tr>
<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="100">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->
<!--------------------------- GWP SECTION ---------------------------->