<!--------------------------- HEADER OPTION 2 - 50% WDITH IMAGE LIVE TEXT ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">
        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#ffffff">
            <tbody>
            <tr>
                <td class="" style="font-size:1px; line-height:1px;" bgcolor="{{ block.backgroundColourBlock|default('#ebebeb') }}">

                    <table width="320" border="0" cellpadding="0" cellspacing="0" style="" align="right"
                           class="deviceWidth noborder" >
                        <tbody>
                        <tr>
                            <td align="center">
                                <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}">
                                    <img class="deviceWidth" src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                         alt="{{ block.imageAlt1 }}" title="{{ block.ctaUrlTitle }}" style="display:block" border="0" width="320" ></a>



                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <table width="310" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>

                        <tr>
                            <td style="font-size:1px; line-height:1px;" width="10">&nbsp;</td>

                            <td class="repading">

                                <table width="240" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="deviceWidth">
                                    <tbody>
                                    <tr> <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                                    <tr> <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:20px; color: #484848;">
                                            <span style="font-size:24px; line-height:24px; color:{{ block.textColour|default('#484848') }}; font-family: times; letter-spacing: 1px;"> <em>{{ block.title }}</em></span>
                                            <br /><br />
                                            {{ block.text|raw }}
                                        </td></tr>


                                    <tr> <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:18px; color:#ffffff;">
                                            {% if(block.needCTa) %}
                                            <div><!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                        title="{{ block.ctaUrlTitle }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                                    <w:anchorlock/>
                                                    <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</center>
                                                </v:rect>
                                                <![endif]--><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                               style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;" title="{{ block.ctaUrlTitle }}">{{ block.ctaText|default('SHOP NOW') }}</a>
                                            </div>
                                            {% endif %}

                                        </td>
                                    </tr>

                                    <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            </tbody>
        </table>
    </td>
</tr>
<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="100">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->

<!-------------------------- HEADER 2 - 50% WDITH IMAGE LIVE TEXT ---------------------------->
