<!--------------------------- HEADER OPTION 1 - FULL WDITH LIVE TEXT ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" class="repading" bgcolor="{{ block.backgroundColourBlock|default('#18bbd9') }}">
        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth">
            <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>

            <tr><td style="font-size:32px; line-height:18px; color: {{ block.textColour|default('#484848') }}; font-family: times; letter-spacing: 1px;" align="center"><span style="line-height: 38px; color: {{ block.textColour|default('#484848') }};"><em>{{ block.title }}</em></span><br />
                    <br /><span style="font-size:14px; line-height:18px; color: {{ block.textColour|default('#484848') }}; letter-spacing: 1px;font-family:Arial, Helvetica, sans-serif;">{{ block.text|raw }}</span></td>
            </tr>
            <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td> </tr>

            <tr><td style="font-size:1px; line-height:1px;">
                    {% if(block.needCTa) %}
                    <div align="center">
                        <!--[if mso]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                        style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff" title="{{ block.ctaUrlTitle }}">
                            <w:anchorlock/>
                            <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</center>
                        </v:rect>
                        <![endif]-->
                        <a href="{{ block.validateURLWithUTM(block.ctaUrl, parameters.utm) }}" style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;" title="{{ block.ctaUrlTitle }}">
                            {{ block.ctaText|default('SHOP NOW') }}
                        </a>
                    </div>
                    {% endif %}
                </td></tr>

        </table>
    </td>
</tr>

<tr><td style="font-size:1px; line-height:1px;" height="30">
        <img class="deviceWidth"  src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                                                 alt="{{ block.imageAlt1 }}" style="display:block" title="{{ block.ctaUrlTitle }}" border="0" width="640" >
    </td></tr>
<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="100">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->
<!--------------------------- HEADER 1 - FULL WDITH LIVE TEXT ---------------------------->
