<!--------------------------- Intro Block with CTA OPTION ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" class="repading">

        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#ffffff">
            <tr><td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td> </tr>

            <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td> </tr>

            <tr><td style="font-size:24px; line-height:26px; color: {{ block.textColour|default('#484848') }}; font-family: times; letter-spacing: 1px;" align="center"><em>{{ block.title }}</em></td>
            </tr>

            <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td> </tr>

            <tr><td style="font-size:14px; line-height:22px; color: {{ block.textColour|default('#484848') }}; font-family: arial; letter-spacing: 1px;" align="center">{{ block.text|raw }}</td>
            </tr>

            <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td> </tr>

            <tr><td style="font-size:1px; line-height:1px;" align="center">
                    {% if(block.needCTa) %}
                    <div><!--[if mso]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" title="{{ block.ctaUrlTitle }}" href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                            <w:anchorlock/>
                            <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</center>
                        </v:rect>
                        <![endif]--><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" title="{{ block.ctaUrlTitle }}"
                                       style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a></div>
                    {% endif %}

                </td> </tr>

        </table>

    </td>
</tr>

<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->

<!--------------------------- Intro Block with CTA OPTION ---------------------------->