<!--------------------------- 3x Titles and images ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading">
        <table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">
                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        <tr><td colspan="3" style="font-size:26px; line-height:38px; color: #484848; font-family: times; letter-spacing: 1px;" align="center"><em>{{ block.imageAlt1|default('')|raw }}</em></td>
                        </tr>
                        <tr>
                            <td bgcolor="#ffffff" class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1|default('Marionnaud') }}" class="" style="display:block" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt2|default('Marionnaud') }}" border="0" width="180">
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        </tbody></table>



                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody><tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        <tr><td colspan="3" style="font-size:26px; line-height:38px; color: #484848; font-family: times; letter-spacing: 1px;" align="center"><em>{{ block.imageAlt2|default('')|raw }}</em></td>
                        </tr>
                        <tr><td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}" alt="{{ block.imageAlt2|default('Marionnaud') }}" class="" style="display:block" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt2|default('Marionnaud') }}" border="0" width="180">
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        </tbody></table>




                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody><tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        <tr><td colspan="3" style="font-size:26px; line-height:38px; color: #484848; font-family: times; letter-spacing: 1px;" align="center"><em>{{ block.imageAlt3|default('')|raw }}</em></td>
                        </tr>
                        <tr><td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image3 }}" alt="{{ block.imageAlt3|default('Marionnaud') }}" class="" style="display:block" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt3|default('Marionnaud') }}" border="0" width="180">
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        </tbody></table>


                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="50">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->
<!--------------------------- 3x Titles and images blocks ---------------------------->