<!--------------------------- FREE HTML, CTA and IMAGE Left - OFFSET IMAGES ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">
        <table width="620" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#ffffff">
            <tbody>
            <tr>
                <td class="" style="font-size:1px; line-height:1px;">

                    <table width="300" border="0" cellpadding="0" cellspacing="0" style="" align="right"
                           class="deviceWidth noborder" >
                        <tbody>
                        <tr>
                            <td align="right">
                                <a href="{{ block.validateURLWithUTM(block.cta1Url,parameters.utm) }}">
                                    <img class="deviceWidth" src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                         alt="{{ block.imageAlt1 }}" style="display:block" title="Marionnaud" border="0" width="300" ></a>                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="300" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>

                        <tr>
                            <td style="font-size:1px; line-height:1px;" width="10">&nbsp;</td>

                            <td class="repading">

                                <table width="240" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="deviceWidth">
                                    <tbody>
                                    <tr> <td align="center" style="font-size:14px; line-height:20px; color:#484848;">
                                            {{ block.text }}
                                        </td>
                                    </tr>
                                    <tr> <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:18px; color:#ffffff;">
                                            {% if (block.needCTa1) %}
                                            <div><!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.cta1Url,parameters.utm) }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                                    <w:anchorlock/>
                                                    <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.cta1Label|default('Read more') }}</center>
                                                </v:rect>
                                                <![endif]--><a href="{{ block.validateURLWithUTM(block.cta1Url,parameters.utm) }}"
                                                               style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.cta1Label|default('Read more') }}</a></div>
                                            {% endif %}

                                        </td>
                                    </tr>

                                    <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <table width="300" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder" >
                        <tbody>
                        <tr>
                            <td align="left">
                                <a href="{{ block.validateURLWithUTM(block.cta2Url,parameters.utm) }}">
                                    <img class="deviceWidth" src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}"
                                         alt="{{ block.imageAlt2 }}" style="display:block" title="Marionnaud" border="0" width="300" ></a>                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="300" border="0" cellpadding="0" cellspacing="0" style="" align="right"
                           class="deviceWidth noborder">
                        <tbody>

                        <tr>

                            <td class="repading">

                                <table width="240" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="deviceWidth">
                                    <tbody>
                                    <tr> <td align="center" style="font-size:14px; line-height:20px; color:#484848;">
                                            {{ block.text2 }}
                                        </td>
                                    </tr>


                                    <tr> <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:18px; color:#ffffff;">
                                            {% if (block.needCTa2) %}
                                            <div><!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.cta2Url,parameters.utm) }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                                    <w:anchorlock/>
                                                    <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.cta2Label|default('Read more') }}</center>
                                                </v:rect>
                                                <![endif]--><a href="{{ block.validateURLWithUTM(block.cta2Url,parameters.utm) }}"
                                                               style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.cta2Label|default('Read more') }}</a></div>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <!--------------------------- FREE HTML, CTA and IMAGE Left - OFFSET IMAGES ---------------------------->

                    <table width="300" border="0" cellpadding="0" cellspacing="0" style="" align="right"
                           class="deviceWidth noborder" >
                        <tbody>
                        <tr>
                            <td align="right">
                                <a href="{{ block.validateURLWithUTM(block.cta3Url,parameters.utm) }}">
                                    <img class="deviceWidth" src="{{ parameters.imagespath|default('/') }}{{ block.image3 }}"
                                         alt="{{ block.imageAlt3 }}" style="display:block" title="Marionnaud" border="0" width="300" ></a>                               </td>
                        </tr>
                        </tbody>
                    </table>

                    <table width="300" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>

                        <tr>
                            <td style="font-size:1px; line-height:1px;" width="10">&nbsp;</td>

                            <td class="repading">

                                <table width="240" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="deviceWidth">
                                    <tbody>
                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:20px; color:#484848;">
                                            {{ block.text3 }}
                                        </td>
                                    </tr>


                                    <tr> <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>

                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:18px; color:#ffffff;">
                                            {% if (block.needCTa3) %}
                                            <div><!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.cta3Url,parameters.utm) }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                                    <w:anchorlock/>
                                                    <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.cta3Label|default('Read more') }}</center>
                                                </v:rect>
                                                <![endif]--><a href="{{ block.validateURLWithUTM(block.cta3Url,parameters.utm) }}"
                                                               style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.cta3Label|default('Read more') }}</a></div>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>


                </td>
            </tr>

            </tbody>
        </table>
    </td>
</tr>
<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="100">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->
<!--------------------------- Product, CTA and IMAGE Left - OFFSET IMAGES ---------------------------->