<!--------------------------- 3x Product grid With Title Option ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" class="repading">
        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#ffffff">
            <tr><td style="font-size:32px; line-height:38px; color: #484848; font-family: times; letter-spacing: 1px;" align="center"><em>{{ block.title }}</em></td>
            </tr>
            <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td> </tr>
        </table>
    </td>
</tr>


<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading">
        <table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>

            <tr>
                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">
                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td bgcolor="#ffffff" class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center"><a href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}">
                                    <img src="{{ parameters.domain }}{{ block.product1Image }}" alt="{{ block.product1Brand }} {{ block.product1Name }}" class="" style="display:block" width="170" height="175" title="{{ block.product1Brand }} {{ block.product1Name }}" border="0"></a></td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center" style="font-size:14px; line-height:18px; color: #484848; letter-spacing: 1px;"><span style="font-size: 16px; line-height: 24px; letter-spacing: 2px;"><strong>{{ block.product1Brand|raw }}</strong></span>
                                <br />
                                {{ block.product1Name|raw }}
                                &nbsp;</td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                        <w:anchorlock/>
                                        <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</center>
                                    </v:rect>
                                    <![endif]--><a href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}"
                                                   style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a></div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>
                        </tbody></table>



                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center"><a href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}" title="{{ block.product2Brand }} {{ block.product2Name }}">
                                    <img src="{{ parameters.domain }}{{ block.product2Image }}" alt="{{ block.product2Brand }} {{ block.product2Name }}" class="" style="display:block" width="170" height="175"  title="{{ block.product2Brand }} {{ block.product2Name }}" border="0"></a></td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center" style="font-size:14px; line-height:18px; color: #484848; letter-spacing: 1px;"><span style="font-size: 16px; line-height: 24px; letter-spacing: 2px;"><strong>{{ block.product2Brand|raw }}</strong></span>
                                <br />
                                {{ block.product2Name|raw }}
                                </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                        <w:anchorlock/>
                                        <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</center>
                                    </v:rect>
                                    <![endif]--><a href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"
                                                   style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a></div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>

                        </tbody></table>






                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <a href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}" title="{{ block.product3Brand }} {{ block.product3Name }}">
                                    <img src="{{ parameters.domain }}{{ block.product3Image }}" alt="{{ block.product3Brand }} {{ block.product3Name }}" class="" style="display:block" width="170" height="175" title="{{ block.product3Brand }} {{ block.product3Name }}" border="0"></a></td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center" style="font-size:14px; line-height:18px; color: #484848; letter-spacing: 1px;"><span style="font-size: 16px; line-height: 24px; letter-spacing: 2px;"><strong>{{ block.product3Brand|raw }}</strong></span>
                                <br />
                                {{ block.product3Name|raw }}
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20" colspan="3">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}" title="{{ block.product3Brand }} {{ block.product3Name }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                        <w:anchorlock/>
                                        <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</center>
                                    </v:rect>
                                    <![endif]--><a href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}" title="{{ block.product3Brand }} {{ block.product3Name }}"
                                                   style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a></div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="40" colspan="3">&nbsp;</td>
                        </tr>
                        </tbody></table>


                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="100">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->
<!--------------------------- 3x Product grid With Title Option ---------------------------->