<!--------------------------- 2x Product grid with Colour Background - Optional CTA's ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" class="repading" bgcolor="#f9f8f8">
        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" >
            <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td> </tr>
            <tr><td style="font-size:32px; line-height:38px; color: #484848; font-family: times; letter-spacing: 1px;" align="center"><em>{{ block.title }}</em></td>
            </tr>
            <tr><td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td> </tr>
        </table>
    </td>
</tr>


<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading" bgcolor="#f9f8f8">
        <table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth">
            <tbody>

            <tr>
                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">
                    <table width="260" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" width="240"
                                         alt="{{ block.imageAlt1 }}" class="" style="display:block" title="Marionnaud" border="0"></a></td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center" style="font-size:14px; line-height:18px; color: #484848; letter-spacing: 1px;"><span style="font-size: 16px; line-height: 24px; letter-spacing: 2px;"><strong>{{  block.product1Title|raw }}</strong></span>
                                <br />
                                {{ block.product1Description|raw }}<br />
                                &nbsp;</td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                        <w:anchorlock/>
                                        <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.product1Label }}</center>
                                    </v:rect>
                                    <![endif]--><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                   style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.product1Label }}</a></div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>
                        </tbody></table>





                    <table width="260" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}" width="240"
                                         alt="{{ block.imageAlt2 }}" class="" style="display:block" title="Marionnaud" border="0"></a></td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center" style="font-size:14px; line-height:18px; color: #484848; letter-spacing: 1px;"><span style="font-size: 16px; line-height: 24px; letter-spacing: 2px;"><strong>{{ block.product2Title|raw }}</strong></span>
                                <br />
                                {{ block.product2Description|raw }}<br />
                                &nbsp;</td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}" style="height:37px;v-text-anchor:middle;width:171px;" strokecolor="#000000" fillcolor="#ffffff">
                                        <w:anchorlock/>
                                        <center style="color:#000000;font-family:sans-serif;font-size:12px;font-weight:normal; text-transform: uppercase;">{{ block.product2Label }}</center>
                                    </v:rect>
                                    <![endif]--><a href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}"
                                                   style="background-color:#ffffff;border:1px solid #000000;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:normal;line-height:37px;text-align:center;text-decoration:none;width:171px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.product2Label }}</a></div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr><td colspan="3" style="font-size:1px; line-height:1px;" height="40">&nbsp;</td></tr>
                        </tbody></table>





                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!--------------------------- SPACER ---------------------------->
<tr> <td style="font-size:1px; line-height:1px;" height="100">&nbsp;</td></tr>
<!--------------------------- SPACER ---------------------------->
<!--------------------------- 2x Product grid with Colour Background - Option al CTA's ---------------------------->