<!--------------------------- IMAGE LEFT---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">
        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="{{ block.backgroundColourBlock|default('#ffffff') }}">
            <tbody>
            <tr>
                <td class="" style="font-size:1px; line-height:1px;">
                    <table width="320" border="0" cellpadding="0" cellspacing="0" style="" align="right"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                  title="{{ block.ctaUrlTitle }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                         alt="{{ block.imageAlt1 }}" style="display:block"
                                         title="{{ block.ctaUrlTitle }}" border="0" width="320">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="310" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" width="10">&nbsp;</td>
                            <td>
                                <table width="270" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="deviceWidth">
                                    <tbody>
                                    <tr>
                                        <td style="font-size:12px; line-height:20px; color: #000000"
                                            class="mobcenter repading"
                                            align="{{ (block.alignBlock is not empty) ? block.alignBlock : 'center' }}
                                         "><br/><br/><br/>

                                        <span style="font-size:25px; line-height:27px;  font-family: verdana; font-weight: bold; text-transform: uppercase;">
                                            {{ block.title }}
                                        </span>
                                        <br/><br/>
                                        {{ block.text|raw }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="font-size:14px; line-height:18px; color:#ffffff;">
                                            {% if (block.needCTa == true) %}
                                            <div align="center"><!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                                        xmlns:w="urn:schemas-microsoft-com:office:word"
                                                        href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                        title="{{ block.ctaUrlTitle }}"
                                                        style="height:26px;v-text-anchor:middle;width:160px;"
                                                        strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                                        fillcolor="{{ block.ctaBackgroundColour|default('#0097a9') }}">
                                                    <w:anchorlock/>
                                                    <center style="color:#ffffff;font-family:Verdana;font-size:12px;font-weight:bold; text-transform: uppercase;">
                                                        {{ block.ctaText|default('SHOP NOW') }}
                                                    </center>
                                                </v:rect>
                                                <![endif]--><a
                                                        href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"  title="{{ block.ctaUrlTitle }}"
                                                        style="background-color:{{ block.ctaBackgroundColour|default('#0097a9') }};color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Verdana;font-size:12px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a>
                                            </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>

<!--------------------------- IMAGE LEFT---------------------------->
