<!--------------------------- HEADER 1 - FULL WDITH LIVE TEXT ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;" height="30">
        <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" title="{{ block.ctaUrlTitle }}">
            <img class="deviceWidth" src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1 }}"
                 style="display:block" title="Drogas" border="0" width="640">
        </a>
    </td>
</tr>

<!--------------------------- HEADER 1 - FULL WDITH LIVE TEXT ---------------------------->

<!--------------------------- SPACER ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td>
</tr>
<!--------------------------- SPACER ---------------------------->
        

