<!------------------------- 3x Product grid ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading">
        <table width="610" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>
            <tr>
                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">

                    <!-- PRODUCT 1 -->
                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td bgcolor="#ffffff" class="hideONmobile" width="10"
                                style="font-size:1px; line-height:1px;">&nbsp;
                            </td>
                            <td align="center">
                                <a href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}">
                                    <img src="{{ parameters.domain }}{{ block.product1Image }}"
                                         alt="{{ block.product1Brand }} {{ block.product1Name }}" class="" style="display:block" title="{{ block.product1Brand }} {{ block.product1Name }}" border="0" width="180">
                                </a>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center"
                                style="font-size:14px; font-family: Verdana; line-height:18px; color: #484848; letter-spacing: 1px;">
                                <span style="font-size: 20px; line-height: 24px; color: #000000; font-weight: bold; text-transform: uppercase;">{{ block.product1Brand|raw }}
                                    <br/>
                                    <br/>
                                    {% if block.product1Brand|length <= 16 %}
                                        <br/>&nbsp;
                                    {% endif %}
                                </span>


                                {{ block.product1Name|raw }}
                                {% if (block.product1Name|length <= 42) %}
                                    <br/>&nbsp;<br/>&nbsp;<br/>
                                {% endif %}
                                {% if (block.product1Name|length > 42 and block.product1Name|length <= 48) %}
                                    &nbsp;<br/>&nbsp;<br/>
                                {% endif %}
                                {% if (block.product1Name|length > 48) %}
                                    &nbsp;<br/>
                                {% endif %}
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            {% if block.product1PromoPrice is not null  and block.product1Price != block.product1PromoPrice %}
                                <td align="center" style="font-size:10px; line-height:16px; color: #484848;">
                                    <strike>{{ block.product1Price }}</strike><br/>
                                    <span style="font-size: 18px; font-family: Verdana;  font-weight: bold; color: {{ block.priceColour|default('#0097a9') }};">{{ block.product1PromoPrice }}</span>
                                </td>
                            {% else %}
                                <td align="center" style="font-size:10px; line-height:16px; color: #484848;">
                                    <br/>
                                    <span style="font-size: 18px; font-family: Verdana;  font-weight: bold; color: #0097a9;">{{ block.product1Price }}</span>
                                </td>
                            {% endif %}
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div align="center"><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:160px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#0097a9') }}">
                                        <w:anchorlock/>
                                        <center style="color:#ffffff;font-family:Verdana;font-size:12px;font-weight:bold; text-transform: uppercase;">
                                            {{ block.ctaText|default('SHOP NOW') }}
                                        </center>
                                    </v:rect>
                                    <![endif]--><a
                                            href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}"
                                            style="background-color:{{ block.ctaBackgroundColour|default('#0097a9') }};border:1px solid #ffffff;color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Verdana;font-size:12px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a>
                                </div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- PRODUCT 1 -->

                    <!-- PRODUCT 1 -->
                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td bgcolor="#ffffff" class="hideONmobile" width="10"
                                style="font-size:1px; line-height:1px;">&nbsp;
                            </td>
                            <td align="center"><a
                                        href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"> <img
                                            src="{{ parameters.domain }}{{ block.product2Image }}"
                                            alt="{{ block.product2Brand }} {{ block.product2Name }}" class="" style="display:block" title="{{ block.product2Brand }} {{ block.product2Name }}" border="0"
                                            width="180"></a></td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center"
                                style="font-size:14px; line-height:18px; color: #484848; letter-spacing: 1px;"><span
                                        style="font-size: 20px; font-family: Verdana;  line-height: 24px; color: #000000; font-weight: bold; text-transform: uppercase;">{{ block.product2Brand|raw }}
                                    <br/><br/>
                                    {% if block.product2Brand|length < 16 %}
                                        <br/>&nbsp;
                                    {% endif %}
                                </span>
                                {{ block.product2Name|raw }}
                                {% if (block.product2Name|length <= 42) %}
                                    <br/>&nbsp;<br/>&nbsp;<br/>
                                {% endif %}
                                {% if (block.product2Name|length > 42 and block.product2Name|length <= 48) %}
                                    &nbsp;<br/>&nbsp;<br/>
                                {% endif %}
                                {% if (block.product2Name|length > 48) %}
                                    &nbsp;<br/>
                                {% endif %}
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            {% if block.product2PromoPrice is not null  and block.product2Price != block.product2PromoPrice %}
                                <td align="center" style="font-size:10px; line-height:16px; color: #484848;">
                                    <strike>{{ block.product2Price }}</strike><br/>
                                    <span style="font-size: 18px; font-family: Verdana;  font-weight: bold; color: {{ block.priceColour|default('#0097a9') }};">{{ block.product2PromoPrice }}</span>
                                </td>
                            {% else %}
                                <td align="center" style="font-size:10px; line-height:16px; color: #484848;">
                                    <br/>
                                    <span style="font-size: 18px; font-family: Verdana;  font-weight: bold; color: #0097a9;">{{ block.product2Price }}</span>
                                </td>
                            {% endif %}
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div align="center"><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:160px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#0097a9') }}">
                                        <w:anchorlock/>
                                        <center style="color:#ffffff;font-family:Verdana;font-size:12px;font-weight:bold; text-transform: uppercase;">
                                            {{ block.ctaText|default('SHOP NOW') }}
                                        </center>
                                    </v:rect>
                                    <![endif]--><a
                                            href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"
                                            style="background-color:{{ block.ctaBackgroundColour|default('#0097a9') }};border:1px solid #ffffff;color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Verdana;font-size:12px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a>
                                </div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- PRODUCT 2 -->


                    <!-- PRODUCT 3 -->
                    <table width="200" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td bgcolor="#ffffff" class="hideONmobile" width="10"
                                style="font-size:1px; line-height:1px;">&nbsp;
                            </td>
                            <td align="center"><a
                                        href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}"> <img
                                            src="{{ parameters.domain }}{{ block.product3Image }}"
                                            alt="{{ block.product3Brand }} {{ block.product3Name }}" class="" style="display:block" title="{{ block.product3Brand }} {{ block.product3Name }}" border="0"
                                            width="180"></a></td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center"
                                style="font-size:14px; line-height:18px; color: #484848; letter-spacing: 1px;"><span
                                        style="font-size: 20px; font-family: Verdana;  line-height: 24px; color: #000000; font-weight: bold; text-transform: uppercase;">{{ block.product3Brand|raw }}
                                    <br/><br/>
                                    {% if block.product3Brand|length < 16 %}
                                        <br/>&nbsp;
                                    {% endif %}
                                </span>
                                {{ block.product3Name|raw }}
                                {% if (block.product3Name|length <= 42) %}
                                    <br/>&nbsp;<br/>&nbsp;<br/>
                                {% endif %}
                                {% if (block.product3Name|length > 42 and block.product3Name|length <= 48) %}
                                    &nbsp;<br/>&nbsp;<br/>
                                {% endif %}
                                {% if (block.product3Name|length > 48) %}
                                    &nbsp;<br/>
                                {% endif %}
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            {% if block.product3PromoPrice is not null  and block.product3Price != block.product3PromoPrice %}
                                <td align="center" style="font-size:10px; line-height:16px; color: #484848;">
                                    <strike>{{ block.product3Price }}</strike><br/>
                                    <span style="font-size: 18px; font-family: Verdana;  font-weight: bold; color: {{ block.priceColour|default('#0097a9') }};">{{ block.product3PromoPrice }}</span>
                                </td>
                            {% else %}
                                <td align="center" style="font-size:10px; line-height:16px; color: #484848;">
                                    <br/>
                                    <span style="font-size: 18px; font-family: Verdana;  font-weight: bold; color: #0097a9;">{{ block.product3Price }}</span>
                                </td>
                            {% endif %}
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                            <td align="center">
                                <div align="center"><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:160px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#0097a9') }}">
                                        <w:anchorlock/>
                                        <center style="color:#ffffff;font-family:Verdana;font-size:12px;font-weight:bold; text-transform: uppercase;">
                                            {{ block.ctaText|default('SHOP NOW') }}
                                        </center>
                                    </v:rect>
                                    <![endif]--><a
                                            href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}"
                                            style="background-color:{{ block.ctaBackgroundColour|default('#0097a9') }};border:1px solid #ffffff;color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Verdana;font-size:12px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('SHOP NOW') }}</a>
                                </div>
                            </td>
                            <td class="hideONmobile" width="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- PRODUCT 1 -->

                </td>

            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!--------------------------- 3x Product grid ---------------------------->

<!--------------------------- SPACER ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
</tr>
<!--------------------------- SPACER ---------------------------->

