


<!---------------------------ROW - 2 images in a row with CTAs ---------------------------->


<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>




            <tr><td class="repading" style="font-size:1px; line-height:1px;">


                    <table width="47%" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1|default('Marionnaud') }}" style="display:block" width="100%" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Drogas') }}" border="0"></a>
                            </td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" align="center">
                                <div align="center"><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" style="height:26px;v-text-anchor:middle;width:160px;" strokecolor="{{ block.ctaTextColour|default('#ffffff') }}" fillcolor="{{ block.ctaBackgroundColour|default('#0097a9') }}">
                                        <w:anchorlock/>
                                        <center style="color:#ffffff;font-family:Verdana;font-size:12px;font-weight:bold; text-transform: uppercase;">{{ block.ctaText|default('Click here') }}</center>
                                    </v:rect>
                                    <![endif]--><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                   style="background-color:{{ block.ctaBackgroundColour|default('#0097a9') }};border:1px solid #ffffff;color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Verdana;font-size:12px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('Click here') }}</a></div><br/>

                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        </tbody></table>

                    <table width="5%" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td>&nbsp;</td></tr>
                        </tbody></table>




                    <table width="47%" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}" alt="{{ block.imageAlt2|default('Marionnaud') }}" style="display:block" width="100%" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt2|default('Drogas') }}" border="0"></a>
                            </td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" align="center">
                                <div align="center"><!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}" style="height:26px;v-text-anchor:middle;width:160px;"  fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}" strokecolor="{{ block.ctaTextColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center style="color:#ffffff;font-family:Verdana;font-size:12px;font-weight:bold; text-transform: uppercase;">{{ block.ctaText|default('Click here') }}</center>
                                    </v:rect>
                                    <![endif]--><a href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}"
                                                   style="background-color:{{ block.ctaBackgroundColour|default('#0097a9') }};border:1px solid #ffffff;color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Verdana;font-size:12px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:160px;-webkit-text-size-adjust:none;mso-hide:all; text-transform: uppercase;">{{ block.ctaText|default('Click here') }}</a></div><br/>

                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        </tbody></table>




                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>

<!--------------------------- SPACER ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
</tr>
<!--------------------------- SPACER ---------------------------->

<!---------------------------ROW - 2 images in a row with CTAs ---------------------------->

  
        
              
      
              
              
     