{% extends 'backend.html.twig' %}
 {% block mainBody %}
     <div class="container">
         <div class="row">
             {% if 'ROLE_USER' in app.user.roles %}
             <div class="col-6">
                 {% include 'AppBundle:common:_card.html.twig'
                     with {'title': 'Email generator', 'subtitle': 'Create Emails without coding', 'icon': 'envelope-o',
                     'text': 'Create new, edit, export emails', 'url': 'email_index'} %}
             </div>
             {% endif %}
             {% if 'ROLE_SUPERUSER' in app.user.roles %}
             <div class="col-6">
                 {% include 'AppBundle:common:_card.html.twig'
                     with {'title': 'PDP generator', 'subtitle': 'Create pages without coding', 'icon': 'html5',
                     'text': 'Create new, edit, export pages', 'url': 'page_index'} %}
             </div>
             {% endif %}
         </div>

         {#<div class="col">#}
         {#{% include 'AppBundle:common:_card.html.twig'#}
         {#with {'title': 'Gift finder', 'subtitle': 'Create Gift finder lists', 'icon': 'gift',#}
         {#'text': 'Manage content of your gift finder without problems', 'url': 'finder_index'} %}#}
         {#</div>#}
     </div>
     </div>

 {% endblock %}