{% extends 'backend.html.twig' %}
{% block extraScripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
{% endblock %}
     {% block mainLinks %}
         <ul class="nav nav-pills">
             <li class="nav-item">
                 <a class="nav-link btn btn-warning" href="#"><i class="fa fa-rocket"></i> Launch Campaign</a>
             </li>
         </ul>
     {% endblock %}
 {% block mainBody %}

     <h1>Instagram Plugin Stats (All BU)</h1>
     <div class="container">
         <div class="row">
             <canvas id="canvas" width=300" height="150"></canvas>

         </div>
     </div>
     <script>
         var lineChartData = {
             labels: ['November', 'December', 'January'],
             datasets: [{
                 label: 'marionnaud_ch',
                 borderColor: window.chartColors.red,
                 backgroundColor: window.chartColors.red,
                 fill: false,
                 data: [
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45))
                 ],
                 yAxisID: 'y-axis-1',
             }, {
                 label: 'marionnaud_paris_es',
                 borderColor: window.chartColors.blue,
                 backgroundColor: window.chartColors.blue,
                 fill: false,
                 data: [
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45)),
                     Math.round(Samples.utils.rand(10, 45))
                 ],
                 yAxisID: 'y-axis-2'
             }]
         };

         window.onload = function () {
             var ctx = document.getElementById('canvas').getContext('2d');
             window.myLine = Chart.Line(ctx, {
                 data: lineChartData,
                 options: {
                     responsive: true,
                     hoverMode: 'index',
                     stacked: false,
                     title: {
                         display: true,
                         text: 'Instagram accounts: month/clicks!'
                     },
                     scales: {
                         yAxes: [{
                             type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                             display: true,
                             position: 'left',
                             id: 'y-axis-1',
                         }, {
                             type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                             display: true,
                             position: 'right',
                             id: 'y-axis-2',

                             // grid line settings
                             gridLines: {
                                 drawOnChartArea: false, // only want the grid lines for one axis to show up
                             },
                         }],
                     }
                 }
             });
         };
     </script>
 {% endblock %}