{% extends 'backend.html.twig' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><i class="fa fa-building-o"></i> Business units</li>
{% endblock %}
    {% block mainLinks %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="{{ path('business-unit_new') }}"> New Business units</a>
            </li>
        </ul>
    {% endblock %}
{% block mainBody %}
    <h1>Business units list</h1>
    {% include 'AppBundle:common:_table.html.twig' with {'data': data,'actions': actions} %}

{% endblock %}
