{% extends 'backend.html.twig' %}
{% set title = 'New Business Unit' %}
{% block breadcrumbItems %}
   <li class="breadcrumb-item"><a href="{{ path(actions.list.path) }}"> <i class="fa fa-building-o"></i> Business units</a></li>
    <li class="breadcrumb-item"><i class="fa fa-building-o"></i> {{ title }}</li>
{% endblock %}
    {% block mainLinks %}
       <ul class="nav nav-pills">
          <li class="nav-item">
             <a class="nav-link btn btn-primary" href="{{ path('business-unit_new') }}"> {{ title }}</a>
          </li>
       </ul>
    {% endblock %}
{% block mainTitle %} {{ title }}{% endblock %}
{% block mainBody %}
   {% include 'AppBundle:common:_form.html.twig' %}
{% endblock %}
