{% set  keyfieldsBig = ['name','username','email','roles','utm','subject','description', 'preHeader'] %}
{% set  keyfieldsMedium = ['objective','jobtitle', 'template'] %}
{{ form_start(form) }}
<div class="row">
    <div class="col-12">
        {% if not form.vars.valid %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Ups!</strong> please check form and submit again<br>
            </div>
        {% endif %}
    </div>
</div>

<div class="row">

    {% if app.user.businessUnit.code == email.getAdminBU %}
        <div class="col-sm-8">
            <div class="mb-2">
                {{ form_label(form.user) }}
                {{ form_errors(form.user) }}
                {{ form_widget(form.user) }}
            </div>
        </div>
    {% endif %}

    <div class="col-sm-4">
        <div class="mb-2">
            {{ form_label(form.backgroundColour) }}
            {{ form_errors(form.backgroundColour) }}
            {{ form_widget(form.backgroundColour) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div>
            {{ form_label(form.objective) }}
            {{ form_errors(form.objective) }}
            {{ form_widget(form.objective) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.utm) }}
            {{ form_errors(form.utm) }}
            {{ form_widget(form.utm) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.subject) }}
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.template) }}
            {{ form_errors(form.template) }}
            {{ form_widget(form.template) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div>
            {{ form_label(form.jobTitle) }}
            {{ form_errors(form.jobTitle) }}
            {{ form_widget(form.jobTitle) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.dateRequest) }}
            {{ form_errors(form.dateRequest) }}
            {{ form_widget(form.dateRequest) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.dateDelivered) }}
            {{ form_errors(form.dateDelivered) }}
            {{ form_widget(form.dateDelivered) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.dateGoLive) }}
            {{ form_errors(form.dateGoLive) }}
            {{ form_widget(form.dateGoLive) }}
        </div>
        {% if app.user.businessUnit.code == email.getAdminBU %}
            <div class="mb-2">
                {{ form_label(form.businessUnit) }}
                {{ form_errors(form.businessUnit) }}
                {{ form_widget(form.businessUnit) }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="mb-2">
            {{ form_label(form.preHeader) }}
            {{ form_errors(form.preHeader) }}
            {{ form_widget(form.preHeader) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="mb-2">
            {{ form_label(form.termsAndConditions) }}
            {{ form_errors(form.termsAndConditions) }}
            {{ form_widget(form.termsAndConditions) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_widget(form.saveAndReturn) }}
        {{ form_widget(form.saveAndGoToBuild) }}
        {{ form_widget(form.saveAndGoToEdit) }}

    </div>
</div>
<div class="row">
    <div class="col-12">
        <small>* Required fields</small>
    </div>
</div>
{{ form_javascript(form) }}
{{ form_end(form) }}
