<div class="row">
    {% if email.preHeader is not empty %}
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <strong>Current pre-header:</strong>  {{ email.preHeader }}
            </div>
        </div>
    {% endif %}
    <div class="col-12">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
</div>

