{% extends 'backend.html.twig' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><i class="fa fa-archive"></i>Archived Emails</li>
{% endblock %}
    {% block mainLinks %}
    {% endblock %}
{% block mainBody %}
    <h1>Archived Emails list</h1>
    {% include 'EmailGeneratorBundle:Email:_table.html.twig' with {'data': data,'actions': actions} %}

{% endblock %}