<!----------------------------------------------------FOOTER STARTS HERE ----------------------------------------------------->
<!---------SPACER--------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>

            <tr><td class="repading" style=" font-size: 1px; line-height: 1px;" height="50">&nbsp;</td></tr>

            </tbody>
        </table>

    </td>
</tr>
<!---------SPACER--------------->






<!-------------------MEMBER BENEFITS  ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>
            <tr>
                <td style="font-size:12px; line-height:16px;"><a href="https://www.marionnaud.es/tarjeta-de-fidelidad{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img class="deviceWidth" src="https://www.marionnaud.es/elab/mes/email/2018MES2241/sign-up-marionnayd.jpg" alt="sign-up-marionnay" title="sign-up-marionnay" style="display:block" border="0" width="640"></a>
                </td>
            </tr>
            <tr><td  style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>
            <tr><td style="font-size:12px; line-height:16px;">
                    <img class="deviceWidth" src="https://www.marionnaud.es/elab/mes/email/2017MES2623/mes-loyalty-banner.jpg" alt="Marionnaud" title="Marionnaud" style="display:block" border="0" width="640">
                </td>
            </tr>

            <tr><td  style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
            </tr>

            </tbody>
        </table>

    </td>
</tr>
<!---------------------------MEMBER BENEFITS  ---------------------------->












<!---------------------------STORE ICONS ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>




            <tr>
                <td style="font-size:1px; line-height:1px;" width="640" align="left">

                    <table width="83" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="83">
                                <a href="https://www.marionnaud.es/pago-seguro{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="pago securo" src="https://www.marionnaud.es/elab/mes/email/genericEmails/secure-Services-MES-90x94.png" width="80"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="83" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="83">
                                <a href="https://www.marionnaud.es/plazos-de-entrega{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="envio gratis a partir de 50€" src="https://www.marionnaud.es/elab/mes/email/genericEmails/delivery-Services-MES-90x94.png" width="80"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="83" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="83">
                                <a href="https://www.marionnaud.es/envoltorio-de-regalo{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="envoltorio de regalo" src="https://www.marionnaud.es/elab/mes/email/genericEmails/giftwrap-Services-MES-90x94.png" width="80"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="83" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="83">
                                <a href="https://www.marionnaud.es/cestas-de-regalo{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="cestas de regalo" src="https://www.marionnaud.es/elab/mes/email/genericEmails/basket-Services-MES-90x94.png" width="80"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="83" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="83">
                                <a href="https://www.marionnaud.es/tarjeta-de-fidelidad{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="tarjeta de fidelidad" src="https://www.marionnaud.es/elab/mes/email/genericEmails/loyalty-Services-MES-90x94.png" width="80"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="83" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="83">
                                <a href="https://www.marionnaud.es/encontrar-tienda{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="direcciones horario tiendas marionnaud" src="https://www.marionnaud.es/elab/mes/email/genericEmails/locator-Services-MES-90x94.png" width="80"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="4" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="hideONmobile noborder">
                        <tbody>
                        <tr><td width="4" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>

                    <table width="83" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder devicethirdWidth">
                        <tbody>
                        <tr><td align="center"  width="83">
                                <a href="https://www.marionnaud.es/contacta-marionnaud{{ parameters.utm|default('?NO_UTM_SET_UP') }}"><img alt="contacta Marionnaud" src="https://www.marionnaud.es/elab/mes/email/genericEmails/contact-Services-MES-90x94.png" width="80"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        </tbody></table>



                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------STORE ICONS ---------------------------->




















<!---------------------------ADDRESSES and BARDCODE---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">
                    <p>
                        <strong>Teléfono de contacto:</strong>: 900 50 55 41 de lunes a jueves de 9,30h a 14h y de 15h a 19h y los viernes de 9h a 15h.<br>
                        <strong>E-Mail:</strong> <a href="mailto:atenci%C3%B3n.cliente.online@marionnaud.es" style="color: #000000; text-decoration: none">atención.cliente.online@marionnaud.es</a><br>
                        <%@ include view='aswUnsubMES' %><br>
                        ¿Olvidaste tu tarjeta Mariounnaud?, enseña este código de barras y ¡sigue acumulando puntos!<br>
                        <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode"><br>
                        <br />
                        <a style="color: #000000" href="https://www.marionnaud.es/politica-privacidad{{ parameters.utm|default('?NO_UTM_SET_UP') }}"> Política de Privacidad</a> </td>
            </tr>
            <tr><td  style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>     </tr>
        </table>

    </td>
</tr>
<!---------------------------ADDRESSES and BARDCODE---------------------------->













<!---------------------------TERMS AND CONDITIONS ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:10px; line-height:14px; color: #585858" align="center">
                    {{ parameters.termsAndConditions|raw }}
                </td>
            </tr>
            <tr><td  style="font-size:1px; line-height:1px;" height="30">&nbsp;</td></tr>
        </table>

    </td>
</tr>
<!---------------------------TERMS AND CONDITIONS ---------------------------->





</table>



</td>
</tr>
</tbody>
</table><!--------------------------- MASTER WRAPPER ENDING---------------------------->



</body>