<link href="http://www.marionnaud.at/elab/JavascriptLibrary/prettyPhoto-v3.1.6/prettyPhoto.css" rel="stylesheet">
<script src="http://www.marionnaud.at/elab/JavascriptLibrary/prettyPhoto-v3.1.6/jquery.prettyPhoto.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
<link type="text/css" href="http://www.marionnaud.ch/elab/mch/LP/2016MCH1052/css/styles6.css" rel="stylesheet" media="all"/>

<script type="text/javascript">
    $(document).ready(function() {
        $("a[rel^='prettyPhoto']").prettyPhoto({
            social_tools: '',
            default_width: 840,
            default_height: 500,
        });
    });

</script>
<style>
    /*  SECTIONS  */

    .pdpContentContainer img {
        max-width: 100%;
    }

    .pdpContentContainer h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 27px;
        text-align: center;
    }

    .pdpContentContainer h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 27px;
    }

    .pdpSection {
        clear: both;
        padding: 1% 0;
        margin: 0px;
    }

    .pdpContentContainer {
        width: 100%;
        max-width: 620px;
        margin: auto;
        padding: 5% 0;
        margin-top: -2%;
        padding-top: 0%;
    }

    .pdpContentContainer p {
        font-family: arial;
        font-size: 13px;
        line-height: 18px;
    }

    #twoColumnText, #twoColumnImage {

    }

    #imageWithText {
        position: relative;
    }

    #imageWithText div:nth-child(2) {
        bottom: 0;
        right: 0;
    }

    #imageWithText img {

    }

    #threeColumnImage {

    }

    #dividerLine {
        border-bottom: 1px solid #f4d9df;
    }

    #pdpSpacer {
        padding: 20px;
    }

    .pdpContentContainer iframe {
        width: 100%;
        height: 350px;
    }

    #threeColumnImage p {
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 100;
        margin-top: 7%;
        margin-bottom: -5%;
    }

    #pdpQuote p {
        font-style: italic;
        color: #979797;
    }

    #imageRightWithText p{
    }

    li{
        font-family: arial;
        font-size: 13px;
        line-height: 18px;
    }

    /*  COLUMN SETUP  */
    .col {
        display: block;
        float:left;
        margin: 1% 0 1% 1.6%;
    }
    .col:first-child { margin-left: 0; }

    /*  GROUPING  */
    .group:before,
    .group:after { content:""; display:table; }
    .group:after { clear:both;}
    .group { zoom:1; /* For IE 6/7 */ }
    /*  GRID OF SIX  */
    .span_6_of_6 {
        width: 100%;
    }

    .span_5_of_6 {
        width: 83.06%;
    }

    .span_4_of_6 {
        width: 66.13%;
    }

    .span_3_of_6 {
        width: 49.2%;
    }

    .span_2_of_6 {
        width: 32.26%;
    }

    .span_1_of_6 {
        width: 15.33%;
    }



    /*  GO FULL WIDTH BELOW 480 PIXELS */
    @media only screen and (max-width: 480px) {
        .col {  margin: 1% 0 1% 0%; }
        .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; margin: 20 auto; text-align: center;}


        #twoColumnImage .span_3_of_6{
            width: 45%;
            margin: auto;
        }
        #twoColumnImage .span_3_of_6:nth-child(2){
            margin-left: 5%;
        }

        #imageWithText div:nth-child(2) {
            position: relative;
            bottom: 0;
            right: 0;
        }

        #threeColumnImage .span_2_of_6{
            width: 30%;
        }

        #threeColumnImage .span_2_of_6:nth-child(2){
            margin-left: 5%;
        }
        #threeColumnImage .span_2_of_6:nth-child(3){
            margin-left: 5%;
        }

        .pdpContentContainer img {
            text-align: center;
            margin: auto;
        }

        .pdpContentContainer p {
            text-align: left;
        }

        .pdpContentContainer h2 {
            text-align: left;
        }

        .pdpContentContainer iframe {
            width: 100%;
            height: 350px;
        }

        .pdpSection {
            padding: 0%;
        }
    }

</style>




<!-- CONTAINER -->
<div class="section pdpContentContainer" style="font-family: {{ parameters.fontFamily }}">