<div class="section group">
    <div class="col span_6_of_6">
        <h1 style="font-size: {{ block.fontSize }}px;color: {{ block.ctaTextColour }};font-family: {{ block.fontFamily }};">{{ block.title }}</h1>
    </div>
</div>