<div class="pdpSection group" id="pdpQuote">
    <div class="col span_1_of_6">
        <img src="http://www.marionnaud.ch/elab/mch/LP/2016MCH2230/ysl/quote-light.jpg" alt="quote symbol">
    </div>
    <div class="col span_5_of_6">
        <p>{{ block.text|default('')|raw }}</p>

    </div>
</div>