<div class="section group" id="threeColumnText">
    <div class="col span_2_of_6">
        {{ block.textLeft|raw }}
    </div>
    <div class="col span_2_of_6">
        {{ block.textCenter|raw }}
    </div>
    <div class="col span_2_of_6">
        {{ block.textRight|raw }}
    </div>
</div>