<div class="section group" id="threeColumnImage">
    <div class="col span_2_of_6">
            <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1 }}">
    </div>
    <div class="col span_2_of_6">
            <img src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}" alt="{{ block.imageAlt2 }}">
    </div>
    <div class="col span_2_of_6">
            <img src="{{ parameters.imagespath|default('/') }}{{ block.image3 }}" alt="{{ block.imageAlt3 }}">
    </div>
</div>