<div class="section group" id="twoColumnImage">
    <div class="col span_3_of_6">
            <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1 }}">
    </div>
    <div class="col span_3_of_6">
            <img src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}" alt="{{ block.imageAlt2 }}">
    </div>
</div>