<div class="section group" id="imageLeftWithText">
    <div class="col span_3_of_6">
        <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1 }}">
    </div>
    <div class="col span_3_of_6">
        <h2>{{ block.title }}</h2>
        {{ block.text|raw }}
    </div>

</div>