<div class="section group" id="twoColumnText">
    <div class="col span_3_of_6">
        {{ block.textLeft|raw }}
    </div>
    <div class="col span_3_of_6">
        {{ block.textRight|raw }}
    </div>
</div>