<div class="section group"><div class="col span_6_of_6">
        <iframe src="https://www.youtube.com/embed/{{ block.youtubeID }}?rel=0" width="100%" height="350" frameborder="0"></iframe>
    </div>
</div>