<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth noborder" bgcolor="#FFFFFF">
            <tbody>




            <tr>
                <td style="font-size:1px; line-height:1px;" width="280" align="left">

                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder deviceWidth">
                        <tbody>
                        <tr><td align="center"  width="120">
                                <a href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}">
                                    <img src="{{ parameters.domain }}{{ block.product1Image }}" alt="{{ block.product1Brand }} {{ block.product1Name }}" class="product_image" style="display:block" title="Marionnaud" border="0" width="120"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:16px; line-height:18px; text-transform: uppercase; text-transform: uppercase;" align="center">
                                <strong>{{ block.product1Brand }}</strong>
                                {% if block.product1Brand|length < 16 %}
                                    <br>&nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:12px; line-height:22px;" align="center">
                                <span style="font-size:12px; line-height:22px;">{{ block.product1Name|raw }}<br>
                                {% if block.product1Name|length < 26 %}
                                    <br>
                                {% endif %}
                                </span>
                                {% if block.product1PromoPrice is not null %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;text-decoration: line-through;color: #000000;">{{ block.product1Price }}</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product1PromoPrice }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }}; line-height:36px; color: #000000;">{{ block.product1PromoPrice }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% else %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;visibility: hidden">&nbsp;</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product1Price }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color:{{ block.priceColour|default('#000000') }};">{{ block.product1Price }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% endif %}
                            </td></tr>
                        <tr><td align="center">
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:110px;font-family:Arial, Helvetica, sans-serif;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}"
                                       title="{{ block.product1 }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:110px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('SHOP NOW') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                                 </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td></tr>

                        </tbody></table>


                    <table width="10" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td width="10" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>


                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder deviceWidth">
                        <tbody>
                        <tr><td align="center"  width="120"><a href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}">
                                    <img src="{{ parameters.domain }}{{ block.product2Image }}" alt="{{ block.product2Brand }} {{ block.product2Name }}" class="product_image" style="display:block" title="Marionnaud" border="0" width="120"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td style="font-size:16px; line-height:18px; text-transform: uppercase;" align="center">
                                <strong>{{ block.product2Brand }}</strong>
                                {% if block.product2Brand|length < 16 %}
                                    <br>&nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:12px; line-height:22px;" align="center">
                                <span style="font-size:12px; line-height:22px;">{{ block.product2Name|raw }}<br>
                                {% if block.product2Name|length < 26 %}
                                    <br>&nbsp;
                                {% endif %}
                                </span>

                                {% if block.product2PromoPrice is not null %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;text-decoration: line-through;color: #000000;">{{ block.product2Price }}</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product2PromoPrice }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }}; line-height:36px; color: #000000;">{{ block.product2PromoPrice }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% else %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;visibility: hidden">&nbsp;</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product2Price }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color:{{ block.priceColour|default('#000000') }};">{{ block.product2Price }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% endif %}
                            </td></tr>
                        <tr><td align="center">
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:110px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"
                                       title="{{ block.product2 }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:110px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('SHOP NOW') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>


                            </td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td></tr>

                        </tbody></table>
                </td>


                <td width="30" style="font-size: 1px; line-height: 1px;" align="left">&nbsp;</td>

                <td style="font-size:1px; line-height:1px;" width="280" align="left">

                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder deviceWidth">
                        <tbody>
                        <tr><td align="center"  width="120"><a href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}">
                                    <img src="{{ parameters.domain }}{{ block.product3Image }}" alt="{{ block.product3Brand }} {{ block.product3Name }}" class="product_image" style="display:block" title="Marionnaud" border="0" width="120"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>
                        <tr>
                            <td style="font-size:16px; line-height:18px; text-transform: uppercase;" align="center">
                                <strong>{{ block.product3Brand }}</strong>
                                {% if block.product3Brand|length < 16 %}
                                    <br>&nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:12px; line-height:22px;" align="center">
                                <span style="font-size:12px; line-height:22px;">{{ block.product3Name|raw }}<br>
                                {% if block.product3Name|length < 26 %}
                                    <br>&nbsp;
                                {% endif %}
                                </span>
                                {% if block.product3PromoPrice is not null %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;text-decoration: line-through;color: #000000;">{{ block.product3Price }}</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product3PromoPrice }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }}; line-height:36px; color: #000000;">{{ block.product3PromoPrice }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% else %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;visibility: hidden">&nbsp;</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product3Price }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color:{{ block.priceColour|default('#000000') }};">{{ block.product3Price }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% endif %}
                            </td></tr>
                        <tr><td align="center">
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:110px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ parameters.domain }}/p/{{ block.product3 }}{{ parameters.utm }}"
                                       title="{{ block.product3 }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:110px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('SHOP NOW') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td></tr>

                        </tbody></table>


                    <table width="10" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td width="10" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                        </tbody></table>


                    <table width="130" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="noborder deviceWidth">
                        <tbody>
                        <tr><td align="center"  width="120"><a href="{{ parameters.domain }}/p/{{ block.product4 }}{{ parameters.utm }}">
                                    <img src="{{ parameters.domain }}{{ block.product4Image }}" alt="{{ block.product4Brand }} {{ block.product4Name }}" class="product_image" style="display:block" title="Marionnaud" border="0" width="120"></a>
                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td style="font-size:16px; line-height:18px; text-transform: uppercase;" align="center">
                                <strong>{{ block.product4Brand }}</strong>
                                {% if block.product4Brand|length < 16 %}
                                    <br>&nbsp;
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:12px; line-height:22px;" align="center">
                                <span style="font-size:12px; line-height:22px;">{{ block.product4Name|raw }}<br>
                                {% if block.product4Name|length < 26 %}
                                    <br>&nbsp;
                                {% endif %}
                                </span>
                                {% if block.product4PromoPrice is not null %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;text-decoration: line-through;color: #000000;">{{ block.product4Price }}</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product4PromoPrice }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }}; line-height:36px; color: #000000;">{{ block.product4PromoPrice }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% else %}
                                    <span style="font-size:10px;font-family: Arial, Helvetica, sans-serif; line-height:36px;visibility: hidden">&nbsp;</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product4Price }}</strong></span>
                                    {% else %}
                                        <span style="font-size:28px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color:{{ block.priceColour|default('#000000') }};">{{ block.product4Price }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% endif %}
                            </td></tr>
                        <tr><td align="center">
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product4 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:110px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ parameters.domain }}/p/{{ block.product4 }}{{ parameters.utm }}"
                                       title="{{ block.product4 }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:9px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:110px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('SHOP NOW') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                        </tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td></tr>

                        </tbody></table>
                </td>




            </tr>
            </tbody>
        </table>

    </td>
</tr>