{% set url = parameters.domain ~ '/p/' ~ block.product1 %}

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>
            <tr>
                <td class="repading" style="font-size:1px; line-height:1px;">
                    <table width="47%" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td align="center">
                                <a href="{{ block.validateURLWithUTM(url,parameters.utm) }}"
                                   title="{{ block.ctaUrlTitle }} | {{ block.product1Brand }} {{ block.product1Name }}">
                                    <img src="{{ parameters.domain }}{{ block.product1Image }}"
                                         alt="{{ block.product1Brand }} {{ block.product1Name }}"
                                         style="display:block" width="280" height="300" border="0"
                                         title="{{ block.ctaUrlTitle }} | {{ block.product1Brand }} {{ block.product1Name }}">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="5%" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="47%" border="0" cellpadding="0" cellspacing="0" align="right"    class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td class="mobcenter" align="left" style="line-height: 20px;">
                                <span style="font-family: arial; font-size:24px; color:#000000; text-transform: uppercase;line-height:30px; line-height: 28px;"><strong>{{ block.product1Brand }}</strong></span>


                                <br />
                                <span style="font-family: arial; font-size:12px;line-height:16px;color:#000000;">{{ block.text|raw }}</span>


                                <br />
                                <span style="font-family: arial; font-size:18px; color:#000000; line-height:20px; text-transform: uppercase;"><strong>{{ block.product1Name }}</strong></span>



                                {% if block.product1PromoPrice is not null %}
                                    <span style="font-size:10px; line-height:10px; font-family:Arial, Helvetica, sans-serif; text-decoration: line-through; color: #000000;"><br/><br/>{{ block.product1PromoPrice }}</span>
                                    <!-- When no content is added this section  should be removed-->
                                {% endif %}
                                <br />
                                {% if parameters.bu in parameters.MCHCodes %}
                                    <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product1Price }}</strong></span>
                                {% else %}
                                    <span style="font-size:34px; font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'; line-height:34px; color:#b70075;"><em>{{ block.product1Price }}</em></span>
                                {% endif %}



                                {% if block.productExtraInformation is not null %}
                                    <br/>
                                    <span style="font-family: arial; font-size:14px; line-height:20px; font-family:Arial, Helvetica, sans-serif;">{{ block.productExtraInformation }}</span>
                                    <!-- When no content is added this section  should be removed-->
                                {% endif %}




                                <br /><br />
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ block.validateURLWithUTM(url,parameters.utm) }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ block.validateURLWithUTM(url,parameters.utm) }}"
                                       title="{{ block.ctaUrlTitle }} | {{ block.product1Brand }} {{ block.product1Name }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{  block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('SHOP NOW') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr><td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td></tr>
            </tbody>
        </table>
    </td>
</tr>
