<!--------------------------- SINGLE COLOUM HEADER ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tbody>
            <tr>
                <td style="font-size: 1px; line-height: 1px;">

                    {% if block.ctaUrl %}
                        <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" title="{{ block.ctaUrlTitle }}">
                            <img class="deviceWidth"
                                 src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                 alt="{{ block.imageAlt1 }}" style="display:block" border="0" width="640">
                        </a>
                    {% else %}
                        <img class="deviceWidth"
                             src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                             alt="{{ block.imageAlt1 }}" style="display:block" border="0" width="640">
                    {% endif %}
                </td>
            </tr>
                
                <!-- 80px SPACER -->
                <tr><td height="80" style="font-size: 1px; line-height: 1px;">&nbsp;</td></tr>
                 <!-- 50px SPACER -->
                
            </tbody>
        </table>

    </td>
</tr>
<!--------------------------- SINGLE COLOUM HEADER ---------------------------->    