<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth">
            <tbody>
            <tr bgcolor="{{ block.backgroundColourBlock }}">
                <td style="font-size:12px; line-height:19px;font-family: Arial, Helvetica, sans-serif;color:{{ block.ctaTextColour|default('#000000') }};">
                    {{ block.text|raw }}
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>