<tr>
    <td style="font-size:1px; line-height:1px;">
        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth">
            <tbody>
            <tr>
                <td style="font-size:1px; line-height:1px;" bgcolor="{{ block.backgroundColourBlock|default('#777777') }}">
                    <!---------------------------TO FLIP SIDES, CHANGES align to "left" ---------------------------->
                    <table width="320" border="0" cellpadding="0" cellspacing="0" style="" align="right"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td align="center">
                                <!---------------------------YOUR IMAGE MUST BE THE CORRECT SIZE TO WORK 320w x 320h---------------------------->
                                <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}" title="{{ block.ctaUrlTitle }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                         alt="{{ block.imageAlt1 }}" border="0" width="320" class="deviceWidth"
                                         title="{{ block.ctaUrlTitle }}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!------------------------ HEIGHTS MUST CONSIDER 10px on each side bored - add 20px to total------------------------->


                    <table width="310" border="0" cellpadding="0" cellspacing="0" style="" align="left"
                           class="deviceWidth noborder">
                        <tbody>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="25" colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="hideONmobile" style="font-size:1px; line-height:1px;" width="30">&nbsp;</td>
                            <td  class="repading">
                                <table width="260" border="0" cellpadding="0" cellspacing="0" align="leftv"
                                       class="deviceWidth">
                                    <tbody>
                                    <tr>

                                        <td class="mobcenter" align="left"
                                            style="font-size:14px; line-height:18px; color:#ffffff;">
                                            <a href="{{ block.validateURLWithUTM(parameters.domain,parameters.utm) }}">
                                                <img src="{{ parameters.domain }}/elab/mro/Email/template/mlife-white.png"
                                                     alt="MLIFE" class="product_image" style="display:block"
                                                     title="MLIFE" border="0" width="120"></a>
                                            <br/>
                                            {{ block.text|raw }}
                                            <br/>
                                            <br>

                                            <div align="left" class="mobcenter">
                                                <!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                                        xmlns:w="urn:schemas-microsoft-com:office:word"
                                                        href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                        style="height:26px;v-text-anchor:middle;width:150px;"
                                                        strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                                        fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                                    <w:anchorlock/>
                                                    <center>
                                                <![endif]-->
                                                <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                   title="{{ block.ctaUrlTitle }}"
                                                   style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{  block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                                    {{ block.ctaText|default('SHOP NOW') }}
                                                </a>
                                                <!--[if mso]>
                                                </center>
                                                </v:rect>
                                                <![endif]-->
                                            </div>
                                            <br>&nbsp;
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td  style="font-size:1px; line-height:1px;" width="15" class="hideONmobile">&nbsp;</td>
                        </tr>

                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td>
            </tr>


            </tbody>
        </table>
    </td>
</tr>