<!----- SPACE WITH LINE ----->
<tr>
    <td class="repading" style="font-size:1px; line-height:1px;" align="center">
        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#FFFFFF">
            <tr>
                <td style="font-size:1px; line-height:1px;" height="50" bgcolor="#ffffff">&nbsp;</td>
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="1">
                    <hr color="{{ block.separatorColour|default('#000000') }}">
            </tr>
            <tr>
                <td style="font-size:1px; line-height:1px;" height="50" bgcolor="#ffffff">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<!----- SPACE WITH LINE ----->
