<tr>
    <td style="font-size:1px; line-height:1px;">
        <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
               bgcolor="#ffffff" height="320">
            <tbody>
            <tr>
                <td class="" style="font-size:1px; line-height:1px;" height="320"
                    bgcolor="{{ block.backgroundColourBlock }}">
                    <!---------------------------TO FLIP SIDES, CHANGES align to "left" ---------------------------->
                    <table width="320" border="0" cellpadding="0" cellspacing="0" style="" align="right"
                           class="deviceWidth noborder" height="320"
                           background="{{ block.backgroundColourBlock|default('#ffffff') }}">
                        <tbody>
                        <tr>
                            <td align="center">
                                <!---------------------------YOUR IMAGE MUST BE THE CORRECT SIZE TO WORK 320w x 320h---------------------------->
                                <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                   title="{{ block.ctaUrlTitle }}">
                                    <img class="deviceWidth"
                                         src="{{ parameters.imagespath|default('/') }}{{ block.image }}"
                                         alt="{{ block.imageAlt1 }}" style="display:block"
                                         title="{{ block.ctaUrlTitle }}"
                                         border="0" width="320"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!------------------------ HEIGHTS MUST CONSIDER 10px on each side bored - add 20px to total------------------------->
                    <table width="310" border="0" cellpadding="0" cellspacing="0" style="" align="center"
                           class="deviceWidth noborder" height="320">
                        <tbody>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="25" colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="" style="font-size:1px; line-height:1px;" width="30">&nbsp;</td>
                            <td>
                                <table width="240" border="0" cellpadding="0" cellspacing="0" align="center"
                                       class="deviceWidth"
                                       height="240">
                                    <tbody>
                                    <tr>

                                        <td class="mobcenter"
                                            align="{{ (block.alignBlock is not empty) ? block.alignBlock : 'left' }}"
                                            style="font-size:14px; line-height:18px; color:#000000;">

                                            {{ block.text|raw }}

                                            <br>

                                            <div>
                                                <!--[if mso]>
                                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                                        xmlns:w="urn:schemas-microsoft-com:office:word"
                                                        href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                        style="height:26px;v-text-anchor:middle;width:150px;"
                                                        strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                                        fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                                    <w:anchorlock/>
                                                    <center>
                                                <![endif]-->
                                                <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                                   title="{{ block.ctaUrlTitle }}"
                                                   style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                                    {{ block.ctaText|default('SHOP NOW') }}
                                                </a>
                                                <!--[if mso]>
                                                </center>
                                                </v:rect>
                                                <![endif]-->
                                            </div>
                                            <br>&nbsp;
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="font-size:1px; line-height:1px;" width="15" class="">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="25" colspan="3">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>