<!---------------------------ROW - 3 images in a row with CTAs ---------------------------->


<tr>
    <td style="font-size:1px; line-height:1px;" align="center" class="repading">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>


            <tr>

                <td class="repading deviceWidth" style="font-size:1px; line-height:1px;" align="center">


                    <table width="195" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl, parameters.utm) }}" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1|default('Marionnaud') }}" width="180" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}"  class="" style="display:block" border="0"></a></td>
                            <td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                            <td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>

                        <tr><td align="center">
                                <div align="center">
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ block.validateURLWithUTM(block.ctaUrl, parameters.utm) }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#81567a') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#81567a') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ block.validateURLWithUTM(block.ctaUrl, parameters.utm) }}"
                                       title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#81567a') }};color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:{{ block.ctaTextColour|default('Arial, Helvetica, sans-serif') }};font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('Click here') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                            <td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
                            <td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>

                        </tbody></table>



                    <table width="195" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl2, parameters.utm) }}" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}" >
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}" alt="{{ block.imageAlt2|default('Marionnaud') }}" width="180"  class="" style="display:block"  title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}" border="0"></a></td><td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                            <td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>

                        <tr><td align="center">
                                <div align="center">
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ block.validateURLWithUTM(block.ctaUrl2, parameters.utm) }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#81567a') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#81567a') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ block.validateURLWithUTM(block.ctaUrl2, parameters.utm) }}"
                                       title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#81567a') }};color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:{{ block.ctaTextColour|default('Arial, Helvetica, sans-serif') }};font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('Click here') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                            <td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
                            <td class="hideONmobile" width="15" style="font-size:1px; line-height:1px;">&nbsp;</td></tr>

                        </tbody></table>






                    <table width="180" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl3, parameters.utm) }}" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}" >
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image3 }}" alt="{{ block.imageAlt3|default('Marionnaud') }}" width="180" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}"  class="" style="display:block" border="0"></a></td>

                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr><td align="center">
                                <div align="center">
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ block.validateURLWithUTM(block.ctaUrl2, parameters.utm) }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#81567a') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#81567a') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ block.validateURLWithUTM(block.ctaUrl3, parameters.utm) }}"
                                       title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt3|default('Marionnaud') }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#81567a') }};color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:{{ block.ctaTextColour|default('Arial, Helvetica, sans-serif') }};font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('Click here') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
                        </tr>

                        </tbody></table>







                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>


<!---------------------------ROW - 3 images in a row with CTAs ---------------------------->