
<!---------------------------ROW - 2 images in a row with CTAs ---------------------------->


<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="580" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>




            <tr><td class="repading" style="font-size:1px; line-height:1px;">


                    <table width="47%" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"  title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt1|default('Marionnaud') }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image }}" alt="{{ block.imageAlt1|default('Marionnaud') }}" style="display:block" width="100%" border="0"></a>
                            </td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" align="center">
                                <div align="center">
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;font-family:Arial, Helvetica, sans-serif;"
                                            strokecolor="{{ block.ctaTextColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#81567a') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ block.validateURLWithUTM(block.ctaUrl,parameters.utm) }}"
                                       title="{{ block.ctaUrlTitle }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#81567a') }};color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('Click here') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div><br/>

                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        </tbody></table>

                    <table width="15" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td>&nbsp;</td></tr>
                        </tbody></table>

                    <table width="47%" border="0" cellpadding="0" cellspacing="0" style="" align="right" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}" title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt2|default('Marionnaud') }}">
                                    <img src="{{ parameters.imagespath|default('/') }}{{ block.image2 }}" alt="{{ block.imageAlt2|default('Marionnaud') }}" style="display:block" width="100%"  border="0"></a>
                            </td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr><td style="font-size:1px; line-height:1px;" align="center">
                                <div align="center">
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;font-family:Arial, Helvetica, sans-serif;"
                                            strokecolor="{{ block.ctaTextColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#81567a') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ block.validateURLWithUTM(block.ctaUrl2,parameters.utm) }}"
                                       title="{{ block.ctaUrlTitle|default('') }} {{ block.imageAlt2|default('Marionnaud') }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#81567a') }};color:{{ block.ctaTextColour|default('#ffffff') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('Click here') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>
                                <br/>

                            </td></tr>
                        <tr><td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        </tbody></table>




                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>


<!---------------------------ROW - 2 images in a row with CTAs ---------------------------->