
<!---------------------------ROW 14 - 2 products ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;">

        <table width="440" border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" bgcolor="#FFFFFF">
            <tbody>




            <tr><td class="repading" style="font-size:1px; line-height:1px;">


                    <table width="174" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}">
                                    <img width="174" height="181"  src="{{ parameters.domain }}{{ block.product1Image }}" alt="{{ block.product1Brand }} {{ block.product1Name }}" class="product_image" style="display:block" title="{{ block.product1Brand }} {{ block.product1Name }}" border="0"></a>
                            </td></tr>

                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td style="font-size:18px; line-height:22px;" align="center">
                                <span style="font-size:18px; line-height:22px; text-transform: uppercase;">
                                    <strong>{{ block.product1Brand|raw }}</strong>
                                    {% if block.product1Brand|length < 16 %}
                                        <br>&nbsp;
                                    {% endif %}
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td style="font-size:14px; line-height:22px;" align="center">
                                {{ block.product1Name|raw }}<br>
                                {% if block.product1Name|length < 26 %}
                                    <br>
                                {% endif %}
                                {% if block.product1PromoPrice is not null %}
                                    <span style="font-size:12px;font-family: Arial, Helvetica, sans-serif;line-height:36px;text-decoration: line-through;color: #000000;">{{ block.product1Price }}</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product1PromoPrice }}</strong></span>
                                    {% else %}
                                        <span style="font-size:36px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color: {{ block.priceColour|default('#000000') }};">{{ block.product1PromoPrice }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% else %}
                                    <span style="font-size:12px;font-family: Arial, Helvetica, sans-serif;line-height:36px;visibility: hidden">&nbsp;</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product1Price }}</strong></span>
                                    {% else %}
                                        <span style="font-size:36px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color: {{ block.priceColour|default('#000000') }};">{{ block.product1Price }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% endif %}
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;font-family:Arial, Helvetica, sans-serif;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ parameters.domain }}/p/{{ block.product1 }}{{ parameters.utm }}"
                                       title="{{ block.product1 }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('SHOP NOW') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>

                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td></tr>
                        </tbody></table>


                    <table width="80" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td>&nbsp;</td></tr>
                        </tbody></table>


                    <table width="174" border="0" cellpadding="0" cellspacing="0" style="" align="left" class="deviceWidth noborder">
                        <tbody>
                        <tr><td align="center"><a href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}">
                                    <img width="174" height="181"  src="{{ parameters.domain }}{{ block.product2Image }}" alt="{{ block.product2Brand }} {{ block.product2Name }}" class="product_image" style="display:block" title="{{ block.product2Brand }} {{ block.product2Name }}" border="0"></a>
                            </td></tr>

                        <tr>
                            <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td></tr>

                        <tr>
                            <td style="font-size:18px; line-height:22px;" align="center">
                                <span style="font-size:18px; line-height:22px; text-transform: uppercase;">
                                    <strong>{{ block.product2Brand|raw }}</strong>
                                    {% if block.product2Brand|length < 16 %}
                                        <br>&nbsp;
                                    {% endif %}
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td style="font-size:14px; line-height:22px;" align="center">
                                {{ block.product2Name|raw }}<br>
                                {% if block.product2Name|length < 26 %}
                                    <br>
                                {% endif %}
                                {% if block.product2PromoPrice is not null %}
                                    <span style="font-size:12px;font-family: Arial, Helvetica, sans-serif;line-height:36px;text-decoration: line-through;color: #000000;">{{ block.product2Price }}</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product2PromoPrice }}</strong></span>
                                    {% else %}
                                        <span style="font-size:36px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color: {{ block.priceColour|default('#000000') }};">{{ block.product2PromoPrice }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% else %}
                                    <span style="font-size:12px;font-family: Arial, Helvetica, sans-serif;line-height:36px;visibility: hidden">&nbsp;</span>
                                    <br>&nbsp;
                                    {% if parameters.bu in parameters.MCHCodes %}
                                        <span style="font-size:16px;font-family:Arial, Helvetica, sans-serif;line-height:36px; color: #000000;"><strong>{{ block.product2Price }}</strong></span>
                                    {% else %}
                                        <span style="font-size:36px;font-family:{{ block.fontFamily|default('Arial, san-serif') }};line-height:36px; color: {{ block.priceColour|default('#000000') }};">{{ block.product2Price }}</span>
                                    {% endif %}
                                    <br>&nbsp;
                                {% endif %}
                                <div>
                                    <!--[if mso]>
                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml"
                                            xmlns:w="urn:schemas-microsoft-com:office:word"
                                            href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"
                                            style="height:26px;v-text-anchor:middle;width:150px;font-family:Arial, Helvetica, sans-serif;"
                                            strokecolor="{{ block.ctaBackgroundColour|default('#ffffff') }}"
                                            fillcolor="{{ block.ctaBackgroundColour|default('#ffffff') }}">
                                        <w:anchorlock/>
                                        <center>
                                    <![endif]-->
                                    <a href="{{ parameters.domain }}/p/{{ block.product2 }}{{ parameters.utm }}"
                                       title="{{ block.product2 }}"
                                       style="background-color:{{ block.ctaBackgroundColour|default('#ffffff') }};color:{{ block.ctaTextColour|default('#000000') }};display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:10px;font-weight:bold;line-height:26px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;text-transform: uppercase;">
                                        {{ block.ctaText|default('SHOP NOW') }}
                                    </a>
                                    <!--[if mso]>
                                    </center>
                                    </v:rect>
                                    <![endif]-->
                                </div>

                            </td>
                        </tr>

                        <tr><td style="font-size:1px; line-height:1px;" height="80">&nbsp;</td></tr>
                        </tbody></table>




                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
<!---------------------------ROW 14 - 2 products ---------------------------->

