{% extends 'backend.html.twig' %}
{% set title = 'Edit User' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="{{ path(actions.list.path) }}"> <i class="fa fa-user"></i> Users</a></li>
    <li class="breadcrumb-item"><i class="fa fa-user"></i> {{ title }}</li>
{% endblock %}
{% block mainTitle %}{{ title }}{% endblock %}
    {% block mainLinks %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="{{ path('business-unit_new') }}"> New user</a>
            </li>
        </ul>
    {% endblock %}
{% block mainSubtitle %}{{ user.name }}{% endblock %}
{% block mainBody %}
    {% include 'AppBundle:common:_form.html.twig' %}
{% endblock %}
