{% extends 'backend.html.twig' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><i class="fa fa-users"></i> Users</li>
{% endblock %}
    {% block mainLinks %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="{{ path('user_new') }}"> New Users</a>
            </li>
        </ul>
    {% endblock %}
{% block mainBody %}
    <h1>Users list</h1>
    {% include 'AppBundle:common:_table.html.twig' with {'data': data,'actions': actions} %}

{% endblock %}
