{% extends 'backend.html.twig' %}
{% set title = 'New User' %}
{% block breadcrumbItems %}
   <li class="breadcrumb-item"><a href="{{ path(actions.list.path) }}"> <i class="fa fa-users"></i> Users</a></li>
    <li class="breadcrumb-item"><i class="fa fa-users"></i> {{ title }}</li>
{% endblock %}
    {% block mainLinks %}
    {% endblock %}
{% block mainTitle %} {{ title }}{% endblock %}
{% block mainBody %}
   {% include 'AppBundle:common:_form.html.twig' %}
{% endblock %}
