{% if data == false %}
<div class="alert alert-warning" role="alert">
    <strong>Product not found!</strong> please make sure the SKU is the correct one.
</div>
{% else %}
<div class="form-group">
    <label for="exampleInputEmail1">Brand</label><br>
    <span><strong>Current value:</strong>{{ skuInfo.productBrand|default('') }}</span>
    <input type="text" class="form-control skuProductBrand" value="{{ product.PRODUCT_BRAND|default('') }}" aria-describedby="skuProductBrand" placeholder="Not found">
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Name</label><br>
    <span><strong>Current value:</strong>{{ skuInfo.productName|default('') }}</span>
    <input type="text" class="form-control skuProductName" value="{{ product.PRODUCT_NAME|default('') }}"  name="skuProductImage" aria-describedby="skuProductBrand" placeholder="Not found">

</div>
<div class="form-group">
    <label for="exampleInputEmail1">Image</label><br>
    <span><strong>Current value:</strong>{{ skuInfo.productImage|default('') }}</span>
    <a href="{{ domain }}{{ product.PRODUCT_IMAGE_URL|default('') }}" alt="{{ product.skuProductBrand|default('') }}" target="_blank">Check image</a>
    <input type="text" class="form-control skuProductImage" value="{{ product.PRODUCT_IMAGE_URL|default('') }}" aria-describedby="skuProductImage" placeholder="Not found">
    <small id="skuProductImage" class="form-text text-muted">Remember that images do not have domain, system will add it later</small>

</div>
<div class="form-group">
    <label for="exampleInputEmail1">Price</label><br>
    <span><strong>Current value:</strong>{{ skuInfo.productPrice|default('') }}</span>
    <input type="text" class="form-control skuProductPrice" value="{{ product.PRODUCT_PRICE|default('') }}" aria-describedby="skuProductPrice" placeholder="Not found">
</div>
<div class="form-group">
    <label for="exampleInputEmail1">Promo Price</label><br>
    <span><strong>Current value:</strong>{{ skuInfo.productPromoPrice|default('') }}</span>
    <input type="text" class="form-control skuProductOldPrice" value="{{ product.PRODUCT_PROMOPRICE|default('') }}" aria-describedby="skuProductOldPrice" placeholder="Not found">
</div>
{% endif %}
