{% extends 'backend.html.twig' %}
{% set title = 'Page: '~ page.title ~' | Edit Content' %}
    {% block mainTitle %} {{ title }}{% endblock %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="{{ path('page_index') }}"><i class="fa fa-html5"></i> Pages</a></li>
    <li class="breadcrumb-item"><a href="{{ path('page_edit', {'id': page.id}) }}"><i class="fa fa-html5"></i>
            Edit information <small>{{ page.title }}</small></a></li>
    <li class="breadcrumb-item"><a href="{{ path('page_block_list', {'id': page.id}) }}"><i class="fa fa-html5"></i>
            Edit Layout <small>{{ page.title }}</small></a></li>
    <li class="breadcrumb-item"><i class="fa fa-list-alt"></i> Edit Content</li>
{% endblock %}
    {% block mainLinks %}{% endblock %}
{% block mainBody %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right-gray">
            <h3 class="h3">Page Blocks</h3>
            <ul class="list-group">
                {% for key, block in page.blocks %}
                    <li class="list-group-item ui-sortable-handle {% if (block.product1 is defined) and (block.product1 is null) %}list-group-item-warning{% endif %}">
                        <img src="/images/pdp_generator/{{ block.code }}.png" class="img-fluid"
                             style="max-width: calc(100% - 40px);">
                        <span class="pull-right" {% if (block.isEmpty == false) %} data-toggle="tooltip" data-placement="top" title="Block is not empty"{% endif %} >
                            <button data-block="block-{{ block.id }}"
                                    class="btn btn-sm btn-warning ml-1 mb-2 btn-block edit-block-form">
                                <i class="fa fa-edit"></i>
                            </button>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3 class="h3">Block Content</h3>
            <ul class="list-group">
                {% for key, block in page.blocks %}
                    {{ render(controller('PDPGeneratorBundle:Block:editIndividualBlock', { 'page': page.id,'block': block.id })) }}
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item mt-4 mr-4">
            <a target="_blank" href="{{ path('page_preview', {'page': page.id, 'jobNumber': page.title}) }}"
               class="nav-link btn btn-outline-info">
                <i class="fa fa-eye"></i> Preview page
            </a>
        </li>
        <li class="nav-item mt-4  mr-4">
            <a href="{{ path('page_download', {'page': page.id}) }}" class="nav-link btn btn-outline-info"><i
                        class="fa fa-download"></i> Download page
            </a>
        </li>
    </ul>
    {#<div class="row">#}
    {#<div class="col">#}
    {#<ul class="list-group">#}
    {#<li class="list-group-item">{{ "now"|date("d/m/Y") }} | No report to CRM team has been sent.</li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
{% endblock %}
 {% block scripts %}
     {{ parent() }}
     <script type="text/javascript" src="{{ asset("ckeditor/plugins/lineheight/plugin.js?v="~random(999)) }}"></script>
     <script type="text/javascript" src="{{ asset("ckeditor/plugins/lineheight/lang/en.js?v="~random(999)) }}"></script>
 {% endblock %}
