{% extends 'backend.html.twig' %}
{% set title = 'Page: '~ page.title ~' | Edit Layout' %}
    {% block mainTitle %} {{ title }}{% endblock %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="{{ path('page_index') }}"><i class="fa fa-html5"></i> Pages</a></li>
    <li class="breadcrumb-item"><a href="{{ path('page_edit', {'id': page.id}) }}"><i class="fa fa-html5"></i>
            {{ page.title }}</a></li>
    <li class="breadcrumb-item"><i class="fa fa-list-ol"></i> Edit Layout</li>
{% endblock %}
    {% block mainLinks %}
    {% endblock %}
{% block mainBody %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right-gray">
            <h3 class="h3">Available Blocks</h3>
            <ul class="list-group" id="blocks-avaiable">
                {% for key, block in availableBlocks %}
                    <li class="list-group-item category-selection">
                        {{ block }}
                        <span class="pull-right">
                            <img src="{{ asset('images/pdp_generator/'~key~'.png') }}" class="img-fluid max-thumb"
                                 alt="thumbnail image {{ block }}">
                            <button class="btn btn-success btn-sm block-add"
                                    data-block="{{ key }}"
                                    data-img="{{ asset('images/pdp_generator/'~key~'.png') }}"><i
                                        class="fa fa-plus"></i>&nbsp;&nbsp;Add Block</button>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3 class="h3">Selected Blocks<small>(Drag and drop to re-order)</small></h3>
            <ul class="list-group" id="blocks-selected"
                data-url="{{ path('page_block_edit_list', {'id':page.id}) }}">
                {% for key, block in page.blocks %}
                    <li class="list-group-item ui-sortable-handle" data-block="{{ block.code }}"
                        data-id="{{ block.id }}"
                        data-delete="{{ path('page_block_delete', {'page': page.id, 'block': block.id}) }}">
                        <img src="/images/pdp_generator/{{ block.code }}.png" class="img-fluid"
                             style="max-width: calc(100% - 40px);"><span class="pull-right"><button
                                    class="btn btn-sm btn-danger block-remove ml-1 mb-2 btn-block"><i
                                        class="fa fa-close"></i></button></span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item mt-4 mr-2">
            <button class="nav-link btn btn-success" id="blocks-submit"
                    data-url="{{ path('page_block_edit_list', {'id':page.id}) }}"><i class="fa fa-edit"></i>  Update Layout
            </button>
        </li>

        <li class="nav-item mt-4">
            <a class="nav-link btn btn-info {% if page.blocks is empty %}hidden{% endif %}" id="blocks-go-block-page"
               href="{{ path('page_block_edit_individual_list', {'id':page.id}) }}">  <i class="fa fa-list-alt"></i> Go to Edit Content
            </a>
        </li>

    </ul>
{% endblock %}