{% extends 'login.html.twig' %}
{%  block mainBody %}
    <div class="">
    <div class="jumbotron background-white">

        <form action="{{ path('security_login-check') }}" method="post">
            <div class="text-center header">
                <img src="{{ asset('images/eLab_logo_thumb.jpg') }}" alt="elab logo"> eLab Tools
            </div>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                </div>
            {% endif %}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="form-control" name="_username" placeholder="Username" value="{{ last_username }}" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="_password" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <br>
            <button class="btn btn-success" type="submit">login</button>
        </form>
    </div>
    </div>
{% endblock %}