<div class="accordion mb-5" id="accordionParameters">
    <div class="card">
        <div class="card-header" id="headingOne">
                <button class="btn btn-sm btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                   Parameters available
                </button>
        </div>

        <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordionParameters">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">PARAMETERS</th>
                        <th scope="col">USES</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>&#123;&#123; parameters.preHeader &#125;&#125;</td>
                        <td>Pre-text header text</td>
                    </tr>
                    <tr>
                        <td>&#123;&#123; parameters.utm|default('?NO_UTM_SET_UP') &#125;&#125;</td>
                        <td>UTM CODE</td>
                    </tr>
                    <tr>
                        <td>&#123;&#123; parameters.domain &#125;&#125;</td>
                        <td>Domain</td>
                    </tr>
                    <tr>
                        <td>&#123;&#123; parameters.bu &#125;&#125;</td>
                        <td>Standard code of BU</td>
                    </tr>
                    <tr>
                        <td> &#123;&#123; parameters.MCHCodes &#125;&#125;</td>
                        <td>Standard codes for MCH</td>
                    </tr>
                    <tr>
                        <td>&#123;&#123; parameters.backgroundColour &#125;&#125;</td>
                        <td>Email Background colour (Not available for all templates)</td>
                    </tr>
                    <tr>
                        <td>&#123;&#123; parameters.imagespath &#125;&#125;</td>
                        <td>Path to images folder</td>
                    </tr>
                     <tr>
                        <td>&#123;&#123; parameters.termsAndConditions|raw &#125;&#125;</td>
                        <td>Terms and conditions</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>