{% extends 'backend.html.twig' %}
{% block help %}
    <li class="nav-item">
        <a href="{{ asset('/documentation/email_generator/Email_new_edit_page.pdf') }}"
           target="_blank" class="nav-link" data-toggle="tooltip" data-placement="bottom"
           title="Do you need help?">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Help
        </a>
    </li>
{% endblock %}
{% set title = 'New Layout' %}
{% block breadcrumbItems %}
    <li class="breadcrumb-item"><a href="{{ path(actions.list.path) }}"> <i class="fa fa-object-group"></i> Layouts</a></li>
    <li class="breadcrumb-item"><i class="fa fa-object-ungroup"></i> {{ title }}</li>
{% endblock %}
    {% block mainLinks %}
        {% include 'EmailGeneratorBundle:Layout:_parameters.html.twig' %}
    {% endblock %}
{% block mainTitle %} {{ title }}{% endblock %}
{% block mainBody %}
    {% include 'AppBundle:common:_form.html.twig' %}
{% endblock %}
