<!--COMPACT APP DOWNLOAD BANNER-->
<tr>
    <td>
        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #d2bfdb;" width="640">
            <tbody>
            <tr>
                <td width="106" rowspan="4">
                    <img src="http://www.marionnaud.ro/elab/mro/Email/2017MRO2142/phone-screen.jpg" alt="Phone" style="display:block" title="Phone"/>
                </td>
                <td align="center" colspan="2" style="color: white; font-family: Arial, serif;">
                    <span style="font-size: 20px; text-transform: uppercase; font-weight: bold; color: #702771;"><br/>DESCARCA APLICATIA MOBILA<br/><br/></span>
                </td>
                <td width="121" rowspan="4">
                    <img src="http://www.marionnaud.ro/elab/mro/Email/2017MRO2142/pencils.jpg" alt="Makeup" style="display:block" title="Makeup"/>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top" style="text-align: center;">
                    <a href="https://itunes.apple.com/ro/app/marionnaud/id1021924260?mt=8{{  parameters.utm }}"><img alt="iTunes Apple App Download Button" src="http://www.marionnaud.ro/elab/mro/Email/2017MRO2142/app-store-download-btn.png" style="border:none;margin:0;"/></a>
                </td>
                <td align="center" valign="top" style="text-align: center;">
                    <a href="https://play.google.com/store/apps/details?id=ro.marionnaud.customer&hl=ro{{  parameters.utm }}"><img alt="Google Play Android App Download Button" src="http://www.marionnaud.ro/elab/mro/Email/2017MRO2142/play-store-download-btn.png" style="border:none;margin:0;"/></a>
                </td>
            </tr>
            <tr>
                <td align="center" style="text-align: center;" height="6">
                </td>
                <td align="center" style="text-align: center;" height="6">
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!--END COMPACT APP DOWNLOAD BANNER-->

<!-- SPACER -->
<tr>
    <td height="20" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
<!-- END SPACER -->

<!-- LOYALTY SECTION BANNER -->

<tr>
    <td align="center" style="text-align: center;">
        <a href="http://www.marionnaud.ro/card-de-loialitate{{  parameters.utm }}"><img src="http://www.marionnaud.ro/elab/mro/Email/2017MRO2401/2017CRM1622---Email---Member-Benefits-footer-update---FV.jpg"  alt="Loyalty Benefits"  style="display:block" title="Loyalty Benefits"/></a>
    </td>
</tr>

<!-- END LOYALTY SECTION BANNER -->

<tr>
    <td align=“center”>&nbsp;</td>
</tr>


<tr>
    <td align=“center”>&nbsp;</td>
</tr>


<tr>
    <td style="border-top: #702785 1px dotted">&nbsp;</td>
</tr>

<!-- SERVICE ICONS -->


<tr>
    <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
            <tbody>
            <tr>
                <td>&nbsp;</td>

                <td align="center">
                    <a href="http://www.marionnaud.ro/informatii-despre-livrare{{  parameters.utm }}"><img alt="costuri de transport" src="http://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_Delivery-Services-MRO-80x85px_1.jpg"></a>
                </td>

                <td>&nbsp;</td>

                <td align="center">
                    <a href="http://www.marionnaud.ro/card-de-loialitate{{  parameters.utm }}"><img alt="Card de Loialitate" src="http://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_LoyalityCard-Services-MRO-80x85px_1.jpg"></a>
                </td>

                <td>&nbsp;</td>

                <td align="center">
                    <a href="http://www.marionnaud.ro/vanzator-autorizat{{  parameters.utm }}"><img alt="vânzător autorizat" src="http://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_AutorisedDealer-MRO-80x85px_1.jpg"></a>
                </td>

                <td>&nbsp;</td>

                <td align="center">
                    <a href="http://www.marionnaud.ro/gaseste-filiala{{  parameters.utm }}"><img alt="gaseste magazinul" src="http://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_storeFinder-MRO-80x85px_1.jpg"></a>
                </td>

                <td>&nbsp;</td>

                <td align="center">
                    <a href="http://www.marionnaud.ro/contact{{  parameters.utm }}"><img alt="contact Marionnaud" src="http://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_Chat-Services-MRO-80x85px_1.jpg"></a>
                </td>

                <td>&nbsp;</td>

                <td align="center"><img alt="WhatsApp Marionnaud" src="http://www.marionnaud.ro/elab/mro/Email/2016MRO810/2016MRO810_Email-Footer_whatsapp-Services-MRO-80x85px_1.jpg">
                </td>

                <td>&nbsp;</td>
            </tr>


            <tr>
                <td>&nbsp;</td>

                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #702785" valign="top" width="100">TRANSPORT GRATUIT<br>
                    PESTE 190 LEI</td>

                <td>&nbsp;</td>

                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #702785" valign="top" width="100">CARD DE FIDELITATE</td>

                <td>&nbsp;</td>

                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #702785" valign="top" width="100">VÂNZĂTOR AUTORIZAT</td>

                <td>&nbsp;</td>

                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #702785" valign="top" width="100">GĂSEȘTE MAGAZINUL</td>

                <td>&nbsp;</td>

                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #702785" valign="top" width="100">CONTACT</td>

                <td>&nbsp;</td>

                <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px; color: #702785" valign="top" width="100">WHATSAPP<br>
                    0733 330 771</td>

                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- END SERVICE ICONS -->


<tr>
    <td>&nbsp;</td>
</tr>


<tr>
    <td style="border-top: #702785 1px dotted">&nbsp;</td>
</tr>


<tr>
    <td>&nbsp;</td>
</tr>


<tr>
    <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px;">
        <strong>Informaţii:</strong>: 0214110694- De Luni până Vineri, între 9:00-17:30<br>
        <strong>E-Mail:</strong> <a href="mailto:office@marionnaud.ro" style="color: #646768; text-decoration: none">office@marionnaud.ro</a><br>
        <%@ include view='aswUnsubMRO' %><br>
        <img src="https://survey.eu.aswatson.net/barcode/tCBR/h100/s1/v<%=encodeURIComponent(''+targetData.card_Num +'').replace(/%2F/gi,'/')%>/barcode.gif" alt="barcode">
        © 2011-{{ "now"|date("Y") }} Marionnaud. Toate drepturile rezervate.<br>
        <a href="http://www.marionnaud.ro/termenii-si-conditiilee{{  parameters.utm }}" style="color: #646768" target="_blank">Termeni şi condiţii</a> | <a href="http://www.marionnaud.ro/toate-magazinele{{  parameters.utm }}" style="color: #646768" target="_blank">Hartă site</a>
    </td>
</tr>


<tr>
    <td align="center" style="font-family:Arial, sans-serif, Gotham, 'Helvetica Neue', Helvetica; font-size:11px;">
        <br>
        {{ parameters.termsAndConditions|raw }}
    </td>
</tr>
<!-- END FOOTER -->
</tbody>
</table>
<!-- END CONTAINER TABLE -->
<!-- END WRAPPER TABLE -->
</body>
</html>