<!--------------------------- APP BANNER ---------------------------->


<!--------------------------- SPACER ---------------------------->
<tr>
    <td style="font-size:1px; line-height:1px;" height="40">&nbsp;</td>
</tr>
<!--------------------------- SPACER ---------------------------->

<tr>
    <td style="font-size:1px; line-height:1px;" height="30"><a
                href="https://www.drogas.lv/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
            <img class="deviceWidth" src="https://www.drogas.lv/elab/drlv/email/2018DRG2682/drogas-app3.jpg"
                 alt="Drogas" style="display:block" title="Drogas"
                 border="0" width="640"></a>
    </td>
</tr>


<!--------------------------- APP BANNER ---------------------------->


<!--------------------------- Drogas FOOTER START ---------------------------->
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
       bgcolor="#ececec">
    <tr>
        <td bgcolor="#0097a9" style="font-size:1px; line-height:1px; ">
            <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth">
                <tr>
                    <td style="font-size:1px; line-height:1px; color: #ffffff;">
                        <table width="25%" border="0" cellspacing="0" cellpadding="0" align="left"
                               class="deviceHalfWidth">
                            <tbody>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" align="center"><a
                                            href="https://www.drogas.lv/lv/Akcijas{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img src="https://www.drogas.lv/elab/drlv/email/2018DRG2682/drogas-euro.jpg"
                                             alt="Akcijas"
                                             style="display:block" border="0" width="75"></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:10px; line-height:12px; letter-spacing: 1px;" align="center"><span
                                            style="text-transform: uppercase; color: #ffffff;"><strong>Akcijas</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="24%" border="0" cellspacing="0" cellpadding="0" align="left"
                               class="deviceHalfWidth">
                            <tbody>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" align="center"><a
                                            href="https://www.drogas.lv/lv/stores{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img src="https://www.drogas.lv/elab/drlv/email/2018DRG2682/drogas-stores.jpg"
                                             alt="Veikali"
                                             style="display:block" border="0" width="75"></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase; color: #ffffff;"
                                    align="center"><strong>Veikali</strong></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="24%" border="0" cellspacing="0" cellpadding="0" align="left"
                               class="deviceHalfWidth">
                            <tbody>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" align="center"><a
                                            href="https://www.drogas.lv/lv/login{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img src="https://www.drogas.lv/elab/drlv/email/2018DRG2682/drogas-card.jpg"
                                             alt="Reģistrācija"
                                             style="display:block" border="0" width="75"></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase; color: #ffffff;"
                                    align="center"><strong>Reģistrācija</strong></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                        <table width="25%" border="0" cellspacing="0" cellpadding="0" align="left"
                               class="deviceHalfWidth">
                            <tbody>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" align="center"><a
                                            href="https://www.drogas.lv/lv/jaunumi/jaunumi/c/J{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img src="https://www.drogas.lv/elab/drlv/email/2018DRG2682/drogas-jaunumi.jpg"
                                             alt="Jaunumi"
                                             style="display:block" border="0" width="75"></a></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:10px; line-height:12px; letter-spacing: 1px; text-transform: uppercase; color: #ffffff;"
                                    align="center"><strong>Jaunumi</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ececec" style="font-size:1px; line-height:1px;">
            <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth">
                <tbody>
                <tr>
                    <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                </tr>
                <tr>
                    <td class="repading" style="font-size:16px; line-height:19px;" align="center"><p
                                class="mobileFooteraddresstext"
                                style="color: #b2b2b2; letter-spacing: 1px; font-size:11px; line-height:18px;"
                                align="center">
                            <img src="https://survey.eu.aswatson.net/barcode/t128/h100/s1/v<%= encodeURIComponent('' +  targetData.card_Num  + '').replace(/%2F/gi,'/')%>/barcode.gif"
                                 alt="barcode"><br>
                            <br/>
                        </p>
                        <p style="color: #000000; font-weight: bold; line-height: 26px;">Tava elektroniskā Drogas
                            klienta karte.<br/>Uzrādi šo svītru kodu pie kases!<br/>
                            &nbsp; </p>
                        <p style="color: #000000; font-weight: bold; font-size: 10px;"> Pievienojies: </p></td>
                </tr>

                <!--------------------------- Social Media  ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;" align="center" class="doublerepading">
                        <table width="200" border="0" cellspacing="0" cellpadding="0" align="center"
                               class="deviceWidth">
                            <tbody>
                            <tr>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26"><a
                                            href="https://www.facebook.com/DrogasLatvija{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img src="https://www.drogas.lv/elab//drlv/email/2018DRG2682/drogas-facebook.jpg"
                                             alt="facebook"
                                             style="display:block" border="0" width="38"></a></td>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26">&nbsp;</td>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26"><a
                                            href="https://www.draugiem.lv/drogas/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.drogas.lv/elab//drlv/email/2018DRG2682/drogas-social.jpg"
                                                alt="social"
                                                style="display:block" border="0" width="38"></a></td>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26">&nbsp;</td>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26"><a
                                            href="https://www.youtube.com/user/DrogasLatvija{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.drogas.lv/elab//drlv/email/2018DRG2682/drogas-youtube.jpg"
                                                alt="youtube"
                                                style="display:block" border="0" width="38"></a></td>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26">&nbsp;</td>
                                <td align="center" style="font-size:1px; line-height:1px;" width="26"><a
                                            href="https://www.instagram.com/DrogasLatvija/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">
                                        <img
                                                src="https://www.drogas.lv/elab//drlv/email/2018DRG2682/drogas-instagram.jpg"
                                                alt="instagram"
                                                style="display:block" border="0" width="38"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!--------------------------- Social Media  ---------------------------->

                <tr>
                    <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td class="repading" style="font-size:11px; line-height:18px;" align="center"><p
                                class="mobileFooteraddresstext" style="color: #6e6e6e; letter-spacing: 1px;"> Šo
                            sūtījumu Jums kā Pastāvīgā Klienta kartes īpašniekam sūta <a style="text-decoration: none; color: #0097a9
                               " href="http://www.aswatson.com/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">AS
                                Drogas</a> <br/>
                            Dzirnavu iela 57, Rīga, LV - 1010, Latvija<br/>
                            <strong>Tel:</strong> +371 67084800 <br/>
                            <strong>Fax: </strong>+371 67084850 <br/>
                            <strong>E-mail:</strong> <a style="text-decoration: none; color: #0097a9"
                                                        href="mailto:drogas@drogas.lv">drogas@drogas.lv</a> <br/>
                            <br/>
                            <a style="text-decoration: none; color: #0097a9"
                               href="http://www.drogas.lv/{{ parameters.utm|default('?NO_UTM_SET_UP') }}">www.drogas.lv</a>
                            <br/>
                            <br/>
                            <%@ include view='aswUnsubDGLV' %>
                            <br/>
                            <br/>`
                            © Drogas - Visi šajā vietnē esošie materiāli pieder AS Drogas un uz tiem attiecas
                            autortiesību aizsardzība saskaņā ar Latvijas likumdošanu. </p>
                        <p class="mobileFooteraddresstext" style="color: #6e6e6e; letter-spacing: 1px;">
                            {{ parameters.termsAndConditions|raw }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:1px; line-height:1px;" height="30">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table></td>
</tr>
</table>
<!--------------------------- MASTER WRAPPER ENDING---------------------------->

</body>
</html>