<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <style>
        div, p, a, li, td {
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }
        body {
            width: 100%;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: verdana, Helvetica, Verdana;
        }
        /* Outlook link fix */
        #outlook a {
            padding: 0;
        }
        /* Hotmail background & line height fixes */
        .ExternalClass {
            width: 100% !important;
        }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }
        table td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        /* Image borders & formatting */
        img {
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }
        a img {
            border: none;
        }
        /* Re-style iPhone automatic links (eg. phone numbers) */
        .applelinks a {
            color: #000001;
            text-decoration: none;
        }
        .appleBody a {
            color: #000001;
            text-decoration: none;
        }
        .appleFooter a {
            color: #000001;
            text-decoration: none;
        }
        /* Hotmail symbol fix for mobile devices */
        .ExternalClass img[class^=Emoji] {
            width: 10px !important;
            height: 10px !important;
            display: inline !important;
        }
        .hideONdesktop {
            display: none !important;
            mso-hide: all; /* Outlook clients*/
            font-size: 0;
            max-height: 0;
            line-height: 0;
        }
        .hideONmobile {
            display: block !important;
        }
        .hideONmobileNav {
            display: inline-table;
        }

        /* ---------------- MOBILE CODE ---------------- */
        @media only screen and (max-width: 480px) {
            .hideONdesktop {
                display: block !important;
                mso-hide: all !important; /* Outlook clients*/
                visibility: visible !important;
                max-height: 100px !important;
                width: 100% !important;
                line-height: 16px !important;
                overflow: visible !important;
            }
            .hideONmobile {
                display: none !important;
                mso-hide: all !important; /* Outlook clients*/
            }
            .hideONmobileNav {
                display: none !important;
                mso-hide: none; /* Outlook clients*/
            }
            .mobcenter {
                text-align: center;
            }
            .mobcenter img {
                display: block;
                margin: 0 auto;
            }
            .noborder {
                border: none !important;
            }
            .lastproductof3 {
                width: 180px !important;
            }
            table.deviceHalfWidth {
                width: 47.5%;
            }
            table.deviceQuarterWidth {
                width: 25%;
            }
            table.devicethirdWidth {
                width: 33%;
            }
            table.deviceWidth3rowproduct3 {
                width: 93%;
            }
            img.deviceWidth {
                width: 300px !important;
            }
            body[yahoo] .deviceWidth {
                width: 100% !important;
                padding: 0 !important;
            }
            body[yahoo] table[class="hide"], body[yahoo] img[class="hide"], body[yahoo] td[class="hide"] {
                display: none !important;
            }
            *[class].float {
                float: left !important;
            }
            body[yahoo] td.repading {
                padding-left: 15px;
                padding-right: 15px;
            }
            body[yahoo] td.doublerepading {
                padding-left: 30px;
                padding-right: 30px;
            }
            .mobileFooterlinks {
                font-size: 8px;
            }
            .mobileFooteraddresstext {
                font-size: 9px;
            }

            .mobcenter {
                text-align: center;
            }
        }
    </style>
</head>

    <body yahoo="fix" bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0"
      style="-webkit-font-smoothing:antialiased;width:100% !important;background-color:#ffffff; background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;-webkit-text-size-adjust:none;">

<!-- Gmail hack -->
<div style="display:none; white-space:nowrap; font:10px verdana; color:#ffffff; line-height:0; width:640px !important; min-width:640px !important; max-width:600px !important;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
<!-- /Gmail hack -->

<!--------------------------- MASTER WRAPPER ---------------------------->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td bgcolor="{{ parameters.backgroundColour| default('#ffffff') }}"><table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                                     bgcolor="#ffffff">
                <!---------------------------Preview text and View online link ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;"><table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                                                                       bgcolor="#FFFFFF">
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-size:10px; line-height:14px; color: #060606; letter-spacing: 1px;" align="center"> {{ parameters.preHeader }} |
                                    <%@ include view='aswMirrorPageDGLV' %>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                            </tr>
                        </table></td>
                </tr>
                <!---------------------------Preview text and View online link ---------------------------->
                <!---------------------------Drogas Logo  ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;" align="center"><table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                                                                                      bgcolor="#FFFFFF">
                            <tbody>
                            <tr>
                                <td align="center" style="font-size:12px; line-height:16px;"><a href="https://www.drogas.lv/{{ parameters.utm|default('?NO_UTM_SET_UP') }}" alt="Drogas" style="display:block" border="0"> <img src="https://www.drogas.lv/elab/drlv/email/2018DRG2682/DROGAS.jpg" alt="Drogas" style="display:block" border="0" width="197"></a></td>
                            </tr>
                            </tbody>
                        </table></td>
                </tr>
                <!---------------------------Drogas Logo  ---------------------------->

                <!---------------------------Personalisation  ---------------------------->
                <tr>
                    <td style="font-size:1px; line-height:1px;" align="center"><table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"  bgcolor="#FFFFFF">
                            <tbody>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" style="font-size:10px; line-height:13px; color: #0097a9;"><span style="color: #6e6e6e">Labdien</span>
                                    <strong> <%= recipient.firstName %>! &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; </strong>
                                    <span style="color: #6e6e6e">Klienta kartes numurs:</span>
                                    <strong><%= TARGETDATA.CARD_NUM %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</strong>
                                    <span style="color: #6e6e6e">Uzkrātie punkt:</span>
                                    <strong><%= TARGETDATA.POINT_BAL_VAL %></strong></td>
                            </tr>
                            <tr>
                                <td style="font-size:1px; line-height:1px;" height="20">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table></td>
                </tr>
                <!---------------------------Personalisation  ---------------------------->
            </table>

            <!---------------------------BLUE DIVIDER ---------------------------->

            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                   bgcolor="#ffffff">
                <tr>
                    <td height="7" style="font-size:1px; line-height:1px; background-color:#0097a9;"></td>
                </tr>
            </table>

            <!---------------------------BLUE DIVIDER ---------------------------->

            <!---------------------------EMAIL HEADER ENDS HERE---------------------------->

            <!---------------------------CONTENT STARTS HERE  ---------------------------->

            <table width="640" border="0" cellspacing="0" cellpadding="0" align="center" class="deviceWidth"
                   bgcolor="#ffffff">
        